<mat-card *ngIf="!responseResultPay else resultTemplate" [class.marchamos--four-step-height]="stepperIndex === 3"
          [class.marchamos--second-step-height]="stepperIndex === 1"
          class="marchamos"
          credixCard fxLayout="column">

  <h1 class="marchamos__title">Marchamo</h1>

  <credix-stepper #stepper class="marchamos__stepper">

    <cdk-step [stepControl]="consultForm" fxLayout="column" label="Consultar">
      <app-marchamo-first-step
        [consultForm]="consultForm">
      </app-marchamo-first-step>
    </cdk-step>

    <cdk-step [label]="'Seguros y cuotas'" [stepControl]="secureAndQuotesForm" fxLayout="column">
      <app-marchamo-second-step [isActive]="stepperIndex === 1"
                                [secureAndQuotesForm]="secureAndQuotesForm"></app-marchamo-second-step>
    </cdk-step>

    <cdk-step [label]="'Lugar de retiro'" [stepControl]="pickUpForm">
      <app-marchamo-third-step
        [isActive]="stepperIndex === 2"
        [pickUpForm]="pickUpForm"></app-marchamo-third-step>
    </cdk-step>

    <cdk-step [label]="'Confirmar'" [stepControl]="confirmForm">
      <app-marchamo-fourth-step
        [confirmForm]="confirmForm"
        [isActive]="stepperIndex === 3"></app-marchamo-fourth-step>
    </cdk-step>

  </credix-stepper>

  <div class="marchamos__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button (buttonClick)="consult()" *ngIf="stepperIndex === 0" [disabled]="consultForm.invalid"
                     text="Consultar" type="secondary"></credix-button>
      <credix-button (buttonClick)="back()" *ngIf="stepperIndex > 0" text="Atrás" type="secondary"></credix-button>
      <credix-button (buttonClick)="continue()" *ngIf="stepperIndex < 3" [disabled]="disableButton"
                     [text]="'Continuar'"></credix-button>
      <credix-button (buttonClick)="confirmModal()" *ngIf="stepperIndex === 3" [disabled]="disableButton"
                     [text]="'Transferir'"></credix-button>
    </div>
  </div>

</mat-card>

<ng-template #resultTemplate>

  <mat-card class="marchamos__pay" credixCard fxLayout="column">

    <h1 class="marchamos__title">Marchamo</h1>

    <app-payment-summary
      (responseResultPayChanged)="getAnotherPay($event)"
      [responseResultPay]="responseResultPay"
      [resultPay]="responseToPay">
    </app-payment-summary>

  </mat-card>

</ng-template>
