<div class="marchamos" fxLayout="column">
  <h1 class="marchamos__title">Marchamo</h1>

  <credix-stepper #stepper class="marchamos__stepper">
    <cdk-step [label]="'Consultar'" [stepControl]="consultForm" fxLayout="column" fxLayoutAlign="space-around">

      <div class="marchamos__container">
        <form [formGroup]="consultForm" fxLayout="row" class="marchamos__form--step-1" fxLayoutGap="150px">
          <h3 class="marchamos__sub-title">Vehículo a consultar</h3>

          <div fxLayout="column" class="marchamos__inputs">
            <mat-form-field appearance="standard">
              <mat-label>Tipo de vehículo</mat-label>
              <mat-select formControlName="VehicleType">
                <mat-option *ngFor="let  of " [value]="">
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>
                Número de placa
              </mat-label>
              <label>
                <input formControlName="plateNumber" matInput type="text">
              </label>
            </mat-form-field>

          </div>

        </form>
        <mat-divider></mat-divider>
        <div fxLayout="row" class="marchamos__information" fxLayoutGap="119px">
          <h3 class="marchamos__sub-title" fxFlex="50">Información del vehículo</h3>
          <div fxLayout="column" fxLayoutGap="64px">
            <ul class="marchamos__list">
              <li fxLayoutGap="183px"><label>Propietario</label> <span>Sergio Marquina</span></li>
              <li fxLayoutGap="277px"><label>Marca</label> <span>Yamaha</span></li>
              <li fxLayoutGap="315px"><label>Año</label> <span>2012</span></li>
              <li fxLayoutGap="224px"><label>Períodos adeudados</label> <span>0</span></li>
              <li fxLayoutGap="207px"><label>Período (s) a pagar</label> <span>2019</span></li>
            </ul>
          </div>
        </div>

      </div>

      <mat-divider></mat-divider>
      <div class="marchamos__buttons" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end">

        <credix-button text="Consulta" type="secondary">
        </credix-button>

        <credix-button [stepper]="stepper" (buttonClick)="continue()" credixStepperNext text="continuar">
        </credix-button>
      </div>
    </cdk-step>

    <cdk-step [label]="'Seguros y. cuotas'">
      <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
        <credix-button [stepper]="stepper" credixStepperPrevious text="Atras" type="secondary"></credix-button>
        <credix-button [stepper]="stepper" credixStepperNext text="continuar">
        </credix-button>
      </div>
    </cdk-step>

    <cdk-step [label]="'Lugar de retiro'">
      <form [formGroup]="consultForm" fxLayout="column" class="marchamos__form--step-1" fxLayoutGap="150px">
        <div fxLayout="row" fxLayoutGap="163px" class="marchamos__top-row">
          <h3 class="marchamos__sub-title__first">Correo electrónico</h3>

          <div fxLayout="column" class="marchamos__inputs__first">

            <mat-form-field appearance="standard" credixTextField>
              <mat-label>
                Correo registrado
              </mat-label>
              <label>
                <input formControlName="plateNumber" matInput type="email">
              </label>
            </mat-form-field>

          </div>
        </div>
        <mat-divider class="marchamos__places-divider"></mat-divider>
        <div fxLayout="row" fxLayoutGap="191px" class="marchamos__bottom-row">
          <h3 class="marchamos__sub-title">Lugar de retiro</h3>

          <div fxLayout="column" class="marchamos__radio-button">
            <credix-radio-button [checked]="false" [value]="1" label="Sucursales Credix" name="a"></credix-radio-button>
            <div class="marchamos__inputs-hidden">
              <mat-form-field appearance="standard" credixTextField>
                <mat-label>
                  Seleccione la más cercana
                </mat-label>
                <mat-select formControlName="VehicleType">
                  <mat-option *ngFor="let  of " [value]="">
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <credix-radio-button [checked]="false" [value]="2" label="Domicilio" name="x"></credix-radio-button>
            <div class="marchamos__inputs-hidden">
              <mat-form-field appearance="standard" credixTextField>
                <mat-label>
                  Dirección
                </mat-label>
                <label>
                  <input formControlName="plateNumber" matInput type="text">
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>

      </form>
      <mat-divider class="marchamos__divider-footer"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px" class="marchamos__buttons-footer">
        <credix-button [stepper]="stepper" credixStepperPrevious text="Atras" type="secondary"></credix-button>
        <credix-button [stepper]="stepper" (buttonClick)="continue()" credixStepperNext text="continuar">
        </credix-button>
      </div>
    </cdk-step>



    <cdk-step [label]="'Confirmar'">

      <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
        <credix-button [stepper]="stepper" credixStepperPrevious text="Atras" type="secondary"></credix-button>
        <credix-button [stepper]="stepper" credixStepperNext text="Finalizar"></credix-button>
      </div>
    </cdk-step>

  </credix-stepper>

</div>
