.menu_messages {
  border-top: 2px solid #E9E9E9;
  padding: 0 16px 0 16px;
  background: #FFFFFF;
  position: sticky;
  -webkit-position: sticky;
  -ms-position: sticky;
  -moz-position: sticky;
  -o-position: sticky;
  bottom: 0;
  height: 61px;

  &__label--color {
    color: #696d6f;
  }
}
