<div class="h-100" fxLayout="column" style="margin-top: 40px">
  <credix-stepper-sign-up #stepper class="modal-new-user__stepper">

    <cdk-step [label]="'Identificación'" [stepControl]="newUserFirstStepForm">
      <form [formGroup]="newUserFirstStepForm"
            class="modal-new-user_first-form"
            fxLayout="column"
            style="margin-top: 40px !important;"
            fxLayoutGap="space-between">

        <span class="modal-new-user__stepper--parrafe">Ingrese los siguientes datos para validar su usuario y generar su nueva clave.</span>

        <div class="modal-new-user__first-form__input-wrapper" fxLayout="column">
          <credix-select formControlName="typeIdentification" label="Tipo de identificación">
            <mat-option *ngFor="let identificationType of identificationTypes" [value]="identificationType.id">
              {{identificationType.description}}
            </mat-option>
          </credix-select>

          <credix-input-field [mask]="identificationMask" formControlName="identification"
                              focusLabel="Identificación"
                              label="Digite su identificación">
                <span *ngIf="newUserFirstStepForm.controls.identification.hasError('invalid')"
                      class="error-span" error>
          {{errorMessage}}
        </span>
          </credix-input-field>
        </div>

        <credix-button
          (buttonClick)=informationUser()
          [disabled]="!newUserFirstStepForm.valid || !(newUserFirstStepForm.controls.identification.value)"
          class="modal-new-user__button step-one"
          fxFlexAlign="flex-start">Continuar
        </credix-button>
      </form>
    </cdk-step>

    <cdk-step [label]="'Medio de contacto'" [stepControl]="selectOptionToSendOTP">
      <div class="mt-24px" fxLayout="column">

        <span class="mt-24px mb-24px">Seleccione cómo desea recibir el código de confirmación:</span>

        <credix-radio-button (emitRadioButton)="onChangeSelectOtpToSend($event)"
                             [label]="phoneLabel"
                             [value]="2" class="mb-16px"
                             name="otpOption">

        </credix-radio-button>

        <credix-radio-button (emitRadioButton)="onChangeSelectOtpToSend($event)"
                             [label]="mailLabel"
                             [value]="1"
                             name="otpOption">

        </credix-radio-button>


        <p class="modal-new-user__stepper--parrafe info mb-24px" style="margin-top: 169px;">Si este no es su
          teléfono/correo o ya no tiene acceso a él, por
          favor, comuníquese con nuestro call center 22 CREDIX (<strong style="color: #239DF7;">2227-3349</strong>)
          o visite una de nuestras sucursales para solicitar el cambio. Al ingresar a la aplicación puede cambiar su
          correo.</p>

        <div class="actions-footer" fxFlex="100%" fxLayout="row">
          <credix-button (buttonClick)="back()" class="mr-16px" style="width: 71px;" type="secondary">
            Atrás
          </credix-button>


          <credix-button
            (buttonClick)=sendOtp()
            [disabled]="!selectOptionToSendOTP.valid"
            class="step-two"
            fxFlexAlign="flex-start"
            style="width: 441px;">Continuar
          </credix-button>
        </div>
      </div>
    </cdk-step>

    <cdk-step [label]="'Validación'" [stepControl]="newUserSecondStepForm">

      <p *ngIf="selectOptionToSendOTP.value === 2" class="modal-new-user__stepper--parrafe mt-16px">Ingrese el código
        que hemos
        enviado al teléfono
        registrado: {{phoneNumber}}</p>

      <p *ngIf="selectOptionToSendOTP.value === 1" class="modal-new-user__stepper--parrafe mt-16px">
        Ingrese el código que hemos enviado al correo: {{mail}}</p>

      <p class="modal-new-user__stepper--parrafe mt-16px mb-16px">El código es válido por: <b>10 minutos</b></p>


      <form [formGroup]="newUserSecondStepForm" fxLayout="column">

        <credix-code-input class="w-100 mb-32px" formControlName="credixCode">
          <span *ngIf="newUserSecondStepForm.controls.credixCode.hasError('invalid')" error>
            El código de seguridad es inválido</span>
        </credix-code-input>

        <div class="mb-24px" fxLayout="column" fxLayoutAlign="start center">
          <span>¿No ha recibido el código?</span>
          <credix-link-button (click)=sendOtp()>Enviar nuevamente</credix-link-button>
        </div>

        <p class="modal-new-user__stepper--parrafe info" style="margin-top: 96px">Si este no es su teléfono/correo o ya
          no tiene acceso a él, por
          favor, comuníquese con nuestro call center 22 CREDIX (<strong style="color: #239DF7;">2227-3349</strong>)
          o visite una de nuestras sucursales para solicitar el cambio. Al ingresar a la aplicación puede cambiar su
          correo.</p>


        <div class="actions-footer" fxFlex="100%" fxLayout="row">
          <credix-button (buttonClick)="back()" class="mr-16px" style="width: 71px;" type="secondary">
            Atrás
          </credix-button>

          <credix-button
            (buttonClick)=validateOtp()
            [disabled]="!newUserSecondStepForm.valid"
            class="step-two"
            fxFlexAlign="flex-end"
            style="width: 441px;">Continuar
          </credix-button>
        </div>

      </form>
    </cdk-step>

    <cdk-step [label]="'Clave'" [stepControl]="newUserThirdStepForm">
      <form [formGroup]="newUserThirdStepForm" class="modal-new-user__third-form" fxLayout="column"
            style="margin-top: 40px">

        <p class="modal-new-user__stepper--parrafe">Ingrese su nueva clave.</p>

        <credix-input-field [credixPasswordFieldTooltip]="newUserThirdStepForm.controls.newPassword"
                            [tooltipWidth]="296" [type]="hidePassword ? 'password' : 'text'"
                            class="modal-new-user__third-form__input-pass" focusLabel="Clave"
                            formControlName="newPassword"
                            label="Digite su clave"
                            panelClass="sign-in-password-panel">
          <mat-icon (click)="hidePassword = !hidePassword" [svgIcon]="hidePassword ? 'eye-outline' : 'eye-off-outline'"
                    suffix></mat-icon>
        </credix-input-field>

        <credix-input-field formControlName="confirmPassword"
                            class="modal-new-user__third-form__input-pass mt-16px"
                            focusLabel="Clave" label="Confirme su nueva clave"
                            [type]="hideConfirmPassword ? 'password' : 'text'">
          <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword"
                    [svgIcon]="hideConfirmPassword ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
        </credix-input-field>

        <credix-button
          (buttonClick)=submit()
          [disabled]="!newUserThirdStepForm.valid"
          class="modal-new-user__button step-three"
          fxFlexAlign="flex-start">Listo
        </credix-button>
      </form>
    </cdk-step>

  </credix-stepper-sign-up>
</div>
