<div class="changePin">
  <mat-card credixCard fxFlex="100">
  <h1>Cambiar PIN</h1>
  <div class="changePin__content" *ngIf="!showResponse">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <span class="changePin__content__title">Nuevo Pin</span>
      <div fxLayout="column" class="tr">
        <form [formGroup]="changePinForm">
        <credix-input-field [credixPasswordFieldTooltip]="changePinForm.controls.pin"
                          [type]="hide ? 'password' : 'text'" class="changePin__input"
                          focusLabel="Clave" formControlName="pin" label="Nuevo PIN"
                          panelClass="sign-in-password-panel"
                          tooltipOffsetY="2" tooltipType="pin" maxLength="4"
                          minLength="4">
        <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
      </credix-input-field>

      <credix-input-field class="changePin__input" formControlName="confirmpin"
                          label="Confirme su nuevo PIN"
                          [type]="type" maxLength="4" minLength="4">
        <mat-icon (click)="hide = !hide; type = hide === true ? 'password': 'text'"
                  [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
      </credix-input-field>
    </form>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-16px">
      <div fxLayout="column">
        <span class="changePin__content__title">Código MiCredix</span>
        <span class="changePin__content__msg">Ingrese el código generado en la aplicación <credix-link-button
          route="https://play.google.com/store/apps/details?id=com.Mobtion.Credix.Credixcel&hl=es_419" text="Código MiCredix >"></credix-link-button></span>
      </div>
      <form [formGroup]="changePinForm">
      <credix-code-input [(codeFormControl)]="changePinForm.controls.code" [length]="6" class="changePin__code tr"
                         errorMessage="Ingrése código MiCredix">
      </credix-code-input>
    </form>
    </div>
  </div>

  <credix-result-notification *ngIf="showResponse" [status]="resType" [title]="respTitle"
      [message]="respMsg">
    </credix-result-notification>

    <div class="changePin__content__footer tr">
      <credix-button (buttonClick)="confirm()" [disabled]="changePinForm.invalid" text="Confirmar" *ngIf="!showResponse"></credix-button>
      <credix-button (buttonClick)="done()" text="Listo" *ngIf="showResponse"></credix-button>
    </div>
</mat-card>
</div>
