<div class="popup-pay-resume" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="row" class="detail-1">
    <span>Marchamo</span>
    <credix-numeric-block [value]="marchamo" fontSize="16" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
  <div fxLayout="row" class="detail-2"><span>Seguros</span>
    <credix-numeric-block [value]="totalAmountItemsProducts" fontSize="16" fontWeight="bold"
                          prefix="₡"></credix-numeric-block>
  </div>
  <div fxLayout="row" class="detail-3"><span>Comisión</span>
    <credix-numeric-block [value]="comission" fontSize="16" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
  <div fxLayout="row" class="detail-4"><span>IVA*</span>
    <credix-numeric-block [value]="iva" fontSize="16" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" class="detail-5"><span>Total</span>
    <credix-numeric-block [value]="totalAmount" fontSize="16" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
  <p>* IVA y comisión se cargarán en el próximo estado de cuenta.</p>
  <div class="quotes" fxLayout="row">
    <span>{{quotesToPay.quotes}}Cuotas de</span>
    <credix-numeric-block [value]="quotesToPay.quotesAmount" fontSize="16" fontWeight="bold"
                          prefix="₡"></credix-numeric-block>
  </div>
</div>
