<ngx-simplebar [options]="{autoHide: false, scrollbarMinSize: 100}" class="receipt-wrapper">

  <div class="receipt" fxLayout="column" fxLayoutGap="16px">

    <div class="receipt__info-table" fxLayout="column" fxLayoutGap="16px">
      <span><strong>{{ popupTagsReceipt.subtitle1 || 'Datos generales'}}</strong></span>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag1 || 'Institución' }}</span>
        <div *ngFor="let institute of dataShowModal.institution" fxFlex fxLayout="column">
          <span><strong>{{institute.companyName}}</strong></span>
          <span><strong>{{institute.companyCode}}</strong></span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag2 || 'Convenio' }}</span>
        <div *ngFor="let agreement of dataShowModal.agreement" fxFlex fxLayout="column">
          <span><strong>{{agreement.contractName}}</strong></span>
          <span><strong>{{agreement.contractCode}}</strong></span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag3 || 'Agencia' }}</span>
        <span fxFlex><strong>{{dataShowModal.agencyCode}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag4 || 'Cajero' }}</span>
        <span fxFlex><strong>{{dataShowModal.cashier}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag5 || 'Moneda' }}</span>
        <span fxFlex><strong>{{dataShowModal.agencyCode}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag6 || 'Canal' }}</span>
        <span fxFlex><strong>{{dataShowModal.channelType}}</strong></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag7 || 'Cliente' }}</span>
        <span class="truncate" fxFlex><strong>{{dataShowModal.clientName}}</strong></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag8 || 'Comprobante' }}</span>
        <span class="bill-number truncate" fxFlex><strong>{{dataShowModal.billNumber}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag9 || 'No. factura' }}</span>
        <span fxFlex><strong>{{dataShowModal.invoiceNumber}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag10 || 'Estado pago' }}</span>
        <span fxFlex><strong>{{dataShowModal.paymentStatus}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag11 || 'Fecha movimiento' }}</span>
        <span fxFlex><strong>{{dataShowModal.movementDate | dateFormatter: 'alphanumeric' }}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag12 || 'Vencimiento' }}</span>
        <span fxFlex><strong>{{dataShowModal.expirationDate | dateFormatter: 'alphanumeric'}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag13 || 'No. servicio' }}</span>
        <span fxFlex><strong>{{dataShowModal.reference}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag14 || 'Agencia' }}</span>
        <span fxFlex><strong>{{dataShowModal.agencyCode}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag15 || 'Tipo de valor' }}</span>
        <span fxFlex><strong>{{dataShowModal.typeOfValor}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span class="receipt__tag">{{ popupTagsReceipt.tag16 || 'Monto' }}</span>
        <span fxFlex><strong>{{dataShowModal.amount}}</strong></span>
      </div>

    </div>

    <div *ngIf="dataShowModal.paymentConcepts" class="receipt__info-table" fxLayout="column" fxLayoutGap="16px">
      <span><strong>{{ popupTagsReceipt.subtitle2 || 'Conceptos de pago'}}</strong></span>

      <div *ngFor="let conceptPay of dataShowModal.paymentConcepts" fxLayout="row" fxLayoutAlign="space-between">
        <span class="receipt__tag">{{conceptPay.conceptDescription.toLowerCase()}}</span>

        <credix-numeric-block [prefix]="dataShowModal.currencySymbol" [value]="+conceptPay.conceptAmount"
                              fontWeight="bold" fxFlex></credix-numeric-block>
      </div>
    </div>

    <mat-divider credixDivider></mat-divider>

    <!--MONTO TOTAL-->
    <div *ngIf="dataShowModal.paymentConcepts" fxLayout="row" fxLayoutAlign="space-between">
      <span><strong style="font-size: 22px;">{{popupTagsReceipt.subtitle3 || 'Total'}}</strong></span>
      <credix-numeric-block [fontSize]="22" [prefix]="dataShowModal.currencySymbol"
                            [value]="+dataShowModal.amount" fontWeight="bold"></credix-numeric-block>
    </div>

    <div *ngIf="dataShowModal.informativeConcepts" class="receipt__info-table" fxLayout="column"
         fxLayoutGap="16px">
      <span><strong>{{ popupTagsReceipt.subtitle4 || 'Conceptos informativos'}}</strong></span>

      <div *ngFor="let conceptInformative of dataShowModal.informativeConcepts" fxLayout="row"
           fxLayoutAlign="space-between">
        <span class="receipt__tag">{{conceptInformative.conceptDescription}}</span>
        <span><strong>{{conceptInformative.conceptAmount}}</strong></span>
      </div>
    </div>

    <p class="receipt__footer">* {{ popupTagsReceipt.disclaimer ||
    'Servicio brindado mediante convenio con el Banco Nacional de Costa Rica.'}}</p>

  </div>
</ngx-simplebar>

