.credix-stepper {

  &__nav-bar {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &__step {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      background: transparent;
      border: none;
      height: 30px;
      min-width: 100px;
      outline: none;

      // &:not(:last-of-type) {
      //   margin-right: 0px;
      // }
    }

    &__circle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: left;
      background: #d2d2d2;
      display: inline-block;
      position: relative;
      left: 0px;
      z-index: 10;

      &:after {
        content: url(./stepper_icon.svg);
        top: 2px;
        left: 6px;
        position: absolute;
      }
    }

    &__label {
      width: min-content;
      color: #d2d2d2;
      text-align: center;
    }

    &__line{
      width: 98px;
      height: 0px;
      border-top: 4px solid #d2d2d2;
      position: relative;
      top: 14px;
      z-index: 1;
      left: -2px;
    }

    .is-active {
      .credix-stepper__nav-bar__circle{
        background: #ffdc49;
      }

      .credix-stepper__nav-bar__line{
        border-top: 4px solid #ffdc49;
      }


      .credix-stepper__nav-bar__label {
        font-weight: bold;
        color: #3e3e3e;
      }
    }

    .is-complete {
      .credix-stepper__nav-bar__circle {
        background: #19d27e;
      }
      .credix-stepper__nav-bar__line{
        border-top: 4px solid #19d27e;
      }
    }
  }

}
