.credix-checkbox {
  width: 20px;
  height: 20px;
  text-align: left;
  font: normal 16px/24px;
  letter-spacing: 0;
  color: #3E3E3E;

  &.mat-checkbox-checked.mat-accent {
    ::ng-deep.mat-checkbox-background {
      background: #3E3E3E 0 0 no-repeat padding-box;
      border-radius: 4px;
    }
  }

  &.mat-checkbox-disabled.mat-checkbox-checked {
    ::ng-deep.mat-checkbox-background {
      background: #D2D2D2 0 0 no-repeat padding-box;
    }
  }

  &.mat-checkbox-disabled {
    ::ng-deep.mat-checkbox-label {
      text-align: left;
      font: normal 16px/24px;
      letter-spacing: 0;
      color: #D2D2D2;
    }
  }

  ::ng-deep.mat-checkbox-frame {
    border-radius: 4px;
  }
}
