.marchamo-thirsty-step {
    padding: 0 84px;

    .first-column {
        width: 30%;
      }
      
    .second-column{
        width: 380px;
        margin-left: 163px;
    }
    .place-of-retreat{
        &__delivery-pickup {
            width: 210px;
            margin-left: 24px;
        }

        &__inputs-hidden {
            margin-top: 12px;
            margin-left: 8px;
            width: 352px;
            &__select {
              width: 352px;
            }
          }
          &__edit {
            &-delivery {
              margin-top: 2px;
            }
          }

          &__sub-title{
            
          }

          &__radio-button{
            margin-left:191px;
          }
    }
}