.marchamos-detail {

  &__billing-wrapper {
    margin-bottom: 16px;

  }

  &__footer {
    span:first-of-type {
      font-weight: bold;
      font-size: 20px;
    }
  }

  ::ng-deep .credix-numeric-block {
    color: #3e3e3e !important;
  }
}

::ng-deep .marchamo-detail-panel {

  .mat-dialog-container {
    padding: 40px 32px 24px 32px;

    .credix-popup__title {
      font-size: 31px;
      line-height: 30px;
      margin-bottom: 16px;
    }
  }
}
