.modal-new-user {

  &__parrafe {
    margin-bottom: 40px;
  }

  &__stepper {
    margin-top: 16px;

    &--parrafe {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
      color: #3E3E3E;
      margin-bottom: 16px;

      &.info {
        display: block;
        margin-bottom: 18px;
      }
    }
  }

  &__first-form {

    &__input-wrapper {
      :nth-child(1) {
        height: 38px;
        margin-bottom: 16px;
      }
    }
  }

  &__third-form {

    &__input-pass {
      height: 38px;

      &:nth-child(1) {
        margin-bottom: 18px;
      }
    }
  }

  &__button {
    width: 100%;

    &.step-one {
      margin-top: 90px;
    }

    &.step-two {
      margin-top: 2px;
      margin-bottom: 40px;
    }

    &.step-three {
      margin-top: 132px;
    }
  }
}
