<app-credix-result-view [resultMessage]="result.message"
                        [resultTile]="result.title"
                        [status]="status"
                        moduleTitle=""
                        buttonText="Listo"
                        routeTo="/home">

  <div *ngIf="status === 'success'" class="w-100" fxLayout="column">
    <mat-divider class="mb-24px" credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between" class="success-info">
      <span fxFlex="175px"><strong>Datos de la suscripción</strong></span>

      <div fxLayout="column" fxLayoutGap="8px" class="info">

        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>Cobro mensual</span>
          <credix-numeric-block
              [value]="5000"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>IVA</span>
          <credix-numeric-block
              [value]="650"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>Fecha de solicitud</span>
          <span><strong>27/08/2023</strong></span>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>Día de cobro</span>
          <span><strong>27 de cada mes</strong></span>
        </div>

      </div>
    </div>

    <credix-share-button fxFlexAlign="center" style="margin-top: 90px"></credix-share-button>
  </div>

</app-credix-result-view>
