<div class="steppers" fxLayout="column" fxLayoutGap="24px">

  <h2>Stepper</h2>

  <credix-stepper #stepper>
    <cdk-step [label]="'Opción 1'" [stepControl]="formGroupOne">
      <form [formGroup]="formGroupOne" fxLayout="column" fxLayoutGap="16px">
        <mat-form-field appearance="fill">
          <mat-label>
            Nombre
          </mat-label>
          <label>
            <input formControlName="name" matInput type="text">
          </label>
        </mat-form-field>

        <credix-button [disabled]="!formGroupOne.valid" [stepper]="stepper" credixStepperNext fxFlexAlign="flex-end"
                       text="Seguir"></credix-button>
      </form>
    </cdk-step>

    <cdk-step [label]="'Opción 2'" [stepControl]="formGroupTwo">
      <form [formGroup]="formGroupTwo" fxLayout="column" fxLayoutGap="2%">
        <mat-form-field appearance="fill">
          <mat-label>
            Nombre
          </mat-label>
          <label>
            <input formControlName="fullName" matInput type="text">
          </label>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
          <credix-button [stepper]="stepper" credixStepperPrevious text="Atras" type="secondary"></credix-button>
          <credix-button [disabled]="!formGroupTwo.valid" [stepper]="stepper" credixStepperNext
                         text="Finalizar"></credix-button>
        </div>
      </form>
    </cdk-step>
  </credix-stepper>
</div>
