<mat-card class="previous-extend" credixCard fxLayout="column" fxLayoutGap="16px">
    <h1>Ampliar plazo de compra</h1>
    <p>Haga su cuota más pequeña, ampliando el plazo de su total adeudado o compras individuales.</p>

    <mat-divider credixDivider></mat-divider>

    <div class="previous-extend__content" fxLayout="column" fxLayoutGap="10px" fxFlex>

        <div class="previous-extend__content__pending" fxLayout="row" fxLayoutAlign="space-between" fxFlex="64px">
            <span><strong>Monto a ampliar</strong></span>
            <credix-numeric-block [value]="singleMovement ? singleMovement.originAmount : purchaseAmount" class="tr"
                fontSize="24"
                fontWeight="bold"
                fxFlex="25"
                [prefix]="summaryPrefix">
            </credix-numeric-block>
        </div>


        <mat-divider></mat-divider>
        <div class="previous-extend__content__option" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column">
           <span><strong>{{ subtitleTag ||  'Modifique su plazo' }}</strong></span>
            <ng-container *ngIf="promoApply">
              <p class="mt-16px" *ngIf='movementQuotaSummary.quotaTo === quotaPromoMax' [class.extend-term__promo-apply__selected]='promoApply'><strong>{{promoMessage}}</strong></p>
            </ng-container>
          </div>


            <credix-slider fxFlex="400px" (inputChange)="getQuota($event)"
                   (valueChange)="getQuota($event)"
                   [displayMax]="termSliderDisplayMax"
                   [displayMin]="termSliderDisplayMin"
                   [displayValue]="termSliderDisplayValue"
                   [max]="termSliderMax"
                   [min]="termSliderMin"
                   instructions="{{ deseoTag || 'Deseo ampliar este plazo a' }}"
                   [units]="movementQuotaSummary?.quotaTo > 1 ? 'meses' : 'mes'"></credix-slider>
            <div fxFlex="110px" fxLayout="column" fxLayoutAlign="flex-start flex-end" fxLayoutGap="4px">
                <span>Cuotas de:</span>
                <credix-numeric-block [value]="movementQuotaSummary?.amountPerQuota" class="tr"
                    fontSize="24"
                    fontWeight="bold"
                    fxFlex="25"
                    [prefix]="summaryPrefix">
                </credix-numeric-block>
                <credix-link-button (click)="openSummary()">Ver detalle</credix-link-button>
            </div>
        </div>
    </div>

    <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
        <credix-button (buttonClick)="openConfirmationModal()">Ampliar plazo</credix-button>
    </div>
</mat-card>

<ng-template #summaryTemplate>
    <div class="h-100 summary-custom" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutGap="8px">

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ resultNew || 'Plazo nuevo' }}</span>
            <span><strong>{{ movementQuotaSummary?.quotaTo }} {{ movementQuotaSummary?.quotaTo > 1 ? 'meses': 'mes' }} </strong></span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'Monto a ampliar' }}</span>
            <credix-numeric-block
              [value]="singleMovement ? singleMovement.originAmount : purchaseAmount"
              fontWeight="bold"
              [prefix]="summaryPrefix"></credix-numeric-block>
          </div>

          <div *ngIf="!singleMovement" fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'Plazo promedio*' }}</span>
            <span><strong>{{ movementQuotaSummary?.quotaFrom }} {{ movementQuotaSummary?.quotaFrom > 1 ? 'meses': 'mes' }} </strong></span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{comissionTag || 'Comisión'}} {{ percentageCommission === '' ? '' : '(' + percentageCommission + '% mensual)' }}
            </span>
            <credix-numeric-block
              [value]="movementQuotaSummary?.isCommissionMonthly ? movementQuotaSummary?.commissionAmountDilute :  movementQuotaSummary?.commissionAmount"
              fontWeight="bold"
              [prefix]="summaryPrefix"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'Interés' }} {{ '(' + feedPercentage + '% mensual)' }}
            </span>
            <credix-numeric-block
              [value]="movementQuotaSummary?.feeAmount"
              fontWeight="bold"
              [prefix]="summaryPrefix"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'IVA*'}}</span>
            <credix-numeric-block
            [value]="movementQuotaSummary?.IVA"
            fontWeight="bold"
            [prefix]="summaryPrefix"></credix-numeric-block>
          </div>
        </div>

        <p *ngIf="singleMovement" fxFlex class="summary-custom__info-iva">
          * IVA y comisión se cargarán en el próximo estado de cuenta.
        </p>
        <p *ngif="!singleMovement" fxFlex class="summary-custom__info-iva">
          * Estimación del tiempo al que se aplica la comisión.
        </p>

        <div fxFlex fxFlexLayout="row" style="padding-top: 10px;" fxLayoutAlign="space-between">
          <span fxFlex style="font-size: 20px !important;">{{ movementQuotaSummary.quotaTo }} {{ movementQuotaSummary.quotaTo > 1 ? 'Cuotas' : 'Cuota' }} de</span>
            <credix-numeric-block
            [value]="movementQuotaSummary?.amountPerQuota"
            fontSize="24"
            fontWeight="bold"
            [prefix]="summaryPrefix"></credix-numeric-block>
        </div>
    </div>
</ng-template>
