.marchamo-second-step {
  padding: 0 84px;

  .first-column {
    width: 30%;
  }

  .second-column {
    width: 280px;
  }

  .third-column {
    align-items: flex-end;
    flex: 1;
  }
}


@media screen and (max-width: 1199px) {

  .marchamo-second-step {
    padding: 0;
  }

  .second-column {
    width: 265px;
  }
}
