.second-step-marchamo{
    padding-left: 17px;
    padding-right: 32px;
    padding-top: 16.5px;
    &__label{
        font-weight: bold;
        font-size: 16px;
        margin-right: 153px;
    }

    &__payment-span {
        margin-right: 276px;
      }

    &__prices{

      }
}
