.place-of-retreat{
    padding-left: 101px;
    padding-right: 99px;
    padding-top: 16.5px;
    &__sub-title {
        font-weight: bold;
        font-size: 16px !important;
      }

      &__radio-button{

      }
      &__inputs-hidden {
        margin-top: 12px;
        margin-left: 16px;
    
        &__select{
          width: 322px;
        }
      }
      &__delivery-pickup {
        width: 210px;
        margin-left: 24px;
      }
      &__edit {
        &-delivery {
          margin-top: 2px;
        }
      }
}