<mat-form-field [class.has-value]="value"
                [color]="ngControl.invalid && ngControl.touched ? 'warn' : 'primary'"
                appearance="standard"
                class="credix-select">
  <mat-label>{{label}}</mat-label>
  <mat-select (blur)="onTouch()"
              (selectionChange)="onSelect($event)"
              [disabled]="disabled"
              [panelClass]="['credix-select-panel', panelClass]"
              [value]="value">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
    <ng-container></ng-container>
  </mat-select>
</mat-form-field>
