.new-service-second-step {
  padding: 0 84px;
  margin-top: 32px;
  
  &__content {
    width: 100%;

    &:not(:last-of-type) {
      padding-bottom: 16px;
    }

    &:not(:first-of-type) {
      padding-top: 16px;
    }

    &__input {
      height: 43px;
      max-width: 360px;
      margin-bottom: 26px;
      margin-top: -15.5px !important;
      &.favorite {
        margin-left: 20px;
      }

      &.amount-to-pay {
        margin-left: 30px;
      }
    }
  }

  .left-content {
    width: 380px;
    color: #3E3E3E;
    opacity: 1;
  }
}

.info-custom {
  color: #3E3E3E;
  opacity: 1;
}


@media screen and (max-width: 1199px) {
  .new-service-second-step {
    padding: 0 78px;

    &__content__input {
      max-width: 245px;
    }

    .left-content {
      width: 266px;
    }

  }

}
