.marchamo-first-step {
  padding: 0 84px;

  &__input {
    width: 380px;
    height: 43px;

    &:last-of-type {
      margin-bottom: 7px;
    }
  }

  &__table {
    td {
      width: 100px;
    }
  }
}

@media screen and (max-width: 1199px) {

  .marchamo-first-step {
    padding: 0 78px;
  }
}
