.four-step-marchamo{
    padding: 0 84px;

.confirm{
    
    &__place{
        label{
            margin-right: 191px;
            font-weight: bold;
            font-size: 16px;
        }
    }

    .column{
        &-1{
            font-weight: bold;
            font-size: 16px;
        }
    }

    .pay-resume{
       
    }
}
}