.four-step-marchamo{
    padding: 0 84px;

    .confirm{
        
        &__place{
            p{
                width: 380px;
            }
        }

        .column{
            &-1{
                font-weight: bold;
                font-size: 16px;
            }
        }

        .pay-resume{
        
        }
        &__billing-contact{
            margin-right: 214px;
        }
    }
}