.address-step-container{
  .title{
    margin-bottom: 16px;
  }

  credix-input-field, credix-select{
    display: block;
    width: 311px;
  }
  credix-input-field {
    &.disabledForms ::ng-deep .mat-form-field-label{
      color: rgb(62, 62, 62) !important;
    }
  }
  credix-select{
    ::ng-deep {
      .mat-form-field-wrapper > .mat-form-field-flex{
        padding: 0;
      }
    }
  }

  .info-title{
    display: flex;
    align-items: center;
    .info-button{
      mat-icon{
        color: #239DF7;
      }
    }
  }
}
// .change-celphone-popup-content{
//   display: flex;
//   gap: 16px;
//   flex-direction: column;
//   &__title{
//     text-align: center;
//     margin-top: 40px;
//     margin-bottom: 10px;
//   }
//   credix-button {
//     width: 100%;
//     & ::ng-deep button {
//       height: 40px;
//     }
//   }
// }
