h3, p {
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
p {
  margin: 1.5rem auto 1.2rem auto;
}
.button-row {
  display: flex;
  justify-content: center;
  > * {
    margin: 0 0.5rem;
  }
}

::ng-deep .credix-button.mat-stroked-button button {
  background-color: #fff !important;
}
