<div fxLayout="column" fxLayoutGap="16px">

  <div fxLayout="row" fxLayoutGap="16px">

    <app-balances *ngIf="!delinquentCustomersActive && accountSummary && paymentDetails && movements"
    [balancesTag]="balancesTags"
    (cardChanged)="onCardChanged($event)"
    [accountSummary]="accountSummary">
    </app-balances>

    <app-delinquent-customers *ngIf="delinquentCustomersActive && accountSummary && paymentDetails && movements"
                    [accountSummary]="accountSummary">
    </app-delinquent-customers>

    <div fxLayout="column" fxLayoutGap="16px">
      <app-payment-details *ngIf="accountSummary && paymentDetails && movements"
                           [paymentDetailsTags]="paymentDetailsTags"
                           [paymentDetails]="paymentDetails">
      </app-payment-details>
      <app-movements *ngIf="accountSummary && paymentDetails && movements"
                     [movementsTags]="movementsTags"
                     [movements]="movements">
      </app-movements>
    </div>

  </div>

  <app-awards *ngIf="accountSummary && paymentDetails && movements && awards.length > 0" [awards]="awards"></app-awards>

</div>
