
<div *ngIf="!!titularCardNotActive" class="titleCardNotActive-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>info_outlined</mat-icon>
        Tarjeta pendiente de activar
      </mat-panel-title>
    </mat-expansion-panel-header>
    <title-card-not-active-component [type]="'dropdown'">
    </title-card-not-active-component>
  </mat-expansion-panel>
</div>
<div fxLayout="column" fxLayoutGap="16px" *ngIf="accountSummary && paymentDetails && movements; else landingSkeletonLoader">

  <div fxLayout="row" fxLayoutGap="16px">

    <app-balances *ngIf="!delinquentCustomersActive"
    [balancesTag]="balancesTags"
    (cardChanged)="onCardChanged($event)"
    [accountSummary]="accountSummary">
    </app-balances>

    <app-delinquent-customers *ngIf="delinquentCustomersActive"
                    [accountSummary]="accountSummary">
    </app-delinquent-customers>

    <div fxLayout="column" fxLayoutGap="16px">
      <app-payment-details
                           [paymentDetailsTags]="paymentDetailsTags"
                           [paymentDetails]="paymentDetails">
      </app-payment-details>
      <app-movements
                     [movementsTags]="movementsTags"
                     [movements]="movements">
      </app-movements>
    </div>

  </div>

  <app-awards *ngIf="awards.length > 0" [awards]="awards"></app-awards>

</div>

<ng-template #landingSkeletonLoader>
  <landing-skeleton-loader></landing-skeleton-loader>
</ng-template>
