<div *ngIf="!!titularCardNotActive" class="titleCardNotActive-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>info_outlined</mat-icon>
        Tarjeta pendiente de activar
      </mat-panel-title>
    </mat-expansion-panel-header>
    <title-card-not-active-component [type]="'dropdown'">
    </title-card-not-active-component>
  </mat-expansion-panel>
</div>
<div fxLayout="column" fxLayoutGap="16px">

  <div fxLayout="row" fxLayoutGap="16px">
    <app-balances *ngIf="accountSummary && paymentDetails && movements"
                  [balancesTag]="balancesTags"
                  (cardChanged)="onCardChanged($event)"
                  [accountSummary]="accountSummary">
    </app-balances>

    <div fxLayout="column" fxLayoutGap="16px">
      <app-payment-details *ngIf="accountSummary && paymentDetails && movements"
                           [paymentDetailsTags]="paymentDetailsTags"
                           [paymentDetails]="paymentDetails">
      </app-payment-details>
      <app-movements *ngIf="accountSummary && paymentDetails && movements"
                     [movementsTags]="movementsTags"
                     [movements]="movements">
      </app-movements>
    </div>

  </div>

  <app-awards *ngIf="accountSummary && paymentDetails && movements && awards.length > 0" [awards]="awards"></app-awards>

</div>
