.card-details:nth-child( odd ) {
    margin-right: 16px !important;
}

.text-info {
    margin-top: 16px;
}

.text-info-req {
    margin-top: 8px;
}

app-card-details{
  display: flex;
  flex-direction: column;
  & ::ng-deep mat-card{
    flex: 1;
  }
}
