<div class="additional-cards" fxLayout="column" fxLayoutGap="16px">

  <mat-card class="additional-cards__toolbar" credixCard fxLayout="column" fxLayoutGap="16px">
    <h1>{{titleTag || 'Tarjetas adicionales'}}</h1>

    <credix-button (click)="goToNewAdditionalCard()" class="additional-cards__toolbar__button"
                   text="Agregar tarjeta adicional"></credix-button>
  </mat-card>

  <div *ngIf="additionalCards.length > 0 else noAdditionalCards" fxLayout="row wrap">

    <mat-card *ngFor="let additionalCard of additionalCards" class="additional-cards__card"
              credixCard fxLayout="column">

      <div class="mb-16px" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="22px">
          <mat-icon class="additional-cards__card__icon" svgIcon="additionalCards"></mat-icon>

          <div fxLayout="column" fxLayoutGap="4px">
            <span class="truncate"><strong>{{additionalCard.name}}</strong></span>
            <span>{{additionalCard.typeCard}} {{additionalCard.cardNumber}}</span>
          </div>
        </div>

        <a (click)="openConfirmModal(additionalCard.cardId)" class="additional-cards__card__delete">
          <mat-icon svgIcon="delete"></mat-icon>
        </a>
      </div>

      <credix-slider class="additional-cards__slider"
                     (inputChange)="enableButton($event, additionalCard.cardId)"
                     (valueChange)="enableButton($event, additionalCard.cardId)"
                     [value]="additionalCard.limitPercentage"
                     displayMax="100%"
                     displayMin="25%"
                     [instructions]="limitTag || 'Límite asignado'"
                     max="100"
                     min="25"
                     step="25"
                     units="%"></credix-slider>

      <credix-button (click)="setNewCreditLimit()" [disabled]="cardId !== additionalCard.cardId"
                     class="additional-cards__card__button"
                     fxFlexAlign="flex-end" text="Aplicar cambio"></credix-button>
    </mat-card>

  </div>

</div>

<ng-template #noAdditionalCards>
  <mat-card class="additional-cards__no-cards-container" credixCard fxLayout="column" fxLayoutAlign="center center">

    <credix-result-notification status="info"
                                title="No tiene tarjetas adicionales en este momento."></credix-result-notification>
  </mat-card>

</ng-template>
