.cards-list-selection-container{
  display: flex;
  gap: 84px;
  justify-content: center;
  padding: 32px 124px;
  .cards-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

    credix-checkbox-button ::ng-deep{
      .mat-checkbox-layout{
        align-items: start;
      }
      .mat-checkbox-inner-container{
        margin-top: 6px;
      }
    }

    .card-info{
      display: flex;
      gap: 16px;
    }
    .card-info-icon mat-icon{
      width: 32px;
      height: 32px;
    }
    .card-info-text{
      padding-top: 4px;
      .name{
        font-weight: bold;
      }
      display: flex;
      flex-direction: column;
    }
  }
}
