.new-recharge {
  max-height: 886px;
  height: 100%;

  &__first-step {
    padding: 0 84px;
    
    &__content {
      width: 100%;

      &__input {
        height: 43px;
        width: 380px;
      }
    }
  }

  ::ng-deep.mat-form-field-flex {
    padding-top: 0px !important;
  }

  /*::ng-deep.credix-stepper__nav-bar {
    padding-bottom: 19px !important;
    margin-bottom: 19px !important;
  }*/
}

.mb-title {
  margin-bottom: 25px !important;
}

@media screen and (max-width: 1199px) {
  .new-recharge {
    max-height: 886px;

    &__first-step__content__input {
      width: 266px;
    }

  }

}
