.movements-card {
  width: 479px;
  height: 239px;

  mat-row {
    padding: 0 0 8px 0 !important;
    margin: 0 !important;
    border: 0 !important;
    height: 32px !important;

    &:last-of-type {
      margin-bottom: 8px !important;
    }

    mat-cell {
      margin: 0 !important;

      &.is-green {
        color: #19D27E;

        ::ng-deep .credix-numeric-block__integer, ::ng-deep .credix-numeric-block__decimal {
          color: #19D27E !important;
        }
      }
    }

    mat-cell:first-child {
      text-align: left !important;
      flex: 25% !important;
    }

    mat-cell:nth-child(2) {
      text-align: left !important;
      flex: 40% !important;
    }

    mat-cell:last-child {
      text-align: right !important;
      font-weight: bold !important;
      flex: 35% !important;
    }
  }

}

@media screen and (max-width: 1199px) {
  .movements-card {
    width: 360px;
  }
}

.awards-card {


  &:hover {
    cursor: pointer;
  }

  &__content {
    padding: 16px;
  }

  &__btn {
    margin-right: 8px;

    mat-icon {
      color: #E42313;
      width: 470px;
      height: 12px;
      vertical-align: baseline;
    }
  }

}

@media screen and (max-width: 1199px) {
  .awards-card {
    &__btn {
    margin-right: 8px;

    mat-icon {
      color: #E42313;
      width: 230px;
      height: 12px;
      vertical-align: baseline;
    }
  }
    
  }

 
}

