<mat-card class="movements-card" credixCard fxLayout="column" fxLayoutAlign="start center">
  <h2 class="w-100 mb-16px">{{movementsTags.titleTag}}</h2>

  <mat-table *ngIf="movements && movements.length > 0" [dataSource]="movements" class="w-100"
             fxFlex>

    <ng-container matColumnDef="date">
      <mat-cell *matCellDef="let element"
                credixCell> {{convertStringDateToDate(element.originDate) | dateFormatter: 'alphanumeric'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commerce">
      <mat-cell *matCellDef="let element" [class.is-green]="element.movementType == 'Pago'"
                credixCell> {{element.establishmentName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-cell *matCellDef="let element" [class.is-green]="element.movementType == 'Pago'" credixCell>
        <credix-numeric-block [class.is-green]="element.movementType == 'Pago'" [prefix]="element.currencySimbol"
                              [value]="element.originAmount" fontWeight="bold"></credix-numeric-block>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" credixRow></mat-row>
  </mat-table>

  <credix-link-button (click)="goToMovements()" *ngIf="movements && movements.length > 0" fxFlexAlign="flex-end">
    Ver más
  </credix-link-button>
</mat-card>
