.extend-term {
  height: 100%;
  max-height: 779px;
  position: relative;

}

.mb-16px {
  margin-bottom: 16px !important;
}

@media screen and (max-width: 1199px) {
  .extend-term {
    max-height: 886px;

    &__menu-options {
      height: 733px;
    }
  }

}

:host ::ng-deep {

  .navigation-table__header {
    margin-left: -16px;
    margin-right: -16px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .navigation-table__content {
    margin-right: -16px;
    margin-left: -16px;
  }

  .navigation-table__content__left {
    padding: 0 !important;
  }

  .credix-result-notification {

    .credix-result-notification__title, .credix-result-notification__message {
      width: 290px;
    }
  }

  credix-checkbox-button{
    margin-top: 8px;
  }
}
