.hideNavTableContent {
  ::ng-deep.navigation-table__content {
    display: none !important;
  }
}



.extend-term {
  height: 662px;
  position: relative;

  &__menu-options {
    height: 478px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  h1 {
    margin-bottom: 6px;
  }

  ::ng-deep.navigation-table__header {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 30px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  &__succResp {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  &__divider {
    margin-right: 199px;
    margin-left: 199px;
  }

  &__data-info {
    margin: 24.5px 220.5px 63px 220.5px;

    &__text {
      font-size: 16px;
      font-weight: bold;
      color: #3e3e3e;
    }

    &__row {
      width: 208px;
      padding-bottom: 10px;
    }
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e9e9e9;
    padding: 16px;
  }

  &__footer1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }

  &__empty {
    margin: auto;
  }

  &__content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    min-height: 478px;

    &__date {
      font-size: 14px;
      color: #6F7071;
    }

    &__date-smaller {
      font-size: 12px;
      color: #6F7071;
    }
    &__subtitle {
      font-size: 14px;
      &.is-selected {
        font-weight: bold;
      }
    }
  }

  &__option{
    padding: 20.5px 16px 16px 16px;

    &:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }

    &:hover {
      cursor: pointer;
    }

    &__label {
      font-size: 16px;
      color: #3e3e3e;

      &.is-selected {
        font-weight: bold;
      }
    }

    &__arrow {
      height: fit-content;
      position: relative;
      bottom: 21.5px;

      &:after {
        content: url(./chevron_right_icon.svg);
        position: absolute;
        right: 0;
      }
    }
  }

  &__content-right{
    width: 282px;

    &__option {
      padding: 16px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }

  &__table {
    margin: 16.5px 148px 0 148px;

    &__title {
      font-size: 16px;
      font-weight: bold;
    }
  }


}

:host ::ng-deep.navigation-table__content {
  margin-right: -16px;
  margin-left: -16px;
}

:host ::ng-deep.navigation-table__content__left{
  padding: 0 !important;
}

// ::ng-deep.simplebar-track.simplebar-horizontal {
//   height: 0 !important;
//   visibility: hidden;
// }


:host ::ng-deep.credix-result-notification {
  h2 {
    width: 286px;
  }
}

@media screen and (max-width: 1199px) {
  .extend-term {
    height: 886px;

    &__menu-options {
      height: 700px;
    }

    &__succResp {
      margin-top: 133px;
      margin-bottom: 133px;
    }

    &__divider {
      margin-right: 129px;
      margin-left: 129px;
    }

    &__data-info {
      margin: 24px 150.5px 90px 150.5px;
    }
  }

}
