.awards {

  &__banner-tab {
    h1 {
      margin-bottom: 16px;
    }

    ::ng-deep .credix-tab {
      margin-bottom: 16px !important;
    }

    &__progress-div {
      &__msg {
        margin-bottom: 13px;
        font-size: 16px;
        width: 542px;
      }

      h2 {
        margin-bottom: 8px;
      }

      &__p {
        font-weight: bold;
        font-size: 16px;
      }
    }

    &__card-progress {
      background-image: url("../../../../../assets/images/award_banner.png") !important;
      background-size: cover !important;
      height: 279px;
    }

    &__card-finalizado {
      background-image: none !important;
    }
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    &__card {
      width: 430px;
      height: 239px;

      &.in-progress {
        height: 260px;
      }

    }

    &__content {
      width: 100%;

      h2 {
        margin-bottom: 8px;
        text-align: left;
      }

      &__main {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
      }

      &__actions {

        &__fecha {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 21px;
        }

        &__entrega {
          font-size: 16px;
          margin-bottom: 5px;
          margin-top: 8.5px;
          font-weight: bold;
        }
      }
    }

    &__img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
    }

    &__footer {
      height: 40px;

      &__link {
        padding: 10px 0;
      }
    }
  }

  &__result-notification {
    height: 509px;

    ::ng-deep.credix-result-notification__title {
      width: 300px;
      line-height: 24px;
    }

    &.in-progress {
      ::ng-deep.credix-result-notification__title {
        width: 268px;
      }
    }

  }
}

@media screen and (max-width: 1199px) {

  .awards {

    &__cards-container__card {
      width: 360px;
      height: 263px;

      &.in-progress {
        height: 286px;
      }
    }

    &__cards-container__img {
      width: 142px !important;
      height: 142px !important;
    }

    &__result-notification {
      height: 733px;
    }
  }

}

::ng-deep .credix-progress-bar {
  min-width: 215px !important;
}

::ng-deep .credix-progress-bar__line.is-over {
  background-color: #19d27e;
}

::ng-deep .credix-progress-bar__line {
  background-color: #e9e9e9;
}
