<mat-card class="extend-term" credixCard fxLayout="column" fxLayoutGap="16px">
    <h1>Plan liquidez</h1>
    <p>Haga su cuota más pequeña, ampliando el plazo de su total adeudado.</p>

    <mat-divider credixDivider></mat-divider>

    <div *ngIf="!isEmpty" class="extend-term__content" fxLayout="column" fxLayoutGap="10px" fxFlex>
      <ng-container *ngIf="typePayer == 1; else minimumPayer">
        <div fxLayout="column" fxLayoutAlign="" fxLayoutGap="8px">
          <div [ngClass]="['extend-term__content__pending', hasMinimumPayment  ? '' : 'mb-13']" fxLayout="row" fxLayoutAlign="space-between" >
            <div fxFlex="350px">
              <span><strong>Total adeudado</strong></span>
              <p class="mt-4">Si tiene productos financiados, el total adeudado incluye intereses a hoy.</p>
            </div>
            <credix-numeric-block [value]="purchaseAmount" class="tr"
                fontSize="24"
                fontWeight="bold"
                fxFlex="25"
                prefix="₡">
            </credix-numeric-block>
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="extend-term__content__option" fxLayout="row" fxLayoutAlign="space-between">
        <span><strong>{{ subtitleTag ||  'Modifique su plazo' }}</strong></span>
        <credix-slider fxFlex="400px" (inputChange)="getQuota($event)"
                (valueChange)="getQuota($event)"
                [displayMax]="termSliderDisplayMax"
                [displayMin]="termSliderDisplayMin"
                [displayValue]="termSliderDisplayValue"
                [max]="termSliderMax"
                [min]="termSliderMin"
                [step]="termSliderStep"
                instructions="{{ deseoTag || 'Deseo ampliar este plazo a' }}"
                [units]="extendQuotaSummary?.quotaTo > 1 ? 'meses' : 'mes'"></credix-slider>
        <div fxFlex="110px" fxLayout="column" fxLayoutAlign="flex-start flex-end" fxLayoutGap="4px">
            <span>Cuotas de:</span>
            <credix-numeric-block [value]="extendQuotaSummary?.amountPerQuota" class="tr"
                fontSize="24"
                fontWeight="bold"
                fxFlex="25"
                prefix="₡">
            </credix-numeric-block>
            <credix-link-button (click)="openSummary()">Ver detalle</credix-link-button>
        </div>
      </div>
      </ng-container>

      <ng-template #minimumPayer>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="600px">
              <span><strong>Pago mínimo requerido</strong></span>
              <p class="mt-4">Para solicitar el plan cancele al menos su pago mínimo en colones y dólares.</p>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="350px">
              <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="8px">
                <div class="extend-term__content__pending" fxLayout="row" fxLayoutAlign="space-between">
                  <p>Colones</p>
                  <credix-numeric-block [value]="'50000'" class="tr" fontSize="18" fontWeight="bold" fxFlex="25" prefix="₡">
                  </credix-numeric-block>
                </div>

                <div class="extend-term__content__pending" fxLayout="row" fxLayoutAlign="space-between center">
                  <p>D&oacute;lares</p>
                  <credix-numeric-block [value]="'200'" class="tr" fontSize="18" fontWeight="bold" fxFlex="25" prefix="$">
                  </credix-numeric-block>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin-top: 6px;" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="600px">
              <span><strong>¿Cómo pagar?</strong></span>
              <p class="mt-4">Pague por SINPE Móvil o transfiera a sus cuentas IBAN. Luego de realizar el pago, regrese aquí y solicite el plan.</p>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="350px">
              <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="8px">
                <div class="extend-term__content__pending" fxLayout="row" fxLayoutAlign="space-between">
                  <credix-link-button (click)="openAccounts()">Cuentas IBAN</credix-link-button>
                  <credix-link-button (click)="openInformationPopUp()">SINPE Móvil</credix-link-button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin-top: 6px;" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="600px">
              <span><strong>¿Cuánto pagar?</strong></span>
              <ul class="mt-4">
                <li>Si realiza el pago mínimo, se cargarán intereses corrientes en el próximo estado de cuenta.</li>
                <li>Si realiza el pago contado o más, antes de la fecha y hora máxima de pago, no se cargarán intereses corrientes.</li>
                <li>Recuerde que entre mayor sea el pago, menor será su total adeudado restante y pagará menos intereses.</li>
              </ul>
            </div>
          </div>
        </div>
      </ng-template>


    </div>

    <credix-result-notification
      *ngIf="isEmpty"
      class="extend-term__empty"
      status="error"
      title="Oops..."
      message="Este producto queda inhabilitado 3 días antes de su fecha de corte. Favor regrese después de su fecha de corte.">
    </credix-result-notification>

    <ng-container *ngIf="isEmpty || typePayer != 2">
      <div class="extend-term__footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
        <credix-button [disabled]="hasMinimumPayment" (click)="isEmpty ? redirect() : saveQuota()">{{ isEmpty ? 'Listo' : 'Ampliar plazo' }}</credix-button>
      </div>
    </ng-container>

</mat-card>

<ng-template #summaryTemplate>
    <div class="h-100 summary-custom" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutGap="8px">

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ resultNew || 'Plazo nuevo' }}</span>
            <span><strong>{{ extendQuotaSummary?.quotaTo }} {{ extendQuotaSummary?.quotaTo > 1 ? 'meses': 'mes' }} </strong></span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ quotaTag || 'Cuota nueva' }}</span>
            <credix-numeric-block
              [value]="extendQuotaSummary?.amountPerQuota"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ comissionTag || 'Comisión' }}
              (<credix-numeric-block
                [value]="extendQuotaSummary?.commissionPercentage"
                fontWeight=""
                type="percentage"
                prefix=""></credix-numeric-block>%{{commissionMonthly}})
            </span>
            <credix-numeric-block
              [value]="extendQuotaSummary?.commissionAmountDilute"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'Interés' }}
              (<credix-numeric-block
                [value]="extendQuotaSummary?.feePercentage"
                fontWeight=""
                type="percentage"
                prefix=""></credix-numeric-block>% mensual)
            </span>

            <credix-numeric-block
              [value]="extendQuotaSummary?.feeAmount"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ 'IVA*'}}</span>
            <credix-numeric-block
            [value]="extendQuotaSummary?.IVA"
            fontWeight="bold"
            prefix="₡"></credix-numeric-block>
          </div>
        </div>

        <p fxFlex style="color: #707070; font-size: 14px !important; margin-bottom: 26px !important">
          * Se cargará en el próximo estado de cuenta.
        </p>

        <div fxFlex fxFlexLayout="row" style="padding-top: 10px;" fxLayoutAlign="space-between">
          <span fxFlex style="font-size: 20px !important;">{{ extendQuotaSummary.quotaTo }} {{ extendQuotaSummary.quotaTo > 1 ? 'Cuotas' : 'Cuota' }} de</span>
            <credix-numeric-block
            [value]="extendQuotaSummary?.amountPerQuota"
            fontSize="24"
            fontWeight="bold"
            prefix="₡"></credix-numeric-block>
        </div>
    </div>
</ng-template>

<ng-template #ibanAccountTemplate>
  <div class="w-100" fxLayout="column" fxLayoutGap="12px">
    <div *ngIf="colonesIbanAccount" class="ibanAccounts-custom__wrapper" fxLayout="row"
         fxLayoutAlign="space-between">
      <span>{{'Colones'}}</span>
      <span>{{colonesIbanAccount.ibanAccountNumber}}</span>
      <a (click)="copyIbanAccount(188)"
         [cdkCopyToClipboard]="colonesIbanAccount.ibanAccountNumber">
        <mat-icon [class.is-green]="isCopyingColonesIban" svgIcon="content-copy"></mat-icon>
      </a>
    </div>
    <div *ngIf="dollarsIbanAccount" class="ibanAccounts-custom__wrapper" fxLayout="row"
         fxLayoutAlign="space-between">
      <span>{{'Dolares'}}</span>
      <span>{{dollarsIbanAccount.ibanAccountNumber}}</span>
      <a (click)="copyIbanAccount(840)"
         [cdkCopyToClipboard]="dollarsIbanAccount.ibanAccountNumber">
        <mat-icon [class.is-green]="isCopyingDollarsIban" svgIcon="content-copy"></mat-icon>
      </a>
    </div>
  </div>
</ng-template>

<!-- <ng-template #disabledTemplate>
  <app-credix-result-view
    [resultMessage]="message"
    [resultTile]="title"
    [moduleTitle]="'Ampliar plazo del total adeudado'"
    buttonText="Listo"
    routeTo="/home"
    status="error"></app-credix-result-view>
</ng-template>

<ng-container [ngTemplateOutlet]="template"></ng-container> -->
