.credix-image-upload-confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 24px;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      width: 77px;
      height: 40px;
      border-radius: 4px;
      font-weight: bold;

      &:first-child {
        margin-right: 16px;
      }

      &.mat-flat-button {
        ::ng-deep.mat-button-wrapper {
          color: #ffffff;
        }
      }

      &.mat-stroked-button {
        border: 1px solid #E42313;

        ::ng-deep.mat-button-wrapper {
          color: #DD2218;
        }

        &[disabled] {
          border: 1px solid #D2D2D2;

          ::ng-deep.mat-button-wrapper {
            color: #D2D2D2;
          }
        }
      }

      &:hover:enabled {
        background-color: #AF1306;

        &.mat-stroked-button {
          ::ng-deep.mat-button-wrapper {
            color: #ffffff;
          }
        }
      }
    }
  }
}

::ng-deep .image-upload-panel {
  .mat-dialog-container {
    border-radius: 8px;
    padding: 40px 32px 32px 32px;
  }
}
