<div class="optional-insurances" fxLayout="row">
    <label class="optional-insurances__label">Seguros opcionales</label>
    <div fxLayout="column" style="margin-right: 215px;">
      <credix-checkbox-button
        (emitCheckBox)="getValueCheckBoxes($event)"
        *ngFor="let item of itemProduct"
        [checked]="isChecked"
        [label]="item.responseDescription"
        [value]="item.productCode"></credix-checkbox-button>
      <credix-checkbox-button (emitCheckBox)="getValueOfCheckBoxAll($event)" [value]="10"
                              label="Todos"></credix-checkbox-button>

    </div>
    <div class="optional-insurances__prices" fxLayout="column">
      <credix-numeric-block [value]="amountItemsProducts.responsabilityCivilAmount" fontSize="16"
                            fontWeight="bold" prefix="₡"></credix-numeric-block>
      <credix-numeric-block [value]="amountItemsProducts.roadAsistanceAmount" fontSize="16" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
      <credix-numeric-block [value]="amountItemsProducts.moreProtectionAmount" fontSize="16" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
    </div>
  </div>
