<div class="extend-term" fxLayout="column" fxLayoutGap="16px">
  <ngx-simplebar [options]="{autoHide: false}" class="extend-term__scrollbar" fxFlex>
  <div>
    <mat-table [dataSource]="previousMovements"
               class="extend-term__table">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef credixHeaderCell>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" credixCell>
          <credix-checkbox-button (emitCheckBox)="change($event.checked, element)"
                                  [value]="element">
          </credix-checkbox-button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef credixHeaderCell>{{'Fecha'}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  credixCell> {{element.originDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="commerce">
        <mat-header-cell *matHeaderCellDef credixHeaderCell>{{'Comercio'}}</mat-header-cell>
        <mat-cell *matCellDef="let element" credixCell>
          {{element.establishmentName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef credixHeaderCell>{{'Saldo pendiente'}}</mat-header-cell>
        <mat-cell *matCellDef="let element"
                   credixCell>
          <credix-numeric-block [prefix]="element.currencySimbol" [value]="element.originAmount"
                                ></credix-numeric-block>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="quotas">
        <mat-header-cell *matHeaderCellDef credixHeaderCell>{{'Cuotas pendientes'}} </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  credixCell>
                  <span>{{ element.quota }}</span>
          <!-- <span *ngIf="element.movementType.toLowerCase() === 'consumo' && element.quota === 0">A 1 cuota</span>
          <span *ngIf="element.movementType.toLowerCase() !== 'pago' && element.quota > 0">
            {{'A ' + element.quota + (element.quota === 1 ? ' cuota' : ' cuotas')}}</span> -->
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true" credixHeaderRow></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" credixRow></mat-row>
    </mat-table>
  </div>
  </ngx-simplebar>
  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="next()">Continuar</credix-button>
  </div>
</div>