
.modal-awards {
  background: #ffffff;
  width: 336px;
  height: 100%;
  border-radius: 8px 8px 0 0;


  &__actions {
    margin: 16px auto 0 auto;

    &__span-title {
      color: #19D27E;
      font-size: 32px;
      font-weight: bold;
      margin-top: 3px;
    }

    div {
      line-height: 15px;

      span {
        font-size: 14px;
        color: #3E3E3E;
      }
    }
  }


  &__header {
    padding: 16px 16px 0 16px;

    span {
      font-weight: bold;
    }
  }

  &__img {
    width: 151px;
    border-radius: 100%;
    margin: 0 auto;
  }

  credix-progress-bar {
    width: 300px;
    margin: 0 auto;
  }

  &__paginator {
    margin-left: 65px;

    &__title-span {
      font-weight: bold;
      color: #696D6F;
      font-size: 14px;
    }

    &__pag-span {
      transform: translateY(-3px);
    }

    &__btn {
      width: 15px;
      height: 15px;
      line-height: 1 !important;
      border: none;
      background: none;

      mat-icon {
        fill: #D2D2D2;
        width: 8px;
        height: 13px;
        vertical-align: baseline;

        &.is-enable {
          fill: #E42313;
        }
      }
    }
  }
}


