<div class="modal-awards" fxLayout="column" fxLayoutGap="16px">

  <span class="modal-awards__title">{{challenge.in_progress_name}}</span>

  <img [alt]="challenge.in_progress_name" [src]="challenge.image" class="modal-awards__img">

  <div *ngIf="challenge.goal_type === 4" class="modal-awards__actions" fxLayout="row" fxLayoutAlign="center"
       fxLayoutGap="16px">
    <span>{{ challenge.progress }}</span>
    <span>Aciones acumuladas</span>
  </div>

  <credix-progress-bar *ngIf="challenge.goal_type !== 4"
                       [goal]="challenge.goal_qty"
                       [value]="challenge.progress"
                       class="modal-awards__progress"
                       label="Meta de transacciones"></credix-progress-bar>

  <p class="modal-awards__text">{{challenge.in_progress_description}}</p>

</div>

<ng-template #footer>
  <div fxLayout="row">
    <credix-share-button [description]="challenge.in_progress_name + ': ' + challenge.in_progress_description"
                         [image]="challenge.image"
                         [title]="challenge.in_progress_name"></credix-share-button>

    <div class="modal-awards__paginator" fxLayout="column" fxLayoutAlign="center center">
      <span class="modal-awards__paginator__title-span">Premios</span>

      <div fxLayout="row" fxLayoutGap="16px">
        <button (click)="back()" [disabled]="currentChallenge === 0"
                class="modal-awards__paginator__btn" mat-icon-button>
          <mat-icon [class.is-enable]="currentChallenge !== 0"
                    svgIcon="chevron_left"></mat-icon>
        </button>

        <span class="modal-awards__paginator__pag-span">{{currentChallenge + 1}} de {{challenges.length}}</span>

        <button (click)="next()" [disabled]="currentChallenge === (challenges.length - 1)"
                class="modal-awards__paginator__btn" mat-icon-button>
          <mat-icon [class.is-enable]="currentChallenge !== (challenges.length - 1)"
                    svgIcon="chevron_right"></mat-icon>
        </button>
      </div>

    </div>

  </div>

</ng-template>


