<mat-card *ngIf="!done else doneNewServiceTemplate" class="new-service" credixCard fxLayout="column" fxLayoutGap="4px">

  <h1 class="mb-16px">{{title}}</h1>

  <credix-stepper #newServiceStepper>

    <cdk-step [label]="'Consultar'" [stepControl]="consultFormGroup">
      <app-new-service-first-step [consultFormGroup]="consultFormGroup"
                                  [referenceLabel]="referenceName"></app-new-service-first-step>
    </cdk-step>

    <cdk-step [label]="'Confirmación'" [stepControl]="confirmFormGroup">
      <app-new-service-second-step></app-new-service-second-step>
    </cdk-step>

  </credix-stepper>

  <div class="new-service__footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="back()" text="Atrás" type="secondary"></credix-button>
    <credix-button (buttonClick)="stepperIndex === 0 ? continue() : openModal()"
                   [disabled]="stepperIndex === 0 ? consultFormGroup.invalid : confirmFormGroup.invalid"
                   [text]="stepperIndex === 0 ? 'Continuar' : 'Pagar'"></credix-button>
  </div>


</mat-card>

<ng-template #doneNewServiceTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="title"
                          [status]="status"
                          [title]="''"
                          buttonText="Listo"
                          routeTo="/home"></app-credix-result-view>
</ng-template>
