img {
  width: 100%;
}

.credix-mas-popup {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  > *:not(img) {
    padding: 0 1rem;
  }
  p {
    margin-bottom: 0.8rem;
  }
  ul.item-list {
    margin: auto auto 1rem 1rem;
    :first-child {
      margin-bottom: 1.5rem;
    }
  }
  .button-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    .button-large {
      ::ng-deep button {
        padding: 0 2rem !important;
      }
    }
  }
}
