<div class="credix-mas-popup">
  <img src="./assets/images/credix-mas-2.png" />
  <h3>Descubra un mundo de beneficios. ¡Únase a Credix Más!</h3>
  <p>
    Con Credix Más podrá:
  </p>
    <ul class="item-list">
      <li>Extender el plazo de pago de sus compras de manera gratuita e ilimitada.</li>
      <li>Compras a 6 cuotas cero interés en tiendas seleccionadas.</li>
    </ul>
  <div class="button-row">
    <credix-button [type]="'secondary'" (buttonClick)="close()"> Omitir </credix-button>
    <credix-button class="button-large" routerLink="home/credix-mas/info" (buttonClick)="close()"> Ver mas beneficios </credix-button>
  </div>

</div>
