<div class="search_box_container">
  <div [class]="searchBoxStyle" style="position: absolute;  z-index: 1; left: 8px; top: 8px;">
    <div class="search_icon_content">
      <mat-icon class="search_icon" svgIcon="search"></mat-icon>
    </div>
    <input [class]="searchInputStyle" [formControl]="inputControl" placeholder="¿Qué desea pagar?" type="text">
  </div>
  <div [class]="searchPanelStyle">
    <div *ngFor="let item of searchObject, let last = last" class="panel_item_content" matRipple>
      <div class="panel_item_header">
        <mat-icon [svgIcon]="item.icon" class="search_icon" style="margin-right: 12px;"></mat-icon>
        <span class="item_title">{{item.title}}</span>
      </div>
      <div class="item_body_content">
        <span [innerHTML]="item.description | highlightSearch : inputControl.value"
              class="item_body"></span>
      </div>
      <mat-divider *ngIf="!last" class="mt-16px mb-16px" credixDivider></mat-divider>
    </div>
  </div>
</div>
