<div class="bars" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">

  <div fxLayout="row" fxLayoutGap="16px">
    <div>
      <h2 class="tc">Barra de progreso circular</h2>
      <br>
      <credix-gauge [max]="maxColones" [min]="minColones" [value]="colones" label="Disponible" prefix="$">
        <credix-numeric-block [value]="colones" fontSize="20" fontWeight="bold" prefix="₡"></credix-numeric-block>
      </credix-gauge>

      <credix-gauge [max]="maxDollars" [min]="minDollars" [value]="dollars" label="Disponible" prefix="$">
        <credix-numeric-block [value]="dollars" fontSize="20" fontWeight="bold" prefix="$"></credix-numeric-block>
      </credix-gauge>
    </div>

    <div>
      <h2>Barra de progreso</h2>
      <br>
      <credix-progress-bar [goal]="10" [value]="4" label="Meta de transacciones"></credix-progress-bar>
      <br>
      <credix-progress-bar [goal]="10" [value]="10" label="Meta de transacciones"></credix-progress-bar>
    </div>
  </div>

  <h2>Barra de pagos</h2>

  <credix-payment-bar [endDate]="endDateOne" [startDate]="startDateOne"></credix-payment-bar>
  <br>
  <credix-payment-bar [currentDate]="currentDate" [endDate]="endDateTwo" [startDate]="startDateTwo"
                      [toggleGradient]="true" firstLabel="Fecha de pago" secondLabel="Corte"></credix-payment-bar>
</div>
