.credix-link-button {
  font-family: Hebbo, sans-serif;
  font-weight: bold;
  color: #239DF7;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #166EAF;
  }

  &.is-disabled {
    color: #D2D2D2;
    cursor: inherit;
  }
}
