.all-public-services {

  &__categories-container {
    padding: 16px 0;
    max-height: 57px;
    transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    overflow: hidden;

    &.is-open {
      max-height: 1000000px;

      .arrow-icon {
        margin-right: 8px;
        transform: rotate(-90deg) !important;
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }

    .arrow-icon {
      fill: #E42313;
      width: 8px;
      height: 14px;
      transform: rotate(90deg);
    }

  }

  &__enterprises-wrapper {
    padding: 16px 0;
    min-height: 57px;

    a {
      width: 240px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__services a {
    padding-bottom: 16px;

    &:not(:first-of-type) {
      padding-top: 16px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }
  }
}
