<credix-navigation-table [headers]="tableHeaders" class="all-public-services">

  <ngx-simplebar [options]="{autoHide: false, scrollbarMinSize: 100}" class="left-container" fxLayout="column" left>

    <div *ngFor="let category of categories"
         [class.is-open]="categorySelected?.publicServiceCategoryId === category.publicServiceCategoryId"
         class="all-public-services__categories-container"
         fxLayout="column">
      <a (click)="getPublicServiceEnterpriseByCategory(category)" class="pointer"
         fxLayout="row" fxLayoutAlign="space-between">
        <span fxLayout="row" fxLayoutAlign="flex-start center">
          <mat-icon [svgIcon]="category.icon" class="mr-16px"
                    style="fill: #B5B5B5; width: 16px; height: 25px;"></mat-icon>
          {{category.publicServiceCategory}}</span>
        <mat-icon class="arrow-icon" fxFlexAlign="center" svgIcon="chevron_right"></mat-icon>
      </a>

      <ng-container *ngIf="categorySelected?.publicServiceCategoryId === category.publicServiceCategoryId">
        <div *ngFor="let enterprise of enterprises" class="all-public-services__enterprises-wrapper" fxLayout="row"
             fxLayoutAlign="space-between">
          <a (click)="getPublicService(enterprise)"
             [ngClass]="{'bold' : enterprise.publicServiceEnterpriseId === enterpriseSelected?.publicServiceEnterpriseId}"
             class="truncate pointer">
            {{enterprise.publicServiceEnterpriseDescription}}</a>
          <mat-icon *ngIf="enterprise.publicServiceEnterpriseId === enterpriseSelected?.publicServiceEnterpriseId"
                    style="fill: #E42313; width: 8px; height: 13px;" svgIcon="chevron_right"></mat-icon>
        </div>
      </ng-container>

    </div>

  </ngx-simplebar>

  <div class="all-public-services__services" fxLayout="column" right>
    <a (click)="newPublicService(publicService)" *ngFor="let publicService of publicServices" class="pointer"
       fxLayout="row"
       fxLayoutAlign="flex-start center">
      <mat-icon [svgIcon]="categorySelected?.icon" class="mr-16px"
                style="fill: #B5B5B5; width: 16px; height: 25px;"></mat-icon>
      {{publicService.publicServiceName}}
    </a>
  </div>

</credix-navigation-table>
