<mat-card *ngIf="!done else doneReportTemplate" class="report-transference" credixCard fxLayout="column">

  <h1 class="mb-32px">Reportar transferencia</h1>

  <div class="report-transference__content" fxFlex fxLayout="row" fxLayoutAlign="center">

    <span fxFlex="30">Información</span>

    <form [formGroup]="reportTransferenceGroup" fxFlex="70" fxLayout="column" fxLayoutAlign="flex-start flex-end"
          fxLayoutGap="16px">
      <credix-select class="report-transference__input" focusLabel="Banco" formControlName="bank"
                     label="Selecione el banco">
        <mat-option *ngFor="let bank of banks" [value]="bank">
          {{ bank }}
        </mat-option>
      </credix-select>

      <credix-select class="report-transference__input" focusLabel="Moneda" formControlName="currency"
                     label="Seleccione la moneda">
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{ currency.description}}
        </mat-option>
      </credix-select>

      <credix-input-field class="report-transference__input" formControlName="amount" label="Monto"
                          mask="separator"></credix-input-field>

      <credix-date-picker [endDate]="today" class="report-transference__input"
                          formControlName="date" label="Fecha de pago"></credix-date-picker>

      <credix-image-upload (imageChanged)="addVoucher($event)"
                           *ngIf="!this.image" [os]="os" class="report-transference__image-uploader"
                           label="{{link || 'Agregar comprobante'}}"></credix-image-upload>

      <img *ngIf="this.image" [src]="this.image.file" alt="Reporte de transferencia"
           class="report-transference__image"/>

      <credix-link-button (click)="this.image = null" *ngIf="this.image">Eliminar</credix-link-button>
    </form>

  </div>

  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end">
    <credix-button (buttonClick)="send()" [disabled]="reportTransferenceGroup.invalid">Enviar</credix-button>
  </div>

</mat-card>

<ng-template #doneReportTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="title"
                          [status]="status"
                          [moduleTitle]="titleTag || 'Reportar transferencia'"
                          buttonText="Listo"
                          routeTo="/home"></app-credix-result-view>
</ng-template>
