<mat-card *ngIf="!done else doneNewCardTemplate" [class.new-additional-card--first-step-height]="stepperIndex === 0"
          class="new-additional-card" credixCard
          fxLayout="column">

  <h1 class="mb-32px">{{titleTag || 'Tarjetas adicionales'}}</h1>

  <credix-stepper #stepper>

    <cdk-step [label]="firstStepperTag || 'Datos personales'" [stepControl]="userInfoFormGroup">
      <app-new-additional-card-first-step [userInfoFormGroup]="userInfoFormGroup"></app-new-additional-card-first-step>
    </cdk-step>

    <cdk-step [label]="secondStepperTag || 'Lugar de retiro'" [stepControl]="pickUpPlaceFormGroup">
      <app-new-additional-card-second-step
        [addressControl]="pickUpPlaceFormGroup.controls.address"></app-new-additional-card-second-step>
    </cdk-step>

    <cdk-step [label]="thirdStepperTag || 'Confirmación'" [stepControl]="confirmFormGroup">
      <app-new-additional-card-third-step
        [confirmFormControl]="confirmFormGroup.controls.credixCode"></app-new-additional-card-third-step>
    </cdk-step>

  </credix-stepper>

  <div class="new-additional-card__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button (buttonClick)="back()" type="secondary">
        Atrás
      </credix-button>
      <credix-button (buttonClick)="continue()" *ngIf="stepperIndex < 2" [disabled]="disableButton">
        Continuar
      </credix-button>
      <credix-button (buttonClick)="openModal()" *ngIf="stepperIndex === 2" [disabled]="disableButton">
        Solicitar
      </credix-button>
    </div>
  </div>

</mat-card>

<ng-template #doneNewCardTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="title"
                          [status]="status"
                          [title]="titleTag || 'Tarjetas adicionales'"
                          buttonText="Listo"
                          routeTo="/home"></app-credix-result-view>
</ng-template>
