<mat-card *ngIf="!done else doneNewRechargeTemplate" [class.second-step-height]="stepperIndex === 1"
          class="new-recharge"
          credixCard
          fxLayout="column"
          fxLayoutGap="4px">
  <h1 class="mb-16px">{{title}}</h1>

  <credix-stepper #newRechargeStepper>
    <cdk-step [label]="'Consultar'" [stepControl]="phoneNumber">
      <credix-input-field [formControl]="phoneNumber" class="new-recharge__content__input mb-16px"
                          focusLabel="Número de celular" label="Digite el número de celular"
                          mask="0000-0000"></credix-input-field>
    </cdk-step>

    <cdk-step [label]="'Pagar'" [stepControl]="rechargeFormGroup">
      <app-new-recharge-second-step
        (saveFavoriteEvent)="saveAsFavorite"
        [amounts]="amounts"
        [phoneNumber]="phoneNumber"
        [rechargeFormGroup]="rechargeFormGroup"
        [title]="title">
      </app-new-recharge-second-step>
    </cdk-step>

  <div class="new-recharge__footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="back()" text="Atrás" type="secondary"></credix-button>
    <credix-button (buttonClick)="stepperIndex === 0 ? checkPendingReceipts() : openModal()"
                   [disabled]="stepperIndex === 0 ? phoneNumber.invalid : rechargeFormGroup.invalid"
                   [text]="stepperIndex === 0 ? 'Continuar' : 'Recargar'"></credix-button>
  </div>

  </credix-stepper>
</mat-card>


<ng-template #doneNewRechargeTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="status === 'success' ? '¡Éxito!' : 'Opps'"
                          [status]="status"
                          [title]="title"
                          buttonText="Realizar otro pago"
                          routeTo="/home/public-services">

    <div *ngIf="status === 'success'" class="w-100" fxLayout="column">
      <mat-divider class="mb-24px" credixDivider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <p fxFlex="145px"><strong>Datos de la recarga</strong></p>

        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>Monto</span>
            <div>
              <credix-numeric-block [prefix]="'₡'" [value]="rechargeFormGroup.controls.amount?.value"
                                    fontWeight="bold"></credix-numeric-block>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex="60px">Celular</span>
            <span class="tr"><strong>{{rechargeFormGroup.controls.phoneNumber?.value}}</strong></span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex="60px">Fecha</span>
            <span class="tr"><strong>{{today | dateFormatter: 'alphanumeric'}}</strong></span>
          </div>
          <credix-link-button (click)="openBillingModal()">Ver comprobante</credix-link-button>
        </div>

      </div>

      <credix-share-button class="mt-16px" fxFlexAlign="center"></credix-share-button>
    </div>
  </app-credix-result-view>
</ng-template>
