.sign {
  position: relative;

  &__header {
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 3px 6px #00000029;
    padding: 16px 32px 16px 125px;
    align-items: center;
    overflow-y: hidden;
    transition: height 0.5s ease-in;
    -webkit-transition: height 0.5s ease-in, padding 0s ease-in 0.48s;
    -ms-transition: height 0.5s ease-in, padding 0s ease-in 0.48s;
    -moz-transition: height 0.5s ease-in, padding 0s ease-in 0.48s;
    -o-transition: height 0.5s ease-in, padding 0s ease-in 0.48s;

    &__icon {
      width: 24px;
      height: 48px;
      margin-right: 9px;
    }

    &__content {
      margin-right: 34px;

      span {
        color: #3e3e3e;
        font-size: 16px;

        &:first-child {
          font-weight: bold;
        }
      }
    }

    &__buttons button {
      width: auto;
      padding: 0;
    }

    &__close-btn {
      width: 32px;
      height: 32px;
      margin-left: 64px;
      background: #E9E9E9;

      mat-icon {
        width: 16px;
        height: 16px;
        vertical-align: baseline !important;
      }
    }

    &.is-close {
      height: 0;
      padding: 0;
    }

  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: #F0F0F0;
    padding-left: 16px;
    padding-right: 16px;

    span {
      font-size: 10px;
      color: #696D6F;
    }
  }
}

.close-header {
  transform: translate(177.53 -1139.872);
}
