.new-service-third-step {
    padding: 0 84px;
  
    &__content {
      width: 100%;
  
      &__input, &__select {
        width: 380px;
        height: 43px;
      }
    }
  
    ::ng-deep.credix-slider {
      width: 281px;
    }
  
    .credix-slider--no-units ::ng-deep.credix-slider__units {
      display: none;
    }
  
    ::ng-deep .credix-result-notification__title {
      width: 320px;
    }
  
    .left-content {
      width: 380px;
    }
    
  }
  
  @media screen and (max-width: 1199px) {
    .new-service-first-step {
      padding: 0 78px;
  
      &__content__input, &__content__select {
        width: 266px;
      }
    }
  
  }
  
  