.send-money {
  max-height: 703px;
  height: 100%;

  &__divider {
    margin-right: 184px;
    margin-left: 184px;
  }
}

@media screen and (max-width: 1199px) {

  .send-money {
    max-height: 886px;

    &__divider {
      margin-right: 114px;
      margin-left: 114px;
    }
  }
}




    .align-success {

      margin-right: 65px;
    
    }
   

    .content-max{
     min-width: 541px;
     max-width: 541px;
      margin-bottom: 45px;
    }

    .align-cuotas{
  
      margin-left:124px;
    }

    .align-entidad{

      margin-left:124px;
    }


    