<div class="schedule-quotas-third-step" >
  <div fxLayout="column" class="content"  fxLayoutGap="16px">
    <ng-container *ngIf="isColones">
      <div fxLayout="row"  fxLayoutGap="32px" fxLayoutAlign="space-between">
        <div fxLayout="column"  fxLayoutGap="16px">
          <p class="highlighted-info">Compra en colones</p>
          <credix-link-button (click)="''">Editar</credix-link-button>
        </div>

        <div fxLayout="column">
          <div class="text-container mb-16px">
            <span class="info">Toda compra entre <span class="highlighted-info">₡10.000 - ₡100.000</span> se ampliará a <span class="highlighted-info">3 cuotas.</span></span>
          </div>

          <div class="mb-px" fxLayout="row" fxLayoutAlign="space-between">
            <p class="info">Comisión mensual*</p>
            <span class="highlighted-info">5,5%</span>
          </div>

          <div fxLayout="row"  fxLayoutAlign="space-between">
            <p class="info">Interés mensual</p>
            <span class="highlighted-info">0%</span>
          </div>

          <!-- <p class="info mt-16px">Aplica del <span class="highlighted-info">04/11/2023</span> al <span class="highlighted-info">04/12/2023</span></p> -->
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isColones && isDollars">
      <div fxLayout="row">
        <mat-divider  credixDivider ></mat-divider>
      </div>
    </ng-container>

    <ng-container *ngIf="isDollars">
      <div fxLayout="row"  fxLayoutGap="32px" fxLayoutAlign="space-between">
        <div fxLayout="column"  fxLayoutGap="16px">
          <p class="highlighted-info">Compra en d&oacute;lares</p>
          <credix-link-button (click)="''">Editar</credix-link-button>
        </div>

        <div fxLayout="column">
          <div class="text-container mb-16px">
            <span class="info">Toda compra entre <span class="highlighted-info">₡10.000 - ₡100.000</span> se ampliará a <span class="highlighted-info">3 cuotas.</span></span>
          </div>

          <div class="mb-8px" fxLayout="row" fxLayoutAlign="space-between">
            <p class="info">Comisión mensual*</p>
            <span class="highlighted-info">5,5%</span>
          </div>

          <div fxLayout="row"  fxLayoutAlign="space-between">
            <p class="info">Interés mensual</p>
            <span class="highlighted-info">0%</span>
          </div>

          <!-- <p class="info mt-16px">Aplica del <span class="highlighted-info">04/11/2023</span> al <span class="highlighted-info">04/12/2023</span></p> -->
        </div>
      </div>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="flex-end">
      <div fxLayout="column" fxLayoutGap="8px" class="summary text-container">
        <p class="summary__text"><span class="summary__highlighted-text">Aplica</span> para transacciones en firme (no flotantes) entre el 30 y el 26
          de cada mes. </p>
        <p class="summary__text"><span class="summary__highlighted-text">No aplica</span> para transacciones que queden en firme entre el 27 y el 29
          del mes.</p>

        <p class="summary__text">*La tasa cambia cada 6 meses (en enero y julio), según lo comunicado por el Banco
          Central.
        </p>
      </div>
    </div>
  </div>

</div>
