.schedule-quotas-third-step{
  padding: 0 177px 0 176px;
  box-sizing: border-box;
  height: 431px;

  .info{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .highlighted-info{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }

  .text-container{
    width: 311px;
  }

  .content{
    width: 492px;
    height: auto;
    box-sizing: border-box;
    .width-info{
      width: 311px;
    }

    .summary{
      box-sizing: border-box;

      &__text{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }

      &__highlighted-text{
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

  }
}

@media screen and (max-width: 1200px) {
  .schedule-quotas-third-step {
    padding: 0 106px;
    height: 655px;
    box-sizing: border-box;
  }
}
