.marchamo-third-step {
  padding: 0 84px;

  &__content {
    width: 100%;
    padding-top: 16px;
  }

  &__sub-content {
    margin-left: 28px;
    width: 352px;
  }

  .left-content {
    width: 380px;
  }
}

.span-mount {
  margin: 0 5px 0 33px;
}

.span-tag {
  position: relative;
  left: 29px;
}

@media screen and (max-width: 1199px) {

  .marchamo-third-step {
    padding: 0 78px;

    &__sub-content {
      margin-left: 0;
    }

    .left-content {
      width: 266px;
    }
  }
  .span-mount {
    margin: 0 2px 0 2px;
  }

  .span-tag {
    left: 5px;
  }
}
