<mat-card class="favorites-management" credixCard fxLayout="column" fxLayoutGap="16px">
  <h1>Gestionar favoritos</h1>

  <credix-tab (selectionEvent)="tabSelected($event)" [tabs]="tabs"></credix-tab>

  <credix-navigation-table [headers]="tableHeaders">

    <div *ngIf="showContent && responseMessage === undefined" class="w-100 favorites-management__list" fxLayout="column"
         left>

      <a (click)="getDetailFavorite(account)" *ngFor="let account of accounts"
         class="favorites-management__account-wrapper" fxLayout="column">
        <span><strong>{{account.name}}</strong></span>
        <div *ngIf="tabId === 2" class="list-id-2" fxLayout="row" fxLayoutGap="96.79px">
          <span>{{account.publicServiceName}}</span>
          <mat-icon style="fill: #E42313;width: 8px; height: 13px;" svgIcon="chevron_right"></mat-icon>
        </div>
        <div *ngIf="tabId === 3" class="list-id-3" fxLayout="row" fxLayoutGap="8.29px">
          <span>{{account.account + '-' + account.key | mask: '0000-0000'}}</span>
          <mat-icon style="fill: #E42313;width: 8px; height: 13px;" svgIcon="chevron_right"></mat-icon>
        </div>
        <div fxLayout="row" fxLayoutGap="38.79px">
          <span>{{account.account}}</span>
          <mat-icon *ngIf="tabId !== 2" style="fill: #E42313;width: 8px; height: 13px;"
                    svgIcon="chevron_right"></mat-icon>
        </div>
        <mat-divider class="mt-16px" credixDivider></mat-divider>
      </a>


    </div>

    <div class="favorites-management__right-content" fxLayout="column"
         fxLayoutAlign="center center" right>

      <credix-result-notification *ngIf="!showContent && responseMessage !== null" [title]="responseMessage"
                                  class="favorites-management__result"
                                  status="info">
      </credix-result-notification>

      <div *ngIf="showContent && responseMessage === undefined" fxLayout="column">
        <router-outlet></router-outlet>
      </div>

    </div>
  </credix-navigation-table>

  <div class="favorites-management__footer" fxLayoutAlign="center">
    <credix-button (buttonClick)="addButtonRedirect(tabId)" [text]="buttonText"></credix-button>
  </div>

  <div *ngIf="showContent && responseMessage === undefined" class="favorites-management__footer-right"
       fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button text="Eliminar" type="secondary"></credix-button>
      <credix-button text="Guardar"></credix-button>
    </div>
  </div>
</mat-card>


