.new-additional-card-third-step {
  padding: 0 84px;

  &__content {
    width: 100%;

    .left-content {
      width: 378px;
    }
  }
}

@media screen and (max-width: 1199px) {

  .new-additional-card-third-step {
    padding: 0 78px;

    &__content {

      .left-content {
        width: 266px;
      }
    }
  }
}

