<div class="new-additional-card-third-step" fxLayout="column">

  <div class="new-additional-card-third-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="210px"><strong>{{subtitleOneTag || 'Contacto'}}</strong></span>

    <div class="left-content" fxLayout="column">
      <span>{{name}}</span>
      <span>{{email}}</span>
      <span>{{phoneNumber}}</span>
    </div>
  </div>

  <mat-divider class="mb-16px mt-16px" credixDivider></mat-divider>

  <div class="new-additional-card-third-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="210px"><strong>{{subtitleTwoTag || 'Lugar de retiro'}}</strong></span>

    <p class="left-content">{{pickUpPlace}}</p>
  </div>

  <mat-divider class="mb-16px mt-16px" credixDivider></mat-divider>

  <div class="new-additional-card-third-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="210px"><strong>{{subtitleThreeTag || 'Nueva tarjeta'}}</strong></span>

    <div class="left-content" fxLayout="column">
      <div fxLayout="row">
        <span fxFlex="120px">{{secondTag || 'A nombre de'}}</span>
        <span class="tr" fxFlex><strong>{{name}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span fxFlex="120px">{{thirdTag || 'Límite de crédito'}}</span>
        <span class="tr" fxFlex><strong>{{creditLimit}}%</strong></span>
      </div>
    </div>
  </div>

  <mat-divider class="mb-16px mt-16px" credixDivider></mat-divider>

  <div class="new-additional-card-third-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="210px" fxLayout="column">
      <span><strong>Código MiCredix</strong></span>
      <p style="font-size: 14px;">Ingrese el código generado en la aplicación
        <credix-link-button>
          Código MiCredix
          <mat-icon style="width: 6px; height: 10px; fill:#239DF7" svgIcon="chevron_right"></mat-icon>
        </credix-link-button>
      </p>
    </div>

    <credix-code-input [(codeFormControl)]="confirmFormControl" [length]="6" class="left-content"
                       errorMessage="Introduzca el codigo de confirmación"></credix-code-input>
  </div>

</div>
