.credix-input-password {
  width: 100%;

  ::ng-deep.mat-input-element {
    margin-left: 8px;
    font-weight: bold;
    font-size: 16px;
  }

  ::ng-deep.mat-form-field-label {
    margin-left: 8px;
    color: #3E3E3E;
  }

  ::ng-deep.mat-form-field-infix {
    border: 0 !important;
    padding-bottom: 16px;
    padding-top: 4px !important;
  }

  ::ng-deep.mat-form-field-infix {
    border: 0 !important;
    padding-bottom: 16px;
    padding-top: 4px !important;
    box-shadow: none;
  }

  ::ng-deep.mat-form-field-suffix {
    margin-right: 8px;
    color: #3e3e3e;
    position: absolute;
    right: 0;
  }

  ::ng-deep &.mat-focused .mat-form-field-infix {
    box-shadow: -5px 4px 7px -4px rgba(0, 0, 0, 0.149), 5px 4px 7px -4px rgba(0, 0, 0, 0.149);
  }

  ::ng-deep &.mat-focused .mat-form-field-infix, &.has-value ::ng-deep.mat-form-field-infix {
    padding-bottom: 6px !important;
    border-top: 10px solid transparent !important;
    box-shadow: none;
  }

  ::ng-deep.mat-form-field-underline {
    background-color: #C7C7C7 !important;
  }

  ::ng-deep &.mat-focused .mat-form-field-ripple {
    background-color: #707070 !important;
  }

  ::ng-deep &.mat-form-field-disabled {

    .mat-form-field-label {
      color: #D2D2D2 !important;
    }

    .mat-form-field-suffix {
      color: #D2D2D2 !important;
    }

    ::ng-deep.mat-form-field-underline {
      background-color: #D2D2D2 !important;
      background-image: none !important;
    }
  }

  ::ng-deep &.mat-form-field-invalid {

    .mat-form-field-label {
      color: #3e3e3e !important;
    }

    .mat-form-field-suffix {
      color: #3e3e3e !important;
    }

    .mat-form-field-ripple {
      background-color: #707070 !important;
    }
  }
}
