<mat-form-field [class.has-value]="control.value && control.value.length > 0" [credixPasswordFieldTooltip]="control"
                [panelClass]="panelClass"
                [tooltipOffsetY]="tooltipOffsetY"
                [tooltipWidth]="tooltipWidth"
                appearance="standard"
                class="credix-input-password">
  <mat-label>{{viewLabel}}</mat-label>
  <input [formControl]="control" [type]="hide ? 'password' : 'text'" matInput/>
  <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" matSuffix></mat-icon>
</mat-form-field>
