<mat-card class="rule-card">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span class="container-title title">{{ title }}
      <ng-container *ngIf="rule.canEdit">
        <mat-icon (click)="editRule()" [svgIcon]="'edit'" class="icon-edit"></mat-icon>
      </ng-container>
    </span>

    <ng-container *ngIf="rule.canEdit; else canNotEdit">
      <div fxLayout="row"  fxLayoutGap="16px" fxLayoutAlign="space-between center">
        <span [ngStyle]="{'color': rule.isActive ? '#0BC626' : '#3E3E3E'}" class="text-icon"> {{ rule.isActive ? 'Activa' : 'Inactiva' }}</span>
        <label class="toggle" >
          <input (change)="modifyState()" type="checkbox" id="toggle-input" [value]="rule.isActive">
          <span class="slider"></span>
        </label>
      </div>
    </ng-container>

    <ng-template #canNotEdit>
      <div fxLayout="row"  fxLayoutGap="8px" fxLayoutAlign="space-between center">
        <mat-icon (click)="''" [svgIcon]="'information-outline'" class="icon-info color-blue"></mat-icon>
        <span class="in-progress-text">{{ rule.statusName }}</span>
      </div>
    </ng-template>
  </div>

  <div class="mt-16px mb-16px">
    <span class="text">Toda compra entre <span class="text__bold">
        {{ this.currencySimbol + formatNumberWithCommas(!minimumAmount ? '0' : minimumAmount) }}
        - {{ this.currencySimbol + formatNumberWithCommas(!maximumAmount ? '0' : maximumAmount)
        }}</span> se ampliará a
      <span class="text__bold">{{ rule.listQuota.quotaTo }} {{ rule.listQuota.quotaTo === 1 ? 'cuota'
        : 'cuotas' }}.</span></span>
  </div>

  <div class="mb-8px" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="text">{{tag1 || 'Comisión mensual'}}</p>
    <span class="text__bold">{{ formatNumber(rule.listQuota.commissionRate) }}%</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <p class="text">{{ tag2 || 'Interés mensual'}}</p>
    <span class="text__bold">{{  formatNumber(rule.listQuota.feePercentage) }}%</span>
  </div>

  <ng-container *ngIf="rule.initDate && rule.endDate">
    <p class="text mt-16px">
      Aplica del <span class="text__bold">{{ formatDate(rule.initDate) }}</span>
      al <span class="text__bold">{{ formatDate(rule.endDate) }}</span></p>
  </ng-container>

</mat-card>
