.rule-card{
  width: 430px;
  height: 237px;
  margin-top: 16px;
  box-sizing: border-box;

  .title{
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  .container-title{
    display: flex;
    align-items: center;
  }

  .text{
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    &__bold{
      font-weight: 700;
    }
  }

  .icon-edit{
    margin-left: 16px;
    cursor: pointer;
    color: #E42313;
    width: 19px;
    height: 18px;
  }

  // .mat-icon[ng-reflect-svg-icon="toggle_off"]{
  //   width: 46px;
  //   height: 28px;
  //   cursor: pointer;
  //   svg {
  //     background: red;
  //     scale: 2;
  //     margin-left: -8px;
  //     margin-top: 5px;
  //   }
  // }

  .icon-switch {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-align: inherit;
    color: inherit;
  }


  .text-icon{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
  }
}

@media screen and (max-width: 1200px) {
  .rule-card{
    width: 360px;
    box-sizing: border-box;
  }
}
