<mat-card class="rule-card">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span class="container-title title">{{ title }}
      <mat-icon (click)="''" [svgIcon]="'edit'" class="icon-edit"></mat-icon>
    </span>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="text-icon">Inactiva</span>
      <button type="button" class="icon-switch">
        <img src="../../../../../../assets/images/toggle.png" alt="">
      </button>
      <!-- <mat-icon (click)="''" [svgIcon]="'toggle_off'" class="icon-edit"></mat-icon> -->
    </div>
  </div>

  <div class="mt-16px mb-16px">
    <span class="text">Toda compra entre <span class="text__bold">
        {{ this.currencySimbol + formatNumberWithCommas(!minimumAmount ? '0' : minimumAmount) }}
        - {{ this.currencySimbol + formatNumberWithCommas(!maximumAmount ? '0' : maximumAmount)
        }}</span> se ampliará a
      <span class="text__bold">{{ rule.listQuota.quotaTo }} {{ rule.listQuota.quotaTo === 1 ? 'cuota'
        : 'cuotas' }}.</span></span>
  </div>

  <div class="mb-8px" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="text">{{tag3 || 'Comisión mensual*'}}</p>
    <span class="text__bold">{{ formatNumber(rule.listQuota.commissionRate) }}%</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <p class="text">{{ tag4 || 'Interés mensual'}}</p>
    <span class="text__bold">{{  formatNumber(rule.listQuota.feePercentage) }}%</span>
  </div>

  <ng-container *ngIf="rule.initDate && rule.endDate">
    <p class="text mt-16px">
      Aplica del <span class="text__bold">{{ formatDate(rule.initDate) }}</span>
      al <span class="text__bold">{{ formatDate(rule.endDate) }}</span></p>
  </ng-container>

</mat-card>
