img {
  width: 100%;
}

::ng-deep {
  .mat-dialog-container {
    overflow: visible;
    padding: 0;
  }
  .credix-popup {
    position: static !important;
  }
}

.credix-mas-popup {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  > *:not(img) {
    padding: 0 1rem;
  }
  .button-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    .button-large {
      ::ng-deep button {
        padding: 0 2rem !important;
      }
    }
  }
}
