.cancellation {
  &__divider {
    margin-right: 180px;
    margin-left: 180px;
  }

  &__table{
    &__scroll{
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &__data-info {
    margin: 24px 164px 16px 164px;

    &__text {
      font-size: 16px;
      font-weight: bold;
      color: #3e3e3e;
    }

    &__row {
      width: 296px;
      padding-bottom: 10px;
    }
  }

  &__banner-tab {
    position: relative;
    height: 662px;

    h1 {
      margin-bottom: 16px;
    }
  }

  &__succResp{
    margin-top: 63px;
  }

  &__errResp{
    margin-top: 133px;
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e9e9e9;
    padding: 16px;
  }
}

.disabledRow{
  color: #D2D2D2;
}

:host ::ng-deep .mat-table {
  margin-top: 17px !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
}

:host ::ng-deep credix-result-notification{
  width: 294px;
  margin: 35px auto 0 auto;
}

:host ::ng-deep .credix-tab {
  margin-top: 16px;
  margin-bottom: 24px !important;
}
:host ::ng-deep .credix-result-notification__message {
  width: 470px;
}

:host ::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom-width: 0px !important;
}
:host ::ng-deep td.mat-cell:last-of-type{
  padding-right: 0 !important;
  border-bottom-style: none !important;
}

:host ::ng-deep mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type{
  padding-left: 0px !important;
}

:host ::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
  padding-right: 0px !important;
}

.credix-checkbox {
  width: 20px;
  height: 20px;
  text-align: left;
  font: normal 16px/24px;
  letter-spacing: 0;
  color: #3E3E3E;

  &.mat-checkbox-checked.mat-accent {
    ::ng-deep.mat-checkbox-background {
      background: #3E3E3E 0 0 no-repeat padding-box;
      border-radius: 4px;
    }
  }

  &.mat-checkbox-disabled.mat-checkbox-checked {
    ::ng-deep.mat-checkbox-background {
      background: #D2D2D2 0 0 no-repeat padding-box;
    }
  }

  &.mat-checkbox-disabled {
    ::ng-deep.mat-checkbox-label {
      text-align: left;
      font: normal 16px/24px;
      letter-spacing: 0;
      color: #D2D2D2;
    }
  }

  ::ng-deep.mat-checkbox-frame {
    border-radius: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .cancellation {
    &__banner-tab {

      height: 886px;
    }

    &__divider {
      margin-right: 114px;
      margin-left: 114px;
    }

    &__data-info {
      margin: 24px 100px 16px 87px;
    }
    &__succResp{
      margin-top: 175px;
    }
    &__errResp{
      margin-top: 246px;
    }
  }

  :host ::ng-deep credix-result-notification{
    margin: 134px auto 134px auto;
  }
}
