<div class="in-progress-popup">
  <div class="container">
    <ng-container *ngIf="valueStatus < 3; isDesactivation">
      <p class="test" >{{ info || 'La regla se creó o modificó recientemente. Se reflejará a las 72 horas hábiles después del momento de su creación o edición.'}}</p>
    </ng-container>

    <ng-template #isDesactivation>
      <p class="test" >{{ info2 || 'La regla se desactivó recientemente. Se reflejará a las 24 horas hábiles después del momento de su desactivación.'}}</p>
    </ng-template>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <credix-button class="content__botton" (buttonClick)="submit()">{{ bottom || 'Listo'}}</credix-button>
  </div>
</div>
