<div class="make-buy" fxLayout="row" fxLayoutAlign="space-between">
    <span><strong>Tarjeta</strong></span>
    
<!-- 
    <credix-select
        label="Tarjeta"
        class="buy-without-card__card-select select"
    >
        <!-- <mat-option *ngFor="let  of " [value]="">

        </mat-option> -->
    <!-- </credix-select>  -->

        
</div>

<mat-divider class="mb-16px"></mat-divider>
<div fxLayout="row">
    <span>PIN de compra/pago</span>

    <div fxLayout="column" fxLayoutGap="14px">
        <span> {{barCode}}</span>
    </div>
</div>
