<div class="make-buy" fxLayout="row">
    <span>Tarjeta</span>
    
<!-- 
    <credix-select
        label="Tarjeta"
        class="buy-without-card__card-select select"
    >
        <!-- <mat-option *ngFor="let  of " [value]="">

        </mat-option> -->
    <!-- </credix-select>  -->

        
</div>
<div fxLayout="row">
    <span>PIN de compra/pago</span>

    <div fxLayout="column" fxLayoutGap="14px">
        <span> {{barCode}}</span>
        <ejs-barcodegenerator style="display: block;"  #barcode id="barcode" width="200px" height="150px" mode="SVG" type="Codabar" value="123456789"></ejs-barcodegenerator>
    </div>
</div>