.consult-information{
    margin-left: 110px;
    margin-right: 109.5px;
    margin-top: 32.5px;
    .subtitle{
        font-weight: bold;
        font-size: 16px !important;
    } 
    .owner{
        font-weight: bold;
        font-size: 16px;
        margin-left: 70px;
    }
    .brand-description{
        font-weight: bold;
        font-size: 16px;
        margin-left: 164px;
    }
    .year-model{
        font-weight: bold;
        font-size: 16px;
        margin-left: 202px;
    }
    .owed-years{
        font-weight: bold;
        font-size: 16px;
        margin-left: 111px;

    }
    .period{
        font-weight: bold;
        font-size: 16px;
        margin-left: 175px;
    }
}
