<div class="consult-information" fxLayout="row">
    <h3 
    class="sub-title"
    fxFlex="50">Información del vehículo</h3>
    <div  fxFlex="60" fxLayout="column" fxLayoutAlign="flex-start flex-end">
            <table class="w-100">
                <tbody>
                    <tr>
                        <td>Propietario</td>
                        <td class="owner">{{consultVehicle.ownerName}}</td>
                    </tr>
                    <tr>
                        <td>Marca</td>
                        <td class="brand-description">{{consultVehicle.brandDescription}}</td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td class="year-model">{{consultVehicle.yearModel}}</td>
                    </tr>
                    <tr>
                        <td>Períodos adeudados</td>
                        <td class="owed-years">{{consultVehicle.owedYears}}</td>
                    </tr>
                    <tr>
                        <td>Período (s) a pagar</td>
                        <td class="period">{{consultVehicle.period}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
   
</div>