.consult-information {
  padding-left: 101px;
  padding-right: 99px;
  padding-top: 32.5px;

  .subtitle {
    font-weight: bold;
    font-size: 16px !important;
  }

  .owner {
    font-weight: bold;
    font-size: 16px;
    margin-left: 183px;
  }

  .brand-description {
    font-weight: bold;
    font-size: 16px;
    margin-left: 277px;
  }

  .year-model {
    font-weight: bold;
    font-size: 16px;
    margin-left: 315px;
  }

  .owed-years {
    font-weight: bold;
    font-size: 16px;
  }

  .period {
    font-weight: bold;
    font-size: 16px;
  }
}
