.credix-amount-summary{
  width: 395px;
  height: 61px;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.12));
  &__label{
    color: var(--gris-oscuro-3-e-3-e-3-e, #3E3E3E);
    /* 20 pt Regular */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
