<div class="popups" fxLayout="column" fxLayoutGap="24px">
  <h2>Popups ó modales</h2>

  <div fxLayout="row" fxLayoutGap="24px">
    <credix-button (click)=openFirstModal() text="Abrir primer popup"></credix-button>

    <credix-button (click)=openSecondModal() text="Abrir segundo popup"></credix-button>

    <credix-button (click)=openThirdModal() text="Abrir popup de confirmación"></credix-button>
  </div>

  <div>Mensaje recibido del segundo modal: <strong>{{message}}</strong></div>
</div>

<ng-template #firstModalTemplate>
  <div fxLayout="column" fxLayoutGap="36px">
    <h2>Primer modal</h2>

    <p>Puede cerrar el modal en el boton superior.</p>
  </div>
</ng-template>

<ng-template #secondModalTemplate>
  <div class="h-100" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="36px">
    <p class="mt-24px">Segundo modal con botón</p>
    <credix-button (buttonClick)="secondModal.close({message: 'Credix World'})" class="w-100"
                   text="Enviar"></credix-button>
  </div>
</ng-template>
