.extend-term {
  max-height: 662px;
  height: 100%;
  width: 877px !important;
  margin-left: -16px !important;

  &__table-wrapper {
    height: 262px !important;
    width: 580px !important;
    margin: auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__scrollbar {
    height: 400px !important;
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .actions-footer {
    width: 877px !important;
    margin-left: 0px !important;
    padding-top: 6px !important;
  }
}

.title-space {
  margin: 16px 0 0 16px !important;
}

:host {
  ::ng-deep credix-result-notification {
    transform: translate(-50%, -50%) !important;
    padding-top: 85px !important;

    .credix-result-notification__title {
      width: 310px !important;
    }
  }

  .amount-summary {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem !important;
    ::ng-deep credix-amount-summary .credix-amount-summary {
      width: 630px !important;
      display: flex;
      justify-content: space-between;
    }
  }
}
::ng-deep.info {
  .mat-dialog-container {
    padding: 16px;
  }
  .credix-popup {
    &__title {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
    }
    &__close-button {
      top: 24px !important;
    }
  }
}

@media screen and (max-width: 1199px) {
  .extend-term {
    //max-height: 886px;
    //width: 100% !important;
    width: 736px !important;
    margin-left: -16px !important;

    &__scrollbar {
      height: auto !important;
    }

    &__table-wrapper {
      height: 578px;
    }

    &__table {
      ::ng-deep.mat-header-row {
        width: 100% !important;
      }
    }

    .actions-footer {
      width: 100% !important;
      margin-left: 0px !important;
      background-color: #fff !important;
    }
  }
}

/*.extend-term {
    max-height: 662px;
    height: 100%;
    position: relative;

    &__menu-options {
      height: 560px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__option {
      padding: 20px 0 16px 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid #E9E9E9;
      }

      &:hover {
        cursor: pointer;
      }

      &__label {
        font-size: 16px;
        color: #3e3e3e;

        &.is-selected {
          font-weight: bold;
        }
      }

      &__arrow {
        height: fit-content;
        position: relative;
        bottom: 21.5px;

        &:after {
          content: url(../chevron_right_icon.svg);
          position: absolute;
          right: 0;
        }
      }
    }

    &__text-disabled {
      color: #D2D2D2;

      ::ng-deep .credix-numeric-block__integer, ::ng-deep .credix-numeric-block__decimal {
        color: #D2D2D2;
      }
    }

    &__message {
      color: #707070;
      font-size: 10px;
      width: 300px;
    }

    &__footer {
      width: 70%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 16px;

      &.done-footer {
        border-top: 1px solid #E9E9E9;
        width: 100%;
      }
    }

    &__content {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #ffffff;
      min-height: 478px;

      &__date {
        font-size: 14px;
        color: #6F7071;
      }

      &__date-smaller {
        font-size: 12px;
        color: #6F7071;
      }

      &__subtitle {
        font-size: 14px;

        &.is-selected {
          font-weight: bold;
        }
      }
    }

    &__content-right {
      width: 282px;

      &__option {
        padding: 16px 0;

        &:not(:last-child) {
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }

    &__empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__promo-apply {
      color: #19D27E;

      &__subtitle {
        font-size: 12px;
        font-weight: bold;
        color: #19D27E;
      }

      &__selected {
        color: #19D27E;
        font-weight: bold;
        font-size: 16px;
        text-overflow: clip;
      }
      ::ng-deep{
        .credix-numeric-block{
          &__integer{
            color: #19D27E;
          }
          &__decimal{
            color: #19D27E;
          }
        }
      }
    }
  }

  .mt-10px {
    margin-top: 10px !important;
  }

  @media screen and (max-width: 1199px) {
    .extend-term {
      max-height: 886px;

      &__menu-options {
        height: 733px;
      }
    }

  }

  :host ::ng-deep {

    .navigation-table__header {
      margin-left: -16px;
      margin-right: -16px;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    .navigation-table__content {
      margin-right: -16px;
      margin-left: -16px;
    }

    .navigation-table__content__left {
      padding: 0 !important;
    }

    .credix-result-notification {

      .credix-result-notification__title, .credix-result-notification__message {
        width: 290px;
      }
    }
  }
*/
