<div *ngIf="!done && !empty" class="extend-term" fxLayout="column">
  <div class="title-space">
    <p>
      Para ampliar varias compras a la vez, estas deben tener las mismas
      condiciones:
    </p>
    <ul>
      <li>Compras con la misma promoción.</li>
      <li>Compras sin promoción.</li>
      <li>Compras de la misma moneda.</li>
    </ul>
  </div>

  <div class="extend-term__table-wrapper">
    <credix-allowed-movement
      *ngFor="let movement of allowedMovements; let last = last"
      [movement]="movement"
      [selectedChanges]="selectedChanges"
      [lastItem]="last"
      (changeSelection)="change($event, movement)"
    >
    </credix-allowed-movement>
  </div>
  <div class="amount-summary">
    <credix-amount-summary
      label="Monto a ampliar"
      [amount]="amountSummary"
      [prefix]="summaryPrefix"
    >
    </credix-amount-summary>
  </div>
  <div
    class="actions-footer"
    fxLayout="row"
    fxLayoutAlign="flex-end"
    fxLayoutGap="16px"
  >
    <credix-button
      [disabled]="selection.length === 0 || buttonDisable"
      (buttonClick)="next()"
      >Continuar</credix-button
    >
  </div>
</div>

<ng-template #disabledTemplate>
  <credix-result-notification
    class="extend-term__empty"
    status="error"
    [message]="message"
    [title]="title"
  >
  </credix-result-notification>
</ng-template>

<credix-result-notification
  *ngIf="!title && empty"
  class="extend-term__empty"
  status="info"
  title="{{ warningTag || 'No tiene consumos para ampliar en este momento.' }}"
>
</credix-result-notification>

<ng-container [ngTemplateOutlet]="template"></ng-container>
