<mat-card *ngIf="!done else donePasswordTemplate" class="change-password" credixCard fxLayout="column">
  <h1>{{titleTag || 'Cambiar clave'}}</h1>

  <div class="change-password__content">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <span><strong>Nueva clave</strong></span>

      <div class="tr" fxLayout="column">
        <form [formGroup]="changePasswordForm">
          <credix-input-field [credixPasswordFieldTooltip]="changePasswordForm.controls.password"
                              [type]="hidePassword ? 'password' : 'text'" class="change-password__input"
                              focusLabel="Digite su nueva clave" formControlName="password"
                              label="Digite su nueva clave"
                              panelClass="password-panel" tooltipOffsetY="-213" tooltipType="password">
            <mat-icon (click)="hidePassword = !hidePassword"
                      [ngClass]="{'disabled-color': !changePasswordForm.controls.password.value}"
                      [svgIcon]="hidePassword ? 'eye-outline' : 'eye-off-outline'"
                      suffix></mat-icon>
          </credix-input-field>

          <credix-input-field [type]="type" class="change-password__input"
                              formControlName="confirmPassword"
                              label="Confirme su nueva clave">
            <mat-icon
              (click)="hideConfirmPassword = !hideConfirmPassword; type = hideConfirmPassword === true ? 'password': 'text'"
              [ngClass]="{'disabled-color': !changePasswordForm.controls.confirmPassword.value}"
              [svgIcon]="hideConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
              suffix></mat-icon>
          </credix-input-field>
        </form>
      </div>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div class="mt-16px" fxLayout="row" fxLayoutAlign="space-between start">
      <credix-code-link></credix-code-link>

      <form [formGroup]="changePasswordForm">
        <credix-code-input class="change-password__code tr" formControlName="code">
          <span error>Introduzca el código credix.</span>
        </credix-code-input>
      </form>
    </div>
  </div>

  <credix-result-notification [message]="message" [status]="status" [title]="title"></credix-result-notification>

  <div class="change-password__content__footer tr">
    <credix-button (buttonClick)="confirm()" [disabled]="changePasswordForm.invalid"
                   text="Confirmar"></credix-button>
  </div>
</mat-card>

<ng-template #donePasswordTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="title"
                          [status]="status"
                          [title]="titleTag || 'Cambiar clave'"
                          buttonText="Listo"
                          routeTo="/home"></app-credix-result-view>
</ng-template>
