<mat-card *ngIf="!done else donePasswordTemplate" class="change-password" credixCard fxLayout="column">
  <h1>{{titleTag || 'Cambiar clave'}}</h1>

  <div class="change-password__content">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <span class="change-password__content__title">Nueva clave</span>

      <div class="tr" fxLayout="column">
        <form [formGroup]="changePasswordForm">
          <credix-input-field [credixPasswordFieldTooltip]="changePasswordForm.controls.password"
                              [type]="hidePassword ? 'password' : 'text'" class="change-password__input"
                              focusLabel="Digite su nueva clave" formControlName="password"
                              label="Digite su nueva clave"
                              panelClass="password-panel" tooltipOffsetY="-213" tooltipType="password">
            <mat-icon (click)="hidePassword = !hidePassword"
                      [ngClass]="{'disabled-color': !changePasswordForm.controls.password.value}"
                      [svgIcon]="hidePassword ? 'eye-outline' : 'eye-off-outline'"
                      suffix></mat-icon>
          </credix-input-field>

          <credix-input-field [type]="type" class="change-password__input"
                              formControlName="confirmPassword"
                              label="Confirme su nueva clave">
            <mat-icon
              (click)="hideConfirmPassword = !hideConfirmPassword; type = hideConfirmPassword === true ? 'password': 'text'"
              [ngClass]="{'disabled-color': !changePasswordForm.controls.confirmPassword.value}"
              [svgIcon]="hideConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
              suffix></mat-icon>
          </credix-input-field>
        </form>
      </div>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div class="mt-16px" fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="column">
        <span class="change-password__content__title">Código MiCredix</span>
        <span class="change-password__content__msg">Ingrese el código generado en la aplicación
          <credix-link-button
            route="https://play.google.com/store/apps/details?id=com.Mobtion.Credix.Credixcel&hl=es_419">
        Código MiCredix
        <mat-icon style="width: 6px; height: 10px; fill:#239DF7" svgIcon="chevron_right"></mat-icon>
      </credix-link-button>
          </span>
      </div>

      <form [formGroup]="changePasswordForm">
        <credix-code-input [(codeFormControl)]="changePasswordForm.controls.code" [length]="6"
                           class="change-password__code tr"
                           errorMessage="Ingrése código MiCredix">
        </credix-code-input>
      </form>
    </div>
  </div>

  <credix-result-notification [message]="message" [status]="status" [title]="title"></credix-result-notification>

  <div class="change-password__content__footer tr">
    <credix-button (buttonClick)="confirm()" [disabled]="changePasswordForm.invalid"
                   text="Confirmar"></credix-button>
  </div>
</mat-card>

<ng-template #donePasswordTemplate>

  <mat-card class="change-password" credixCard fxLayout="column">
    <h1>{{titleTag || 'Cambiar clave'}}</h1>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <credix-result-notification [message]="message" [status]="status" [title]="title"></credix-result-notification>
    </div>

    <div class="bottom-btn-wrapper" fxLayout="row" fxLayoutAlign="flex-end">
      <credix-button (buttonClick)="goBack()" class="mr-16px" text="Listo"></credix-button>
    </div>
  </mat-card>

</ng-template>
