<mat-card *ngIf="!done else donePasswordTemplate" class="change-password" credixCard fxLayout="column">
  <h1>{{titleTag || 'Cambiar clave'}}</h1>

  <form [formGroup]="changePasswordForm" class="change-password__content" fxFlex fxLayout="column"
        fxLayoutGap="16px">

    <div fxLayout="row" fxLayoutAlign="space-between">
      <span><strong>Nueva clave</strong></span>

      <div class="left-content" fxLayout="column">
        <credix-input-field [credixPasswordFieldTooltip]="changePasswordForm.controls.password"
                            [type]="hidePassword ? 'password' : 'text'"
                            focusLabel="Digite su nueva clave" formControlName="password"
                            label="Digite su nueva clave"
                            panelClass="password-panel" tooltipOffsetY="-225" tooltipType="password">
          <mat-icon (click)="hidePassword = !hidePassword"
                    [ngClass]="{'disabled-color': !changePasswordForm.controls.password.value}"
                    [svgIcon]="hidePassword ? 'eye-outline' : 'eye-off-outline'"
                    suffix></mat-icon>
        </credix-input-field>

        <credix-input-field [type]="type" formControlName="confirmPassword" label="Confirme su nueva clave">
          <mat-icon
            (click)="hideConfirmPassword = !hideConfirmPassword; type = hideConfirmPassword === true ? 'password': 'text'"
            [ngClass]="{'disabled-color': !changePasswordForm.controls.confirmPassword.value}"
            [svgIcon]="hideConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
            suffix></mat-icon>
          <span *ngIf="changePasswordForm.controls.confirmPassword.hasError('passwordError')"
                error>Las claves no coinciden.</span>
        </credix-input-field>
      </div>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <credix-code-link></credix-code-link>

      <credix-code-input class="left-content" formControlName="credixCode">
        <span *ngIf="changePasswordForm.controls.credixCode.hasError('required')"
              error>Introduzca el código credix.</span>
        <span *ngIf="changePasswordForm.controls.credixCode.hasError('invalid')"
              error>Código credix inválido.</span>
      </credix-code-input>
    </div>
  </form>

  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end">
    <credix-button (buttonClick)="confirm()" [disabled]="changePasswordForm.invalid">Confirmar</credix-button>
  </div>
</mat-card>

<ng-template #donePasswordTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="title"
                          [status]="status"
                          [title]="titleTag || 'Cambiar clave'"
                          buttonText="Listo"
                          routeTo="/home"></app-credix-result-view>
</ng-template>
