.change-password {
  max-height: 662px;
  height: 100%;

  &__content {
    width: 100%;
    padding: 0 84px;
    margin-top: 40px;
  }

  .left-content {
    width: 380px;

    credix-input-field {
      height: 43px;
      margin-bottom: 8px;
    }
  }
}

::ng-deep .password-panel .credix-password-field-tooltip {
  border-radius: 0 0 8px 8px !important;
}

@media screen and (max-width: 1199px) {
  .change-password {
    max-height: 886px;

    &__content {
      width: 100%;
      padding: 0 78px;
    }

    .left-content {
      width: 266px;
    }
  }
}
