.credix-form-input {
  width: 100%;
  height: 42.5px;
}

.credix-forgot-pass-form{
  margin-top: -45px;
}

::ng-deep.mat-form-field-suffix {
  position: absolute !important;
  bottom: 20px;
  right: 8px;
  padding-bottom: 16px;
}

::ng-deep mat-label {
  margin-left: 8px;
}
