<div class="h-100" fxLayout="column" fxLayoutGap="19px">

  <p>
    Ingrese los siguientes datos para crear una clave nueva
  </p>

  <form [formGroup]="forgotPassForm" class="forgot-pass-form" fxLayout="column">

    <credix-select [control]="forgotPassForm.controls.identType"
                   class="forgot-pass-form__input"
                   label="Tipo de identificación">
      <mat-option *ngFor="let identType of identificationTypes" [value]="identType.id">
        {{ identType.description }}
      </mat-option>
    </credix-select>

    <credix-input-field [control]="forgotPassForm.controls.identNumber" [mask]="identificationMask"
                        class="forgot-pass-form__input" label="Número de Identificación"></credix-input-field>

    <credix-input-password [control]="forgotPassForm.controls.password" class="forgot-pass-form__input"
                           focusLabel="Clave"
                           label="Digite su clave"
                           tooltipOffsetY="2">
    </credix-input-password>

    <credix-input-field [control]="forgotPassForm.controls.confirmPassword" class="forgot-pass-form__input"
                        label="Confirme su nueva clave"
                        [type]="type">
      <mat-icon (click)="hide = !hide; type = hide === true ? 'password': 'text'"
                [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
    </credix-input-field>

    <p class="forgot-pass-form__p">
      Ingrese el código generado en la aplicación
      <credix-link-button route="https://play.google.com/store/apps/details?id=com.Mobtion.Credix.Credixcel&hl=es_419"
                          text="Código MiCredix >"></credix-link-button>
    </p>

    <credix-code-input [(codeFormControl)]="f.code" [length]="6" class="forgot-pass-form__code"
                       errorMessage="Ingrése código MiCredix">
    </credix-code-input>
    <mat-error *ngIf="showErrorMessage" class="forgot-pass-form__error-label">
      {{ message }}
    </mat-error>

    <credix-button (click)="submit()" [disabled]="forgotPassForm.invalid" class="w-100" text="Actualizar clave">
    </credix-button>
  </form>
</div>
