.forgot-pass-form {
  width: 100%;

  &__codigo-p {
    margin-bottom: 16px !important;
  }
}

::ng-deep.credix-popup__title {
  margin-bottom: 16px !important;
}

::ng-deep.credix-password-field-tooltip {
  width: 296px !important;
}

::ng-deep.credix-tooltip-panel {
  margin-bottom: 8px;
}

