<div class="h-100" fxLayout="column" fxLayoutGap="24px">
  <p>
    Ingrese los siguientes datos para crear una clave nueva
  </p>

  <form [formGroup]="forgotPassForm" class="forgot-pass-form" fxLayout="column" fxLayoutGap="24.5px">
    <mat-form-field appearance="standard" credixTextField height="38" onFocusLabel="Tipo de Identificación">
      <mat-label>Tipo de Identificación</mat-label>
      <mat-select formControlName="identType" name="identType">
        <mat-option *ngFor="let identType of identificationTypes" [value]="identType.id">
          {{ identType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" credixTextField height="38" onFocusLabel="Número de Identificación">
      <mat-label>Número de Identificación</mat-label>
      <input [mask]="identificationMask" formControlName="identNumber" matInput name="identNumber"/>
    </mat-form-field>

    <mat-form-field [credixPasswordFieldTooltip]="f.password" appearance="standard" credixTextField="password"
                    height="38" onFocusLabel="Clave" panelClass="forgot-pass-tooltip">
      <mat-label>Digite su nueva clave</mat-label>
      <input [type]="hide ? 'password' : 'text'"
             formControlName="password" matInput name="password"/>
      <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" matSuffix></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" credixTextField="confirmPassword" height="38"
                    onFocusLabel="Confirme su clave">
      <mat-label>Confirme su nueva clave</mat-label>
      <input [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" matInput name="confirmPassword"/>
      <mat-icon (click)="hide1 = !hide1" [svgIcon]="hide1 ? 'eye-outline' : 'eye-off-outline'" matSuffix></mat-icon>
      <mat-error *ngIf="f.confirmPassword.errors?.passwordError || f.confirmPassword.invalid">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>

    <p class="forgot-pass-form__codigo-p">
      Ingrese el código generado en la aplicación
      <credix-link-button route="https://play.google.com/store/apps/details?id=com.Mobtion.Credix.Credixcel&hl=es_419"
                          text="Código MiCredix >"></credix-link-button>
    </p>

    <credix-code-input [(codeFormControl)]="f.code" [length]="6" errorMessage="Ingrése código MiCredix">
    </credix-code-input>
    <mat-error *ngIf="showErrorMessage" class="forgot-pass-form__error-label">
      {{ message }}
    </mat-error>

    <credix-button (click)="submit()" [disabled]="forgotPassForm.invalid" class="w-100 mt-16px" text="Actualizar clave">
    </credix-button>
  </form>
</div>
