.forgot-pass-form {
  width: 100%;

  &__codigo-p {
    margin-bottom: 16px !important;
  }
}

::ng-deep.credix-popup__title {
  margin-bottom: 16px !important;
}

::ng-deep.forgot-pass-tooltip {

  .credix-password-field-tooltip {
    width: 296px !important;
    margin-bottom: 16px;
  }
}
