.schedule-quotas-second-step{
  padding: 0 96px;
  box-sizing: border-box;

  .info{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .content {
    box-sizing: border-box;
    position: relative;
    top: -12px;

    &__input {
      width: 147px;
    }

    &__form{
      width: 311px;
    }
  }
}

.slider {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .schedule-quotas-second-step {
    height: 655px !important;
    padding: 0 26px 0 25px;
    box-sizing: border-box;
  }
}
