<app-credix-result-view *ngIf="!done" [resultMessage]="message"
                        [resultTile]="status === 'success' ? '¡Éxito!' : 'Oops...'"
                        [status]="status"
                        [moduleTitle]="title"
                        [buttonText]="paymentType === 'Servicio' ? 'Agregar a pagos automáticos' : 'Realizar otro pago'"
                        [routeTo]="paymentType === 'Servicio' ? '/home/public-services/success' : '/home/public-services/public-service'"
                        [paymentService]="paymentType === 'Servicio' ? true : false"
                        (buttonPressed)="addAutomaticPayment()">

  <div *ngIf="status === 'success'" class="w-100" fxLayout="column">
    <mat-divider class="mb-24px" credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <p fxFlex="150px"><strong>{{type === 'Recarga' ? 'Datos de la recarga' : 'Datos del pago'}}</strong></p>

      <div fxLayout="column" fxLayoutGap="8px" style="width: 220px">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>Monto</span>
          <credix-numeric-block [prefix]="currencySymbol" [value]="amount"
                                class="tr" fontWeight="bold"></credix-numeric-block>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <span fxFlex>Plazo</span>
          <span class="tr truncate"><strong>{{ quota }} {{ quota > 1 ? 'meses': 'mes'}}</strong></span>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <span fxFlex>{{type === 'Recarga' ? 'Celular' : ( type === 'Servicio' ? 'Contrato' : 'NIS' )}}</span>
          <span class="tr truncate" *ngIf="type === 'Recarga' || type === 'Servicio'"><strong>{{contract | mask: '0000-0000'}}</strong></span>
          <span class="tr truncate" *ngIf="type === 'Servicio Fav'"><strong>{{contract}}</strong></span>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <span fxFlex>Fecha</span>
          <span class="tr truncate"><strong>{{today | dateFormatter: 'alphanumeric'}}</strong></span>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex></span>
          <credix-link-button (click)="openBillingModal()">Ver comprobante</credix-link-button>
        </div>
      </div>

    </div>

    <credix-share-button class="mt-16px" fxFlexAlign="center"></credix-share-button>
  </div>
</app-credix-result-view>

<app-credix-result-view *ngIf="done" [resultMessage]="message"
                        [resultTile]="status === 'success' ? '¡Éxito!' : 'Oops...'"
                        [status]="status"
                        [moduleTitle]="title"
                        [buttonText]="'Listo'"
                        [routeTo]="'/home/public-services/public-service'"
                        >
</app-credix-result-view>

