.shops {
  margin: 0 -16px;

  &__img-wrapper {
    width: 144px;
    height: 54px;
    outline: none;

    &:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      width: 133px;
      height: 44px;
    }
  }

  &__right-content {
    width: 100%;
    padding: 0 77px;

    span:first-of-type {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }

  ::ng-deep .navigation-table__header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .shops {

    &__right-content {
      padding: 0 11px;
    }
  }
}
