@import "src/app/core/styles/variables";

.footer {
  width: 100vw;
  height: 40px;
  padding: 16px;
  background: $footer-background-color;

  span {
    font-size: 10px;
    line-height: normal;
  }
}
