.forgot-pass-form {
  width: 296px;

  &__select {
    height: 38px !important;
    margin-bottom: 20px !important;
  }

  &__input {
    height: 38px;
    margin-bottom: 20px;
  }

  &__p {
    margin-top: 24px;
    margin-bottom: 16px !important;
  }

  &__code {
    margin-bottom: 40px;
  }

  ::ng-deep {

    .credix-code-link {
      width: 100% !important;
    }

    .credix-code-link__title {
      display: none;
    }

    .credix-code-link__paragraph {
      font-size: 16px !important;
    }
  }

}

.error-label {
  text-align: left;
  transform: translateY(12px);
  font-size: 12px;
  color: red;
}
