<div class="h-100" fxLayout="column" fxLayoutGap="19px">

  <span>Ingrese los siguientes datos para crear una clave nueva</span>

  <form [formGroup]="forgotPasswordForm" class="forgot-pass-form" fxLayout="column">

    <credix-select class="forgot-pass-form__input" formControlName="identificationType" label="Tipo de identificación"
                   panelClass="forgot-pass-select">
      <mat-option *ngFor="let identificationType of identificationTypes" [value]="identificationType.id">
        {{ identificationType.description }}
      </mat-option>
    </credix-select>

    <credix-input-field [mask]="identificationMask" formControlName="identification"
                        class="forgot-pass-form__input" label="Número de Identificación"></credix-input-field>

    <credix-input-field [credixPasswordFieldTooltip]="forgotPasswordForm.controls.password"
                        [type]="hide ? 'password' : 'text'" class="forgot-pass-form__input"
                        focusLabel="Clave" formControlName="password" label="Digite su clave"
                        panelClass="sign-in-password-panel"
                        tooltipOffsetY="2">
      <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
    </credix-input-field>

    <credix-input-field class="forgot-pass-form__input" formControlName="confirmPassword"
                        [type]="type" label="Confirme su nueva clave">
      <mat-icon (click)="hide = !hide; type = hide === true ? 'password': 'text'"
                [svgIcon]="hide ? 'eye-outline' : 'eye-off-outline'" suffix></mat-icon>
      <span *ngIf="forgotPasswordForm.controls.confirmPassword.hasError('passwordError')"
            error>Las claves no coinciden.</span>
    </credix-input-field>

    <credix-code-link class="mt-24px mb-16px"></credix-code-link>

    <credix-code-input class="forgot-pass-form__code" formControlName="credixCode">
             <span *ngIf="forgotPasswordForm.controls.credixCode.hasError('required')"
                   error>Introduzca el código credix.</span>
      <span *ngIf="forgotPasswordForm.controls.credixCode.hasError('invalid')"
            error>Código MiCredix inválido..</span>
    </credix-code-input>

    <credix-button (click)="submit()" [disabled]="forgotPasswordForm.invalid" class="w-100">
      Actualizar clave
    </credix-button>
  </form>
</div>
