.add-automatics {
  max-height: 800px;
  height: 100%;

  &__container {
    padding: 0 84px;
    height: 565px !important;
  }

  &__form {
    width: 379px;

    &__input {
      height: 44px;
      margin-bottom: 10.5px !important;
    }
  }

  &__content {
    width: 100%;
    padding-bottom: 16px;

    &:not(:first-of-type) {
      padding-top: 16px;
    }

    &__input {
      height: 43px;
      width: 360px;

      &.favorite {
        margin-left: 20px;
      }
    }
  }
}


.options {
  //height: calc(495px - 66px);
  height: 565px !important;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1199px) {
  .add-automatics {
    max-height: 886px;

    &__container {
      padding: 0 78px;
    }

    &__form {
      width: 266px;
    }
  }
}
