<mat-card *ngIf="!done else doneNewAutomaticsTemplate" class="add-automatics"  credixCard fxLayout="column">

  <h1 class="mb-16px">Añadir pago automático</h1>
    <credix-stepper #addAutomaticsStepper fxFlex>
      <cdk-step [label]="'Información'">
        <!-- <ngx-simplebar [options]="{autoHide: false, scrollbarMinSize: 100}" class="options" fxLayout="column" right> -->

          <div class="add-automatics__container mt-8px" fxFlex="auto" fxLayout="column" fxLayoutGap="16px">

            <div fxLayout="row" fxLayoutAlign="space-between">
              <span fxFlex="210px"><strong>Nuevo pago automático</strong></span>
              <form [formGroup]="newAutomaticsForm" class="add-automatics__form" fxLayout="column" fxLayoutGap="16px">
        
                <credix-select class="add-automatics__form__input" formControlName="publicServicesCategory"
                              label="Categoría">
                  <mat-option *ngFor="let category of publicServicesCategory"
                              [value]="category.publicServiceCategoryId">
                    {{category.publicServiceCategory}}
                  </mat-option>
                </credix-select>
        
                <credix-select class="add-automatics__form__input" formControlName="publicServiceCompany"
                              label="Compañía">
                  <mat-option *ngFor="let company of publicCompanies"
                              [value]="company.publicServiceEnterpriseId">
                    {{company.publicServiceEnterpriseDescription}}
                  </mat-option>
                </credix-select>
        
                <credix-select class="add-automatics__form__input" formControlName="publicService" label="Servicio">
                  <mat-option *ngFor="let service of publicServices"
                              [value]="service.publicServiceId">
                    {{service.publicServiceName}}
                  </mat-option>
                </credix-select>
        
                <credix-select class="add-automatics__form__input" formControlName="keyType" label="Tipo de referencia">
                  <mat-option *ngFor="let key of keys" [value]="key.keyType">
                    {{key.description}}
                  </mat-option>
                </credix-select>
        
                <credix-input-field [label]="'Número de ' + label" class="add-automatics__form__input"
                                    formControlName="contractControl"></credix-input-field>
        
                <credix-input-field class="add-automatics__form__input" formControlName="nameOfAutomatics"
                                    label="Nombre del pago automático"></credix-input-field>
        
                <credix-input-field *ngIf="category && (category.publicServiceCategory !== 'Recargas')" class="add-automatics__form__input" formControlName="maxAmount"
                                    label="Monto máximo a pagar" mask="separator"></credix-input-field>
        
                <credix-date-picker [startDate]="today"
                                    class="add-automatics__form__input" formControlName="startDate"
                                    label="Fecha inicial de pago"></credix-date-picker>
        
                <credix-select class="add-automatics__form__input mb-8px " formControlName="periodicity"
                              label="Periocidad">
                  <mat-option *ngFor="let periodicity of periodicityList" [value]="periodicity.id">
                    {{periodicity.description}}
                  </mat-option>
                </credix-select>
              </form>
            </div>
            <ng-container *ngIf="category && (category.publicServiceCategory === 'Recargas')">
              <mat-divider credixDivider></mat-divider>
              <div [formGroup]="rechargeFormGroup" fxLayout="row" fxLayoutAlign="space-between">
                <span fxFlex="210px"><strong>Monto de la recarga</strong></span>
                <div class="add-automatics__form" fxLayout="column" fxLayoutGap="16px">
                  <div class="left-content" fxLayout="column" fxLayoutGap="10px">
                    <credix-radio-button (emitRadioButton)="onAmountChanged($event.value)"
                                        *ngFor="let amount of amounts, let last = last"
                                        [label]="last ? 'Otro': ''"
                                        [ngClass]="{'mb-10px' : !last}"
                                        [value]="amount.amount">
                      <credix-numeric-block *ngIf="!last" [value]="amount.amount" prefix="₡"></credix-numeric-block>
                    </credix-radio-button>
              
                    <credix-input-field *ngIf="anotherAmount" class="add-automatics__content__input favorite mb-8px"
                                        formControlName="amount" label="Monto"
                                        mask="separator">
                      <div error>
                        El monto debe ser mayor a
                        ₡{{amounts[0].amount}}{{amounts[0].amount.split(',').length === 1 ? ',00' : ''}}</div>
                    </credix-input-field>
                  </div>
                </div>
              </div>
            </ng-container>
            <!--<mat-divider credixDivider></mat-divider>
        
            <div fxLayout="row" fxLayoutAlign="space-between">
              <credix-code-link></credix-code-link>
        
              <credix-code-input [formControl]="codeCredix" class="add-automatics__form">
                <span *ngIf="codeCredix.hasError('invalid')"
                      error>Código MiCredix inválido.</span>
              </credix-code-input>
            </div>-->

          </div>
        <!-- </ngx-simplebar> -->
      </cdk-step>
      <cdk-step [label]="'Plazo'">
        <app-add-automatics-second-step [termControl]="requestForm.controls.term"
        [confirmCodeFormGroup]="confirmCodeFormGroup"
        [isActive]="stepperIndex === 1"
        [amount]="rechargeFormGroup.controls.amount.value"
        [category]="category?.publicServiceCategory"></app-add-automatics-second-step>
      </cdk-step>
    </credix-stepper>
  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="back()" type="secondary">Atrás</credix-button>
    <credix-button (buttonClick)="stepperIndex !== 1 ? next() : addAutomaticPayment()" [disabled]="buttonFormGroup.invalid || rechargeFormGroup.invalid">
      {{ 'Continuar' }}
    </credix-button>
    <!--<credix-button (buttonClick)="addAutomaticPayment()" [disabled]="invalidCodeCredix || newAutomaticsForm.invalid">
      Añadir
    </credix-button>-->
  </div>
</mat-card>

<ng-template #doneNewAutomaticsTemplate>
  <app-credix-result-view
    [resultMessage]="result.message"
    [resultTile]="result.status === 'success' ? '¡Éxito!' : 'Oops...'"
    [status]="result.status"
    [moduleTitle]="'Añadir pago automático'"
    buttonText="Listo"
    routeTo="/home/favorites-management/automatics">
  </app-credix-result-view>
</ng-template>
