.add-automatics {
  width: 877px;
  min-height: 780px;
  position: relative;
  padding: 40px 77px;

  &__form {
    width: 380px;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px 0;
  }

  &__credix-code {
    .content {
      padding: 16px 0px;
    }

    credix-code-input {
      width: 380px;
    }
  }
}
