<mat-card *ngIf="!done else doneNewAutomaticsTemplate" class="add-automatics" credixCard fxLayout="column">

  <h1 class="mb-32px">Añadir pago automático</h1>

  <div class="add-automatics__container mt-8px" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlex="210px"><strong>Nuevo pago automático</strong></span>

      <form [formGroup]="newAutomaticsForm" class="add-automatics__form" fxLayout="column" fxLayoutGap="16px">

        <credix-select class="add-automatics__form__input" formControlName="publicServicesCategory" label="Categoría">
          <mat-option *ngFor="let category of publicServicesCategory" [value]="category.publicServiceCategoryId">
            {{category.publicServiceCategory}}
          </mat-option>
        </credix-select>

        <credix-select class="add-automatics__form__input" formControlName="publicServiceCompany" label="Compañía">
          <mat-option *ngFor="let company of publicCompany"
                      [value]="company.publicServiceEnterpriseId">
            {{company.publicServiceEnterpriseDescription}}
          </mat-option>
        </credix-select>

        <credix-select class="add-automatics__form__input" formControlName="publicService" label="Servicio">
          <mat-option *ngFor="let service of publicServices"
                      [value]="service.publicServiceId">
            {{service.publicServiceName}}
          </mat-option>
        </credix-select>

        <credix-input-field class="add-automatics__form__input" formControlName="phoneNumber" label="Número de teléfono"
                            mask="0000-0000"></credix-input-field>

        <credix-input-field class="add-automatics__form__input" formControlName="nameOfAutomatics"
                            label="Nombre del pago automático"></credix-input-field>

        <credix-input-field class="add-automatics__form__input" formControlName="maxAmount"
                            label="Monto máximo a pagar" mask="separator"></credix-input-field>

        <credix-date-picker class="add-automatics__form__input"
                            formControlName="startDate" label="Fecha inicial de pago"></credix-date-picker>

        <credix-select class="add-automatics__form__input mb-8px " formControlName="periodicity" label="Periocidad">
          <mat-option *ngFor="let periodicity of periodicityList" [value]="periodicity.id">
            {{periodicity.description}}
          </mat-option>
        </credix-select>
      </form>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <credix-code-link></credix-code-link>

      <credix-code-input [(codeFormControl)]="codeCredix" [length]="6" class="add-automatics__form"
                         errorMessage="Introduzca el codigo de confirmación">
      </credix-code-input>
    </div>
  </div>

  <div class="add-automatics__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button (buttonClick)="back()" text="Atrás" type="secondary"></credix-button>
      <credix-button (buttonClick)="addAutomaticPayment()"
                     [disabled]="newAutomaticsForm.invalid" text="Añadir"></credix-button>
    </div>
  </div>
</mat-card>


<ng-template #doneNewAutomaticsTemplate>

  <mat-card class="add-automatics" credixCard fxLayout="column">

    <h1>Añadir pago automático</h1>

    <div fxFlex fxLayoutAlign="center center">
      <credix-result-notification [message]="result.message" [status]="result.status" [title]="result.title">
      </credix-result-notification>
    </div>

    <div class="add-iban-account__footer" fxLayout="row" fxLayoutAlign="flex-end">
      <div fxLayoutGap="16px">
        <credix-button (buttonClick)="back()" text="Listo"></credix-button>
      </div>
    </div>
  </mat-card>

</ng-template>
