<mat-card class="add-iban-account" fxLayout="column">
  <h1>Añadir cuenta IBAN</h1>
  <div *ngIf="!resultIban" fxLayout="row" fxLayoutAlign="space-between">
    <span><strong>Nuevo pago favorito</strong></span>
    <form [formGroup]="newFavoriteIbanForm" class="add-iban-account__form" fxLayout="column">

      <credix-input-field formControlName="ibanAccount" label="Cuenta IBAN"></credix-input-field>
      <credix-input-field formControlName="nameOfFavorite" label="Nombre de favorito"></credix-input-field>

      <credix-select formControlName="identificationType" label="Tipo de identificación">
        <mat-option *ngFor="let idenType of identificationTypes" [value]="idenType.id">
          {{idenType.description}}
        </mat-option>
      </credix-select>

      <credix-input-field [mask]="identificationMask" formControlName="identification"
                          label="Número de identificación"></credix-input-field>
    </form>
  </div>

  <div *ngIf="!resultIban" class="add-iban-account__credix-code" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="210px" fxLayout="column">
      <span><strong>Código MiCredix</strong></span>
      <p style="font-size: 14px;">Ingrese el código generado en la aplicación
        <credix-link-button>Código MiCredix</credix-link-button>
        <mat-icon style="width: 6px; height: 10px; fill:#239DF7" svgIcon="chevron_right"></mat-icon>
      </p>
    </div>
    <credix-code-input [(codeFormControl)]="codeCredix" [length]="6" class="w-50"
                       errorMessage="Introduzca el codigo de confirmación">
    </credix-code-input>
  </div>

  <div *ngIf="resultIban" class="result" fxLayout="column" fxLayoutAlign="center center">
    <credix-result-notification [message]="result.message" [status]="result.status"
                                [title]="result.title"></credix-result-notification>
  </div>

  <div class="add-iban-account__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button (buttonClick)="back()" *ngIf="!resultIban" text="Atrás" type="secondary"></credix-button>
      <credix-button (buttonClick)="addIbanFavoriteAccount()" *ngIf="!resultIban"
                     [disabled]="!newFavoriteIbanForm.valid || !codeCredix.valid"
                     [text]="'Añadir'"></credix-button>
      <credix-button (buttonClick)="ready()" *ngIf="resultIban" [text]="'Listo'"></credix-button>
    </div>
  </div>
</mat-card>


