<ng-container class="navigation-table">

  <div class="navigation-table__header" fxLayout="row" fxLayoutAlign="flex-start center">
    <span [ngClass]="type == '3' ? 'w-30': 'w-25'">{{headers[0]}}</span>
    <span [ngClass]="type == '3' ? 'w-70': 'w-75'">{{headers[1]}}</span>
  </div>

  <div class="navigation-table__content" fxLayout="row">
    <ngx-simplebar [options]="optionsScroll" class="navigation-table__options" fxLayout="column" [ngClass]="type == '3' ? 'w-30': 'w-25'">
    <div class="navigation-table__content__left w-100" >
      <button (click)="optionClick(option)" *ngFor="let option of options" class="navigation-table__option">
        <div *ngIf="!option.img && option.icon">
          <mat-icon [class.is-selected]="optionSelected.id  == option.id" [svgIcon]="option.icon"
            class="navigation-table__option__icon"></mat-icon>
          <span [class.is-selected]="optionSelected.id  == option.id" class="navigation-table__option__label">
            {{option.name}}</span>
        </div>
        <div *ngIf="option.img && !option.icon">
          <img [src]="option.img" />
        </div>
        <div *ngIf="!option.icon && !option.img" class="w-100">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p [class.is-selected]="optionSelected.id  == option.id" class="navigation-table__option__label3">
              {{ (option.name.length > 10) ? (option.name | titlecase | slice:0:10 )+'...' : (option.name | titlecase) }}</p>
            <p class="tr navigation-table__content__date">
              {{convertStringDateToDate(option.originDate) | dateFormatter: 'alphanumeric'}}</p>
          </div>
          <p class="navigation-table__content__subtitle3">
            <credix-numeric-block [prefix]="option.originCurrency" [value]="option.originAmount" fontSize="16"
              fontWeight="bold"></credix-numeric-block> a {{option.totalPlanQuota}} Cuotas
          </p>
        </div>
        <span *ngIf="optionSelected.id == option.id" class="navigation-table__option__arrow"></span>
      </button>
    </div>
  </ngx-simplebar>



    <div class="navigation-table__content__right" [ngClass]="type == '3' ? 'w-70': 'w-75'">


      <div *ngIf="optionSelected.subOptions && optionSelected.icon && optionSelected.id">
        <button (click)="subOptionClick(subOption.routerLink)" *ngFor="let subOption of optionSelected.subOptions"
          class="navigation-table__option">
          <mat-icon [svgIcon]="optionSelected.icon" class="navigation-table__option__icon"></mat-icon>
          <span class="navigation-table__option__label">{{subOption.name}}</span>
        </button>
      </div>

      <div *ngIf="optionSelected.subOptions && !optionSelected.icon && optionSelected.id"
        class="navigation-table__table3">

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p class="navigation-table__table3__title" >
            {{ (optionSelected.name.length > 25) ? (optionSelected.name | titlecase | slice:0:25 )+'...' : (optionSelected.name | titlecase) }}</p>
          <p class="tr navigation-table__content__date-smaller">
            {{optionSelected.originDate}}</p>
        </div>
        <p class="navigation-table__content__subtitle3">
          <credix-numeric-block [prefix]="optionSelected.originCurrency" [value]="optionSelected.originAmount"
            fontSize="14" fontWeight="bold"></credix-numeric-block> a {{optionSelected.totalPlanQuota}} Cuotas
        </p>
        <div class="navigation-table__content-right__option" fxLayout="row">
          <div fxFlex="40%">
            <p>Cuota</p>
          </div>
          <div fxFlex="60%" fxLayoutAlign="end end">
            <credix-numeric-block [prefix]="optionSelected.originCurrency" [value]="optionSelected.quotaAmount"
              fontSize="16" fontWeight="bold"></credix-numeric-block>
          </div>
        </div>

        <div>
          <p class="navigation-table__table3__title mt-24px mb-16px">Modifique su plazo</p>
          <credix-slider (valueChange)="changeQuotas($event)" [value]="quotas" class="mb-16px" [max]="24" [min]="6"
            [step]="1" instructions="Deseo ampliar este pago a" units="Cuotas"></credix-slider>
          <div fxLayout="row" class="mb-16px mt-16px">
            <div fxFlex="40%">
              <p>Plazo nuevo</p>
            </div>
            <div fxFlex="60%" fxLayoutAlign="end end">
              <span>{{quotas}} meses</span>
            </div>
          </div>
          <div fxLayout="row" class="mb-16px">
            <div fxFlex="40%">
              <p>Cuota nueva</p>
            </div>
            <div fxFlex="60%" fxLayoutAlign="end end">
              <credix-numeric-block [prefix]="optionSelected.originCurrency" [value]="changedQuotas?.amountPerQuota"
                fontSize="16" fontWeight="bold"></credix-numeric-block>
            </div>
          </div>
          <div fxLayout="row" class="mb-16px">
            <div fxFlex="40%">
              <p>Comisión</p>
            </div>
            <div fxFlex="60%" fxLayoutAlign="end end">
              <credix-numeric-block [prefix]="optionSelected.originCurrency" [value]="changedQuotas?.feeAmount"
                fontSize="16" fontWeight="bold"></credix-numeric-block>
            </div>
          </div>

        </div>
      </div>


      <div *ngIf="!optionSelected.subOptions" class="navigation-table__content-right">
        <p class="navigation-table__content-right__title">{{ optionSelected.name | titlecase }}</p>
        <div class="navigation-table__content-right__option" fxLayout="row">
          <div fxFlex="40%">
            <p class="navigation-table__content-right__subtitle">Detalles</p>
          </div>
          <div fxFlex="60%">
            <ul *ngFor="let detail of optionSelected.restrictions?.paymentPlaceRestriction">
              <li>{{ detail.description }}</li>
            </ul>
          </div>
        </div>

        <div class="navigation-table__content-right__option" fxLayout="row">
          <div fxFlex="40%">
            <p class="navigation-table__content-right__subtitle">Información de contacto</p>
          </div>
          <div fxFlex="60%">
            <ul class="navigation-table__content-right__info-list">
              <li>
                <mat-icon svgIcon="internet"></mat-icon>
                <credix-link-button route="{{optionSelected.restrictions?.webPage}}" text="Sitio Web">
                </credix-link-button>
              </li>
              <li>
                <mat-icon svgIcon="facebook"></mat-icon>
                <credix-link-button route="{{optionSelected.restrictions?.linkFacebook}}" text="Facebook">
                </credix-link-button>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</ng-container>
