<div class="marchamo-second-step" fxLayout="column">

  <div class="marchamo-second-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="155px"><strong>{{step2Subt1 || 'Marchamo'}}</strong></span>

    <span class="marchamo-second-step__content__middle">Monto al cobro</span>

    <div fxFlex="130px" fxLayout="column" fxLayoutAlign="flex-start flex-end" fxLayoutGap="4px">
      <credix-numeric-block [value]="totalAmount" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
      <credix-link-button (click)="showMarchamoDetail()">{{step2Link || 'Ver detalles'}}</credix-link-button>
    </div>
  </div>

  <mat-divider credixDivider></mat-divider>

  <div class="marchamo-second-step__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="155px"><strong>{{step2Subt2 || 'Seguros opcionales'}}</strong></span>

    <div *ngIf="haveAditionalProducts" class="marchamo-second-step__content__middle" fxLayout="column"
         fxLayoutGap="8px">
      <credix-checkbox-button
        class="truncate"
        style="width: 277px"
        *ngFor="let item of itemProduct"
        (emitCheckBox)="getValueCheckBoxes($event)"
        [checked]="isChecked"
        [label]="item.responseDescription"
        [value]="item.productCode"></credix-checkbox-button>
      <credix-checkbox-button (emitCheckBox)="getValueOfCheckBoxAll($event)" [value]="10"
                              [checked]="isCheckedAll"
                              label="{{step2TagT || 'Todos'}}"></credix-checkbox-button>
    </div>

    <div *ngIf="haveAditionalProducts" fxFlex="130px" fxLayout="column" fxLayoutAlign="flex-start flex-end"
         fxLayoutGap="8px">
      <credix-numeric-block *ngFor="let item of itemProduct" [value]="item.amount" fontSize="16"
                            fontWeight="bold" prefix="₡"></credix-numeric-block>
    </div>
  </div>

  <mat-divider credixDivider></mat-divider>

  <div class="marchamo-second-step__content" fxLayout="column">

    <div class="mb-32px" fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlex="155px"><strong>{{step2Subt3 || 'Cuotas'}}</strong></span>

      <credix-slider (inputChange)="getQuota($event)"
                     (valueChange)="getQuota($event)"
                     [displayMax]="quotaSliderDisplayMax"
                     [displayMin]="quotaSliderDisplayMin"
                     [displayValue]="quotaSliderDisplayValue"
                     instructions="{{step2TagDiv || 'Deseo dividir este pago en'}}"
                     [max]="quotaSliderMax"
                     [min]="quotaSliderMin"
                     [step]="quotaSliderStep"
                     class="marchamo-second-step__content__middle" units="cuotas"></credix-slider>

      <div fxFlex="130px" fxLayout="column" fxLayoutAlign="flex-start flex-end" fxLayoutGap="4px">
        <credix-numeric-block [value]="amountPerQuota" fontSize="24" fontWeight="bold"
                              prefix="₡"></credix-numeric-block>
        <credix-link-button (click)="showQuotaDetail()">Ver detalles</credix-link-button>
      </div>
    </div>

    <div *ngIf="showQuotaPaymentSelect" class="mb-8px" fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlex="155px"></span>
      <span class="marchamo-second-step__content__middle">{{step2Com || 'Comisión'}}</span>

      <div fxFlex="130px" fxLayout="row" fxLayoutAlign="flex-end">
        <credix-numeric-block [value]="commission" fontWeight="bold" prefix="₡"></credix-numeric-block>
      </div>

    </div>

    <div *ngIf="showQuotaPaymentSelect" fxLayout="row" fxLayoutAlign="center">
      <credix-select [formControl]="secureAndQuotesForm.controls.firstQuotaDate"
                     class="marchamo-second-step__content__middle"
                     label="Deseo pagar la primera cuota en">
        <mat-option *ngFor="let payment of paymentList" [value]="payment.promoStatus">
          {{ payment.paymentDate }}
        </mat-option>
      </credix-select>
    </div>

  </div>

</div>
