.buy-without-card-second-step {
  padding: 0 84px;

  &__input {
    width: 380px;
  }

  &__barcode-wrapper {
    padding: 0 8px 0 8px;
    width: 412px;
  }

  &__pin-code {
    font-size: 36px;
  }

  &__barcode {
    height: 60px;
    margin-left: -6px;

    ::ng-deep .barcode svg {
      height: 60px;
      width: 412px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .buy-without-card-second-step {

    &__input {
      width: 266px;
    }

    &__barcode-wrapper {
      width: 286px;
    }

    &__barcode {
      height: 50px;

      ::ng-deep .barcode svg {
        height: 50px;
        width: 286px;
      }
    }
  }

}
