<div class='promo-popup'>
  <div class='promo-popup__img-background' fxLayout='column' fxLayoutAlign='center center'>
    <img src='/assets/images/ampliar_plazo.png' alt='Promo Ampliar Plazo' class='promo-popup__icon mb-24px'>
    <p class='promo-popup__description mb-16px'><strong>Traslade una compra a
               3 cuotas cero interés sin comisión</strong></p>
    <p class='promo-popup__message mb-16px'>¡Aproveche! Del 02/06/23 al 08/07/23 puede cambiar el plazo de un consumo a 3 cuotas cero interés sin ningún costo.</p>
    <credix-button (buttonClick)='closeDialog()' class='promo-popup__button'>Listo</credix-button>
  </div>
</div>
