<overlay-scrollbars [options]="scrollBarOptions" class="menu-options" fxLayout="column">
  <div *ngFor="let menu of menus, let index = index, let first = first"
       [class.is-home]="first" [class.is-selected]="menuSelected == menu.id">
    <hr *ngIf="!first"
        [ngClass]="{'menu-options__line--full-width': index == indexSelected || (index == indexSelected + 1 &&
        indexSelected + 1 != 1)}"
        class="menu-options__line">
    <button (click)="menuClick(menu.id, index,  menu.route)"
            class="menu-options__menu menu-options__button menu-items">
      <span [class.is-home]="first" class="menu-label">{{menu.name}}</span>
      <mat-icon *ngIf="!first && menu.submenus"
                [svgIcon]="menuSelected == menu.id && openSubmenu ? 'expand' : 'collapse'"
                class="menu-options__menu-arrow"></mat-icon>
    </button>
    <div [class.is-open]="menuSelected == menu.id && openSubmenu" class="menu-options__submenus">
      <ng-container *ngFor="let submenu of menu.submenus, let last = last">
        <button (click)="submenuClick(submenu.id, submenu.route)"
                [class.is-selected]="submenuSelected == submenu.id"
                class="menu-options__button menu-options__submenu">
          <mat-icon [svgIcon]="submenu.icon" class="submenu-icon"></mat-icon>
          <span class="submenu-label">{{submenu.name}}</span>
        </button>
        <hr *ngIf="!last" class="menu-options__line">
      </ng-container>
    </div>
  </div>
</overlay-scrollbars>
