<ngx-simplebar [options]="options" class="menu-options" fxLayout="column">
  <div *ngFor="let menu of menus, let index = index, let first = first"
       [ngClass]="{
        'is-active' : activeMenu == menu.id,
        'is-pre-active' : preActiveMenu == menu.id,
        'is-open' : preActiveMenu == menu.id && openSubmenu  && !first}">
    <hr *ngIf="!first" class="menu-options__line">
    <button (click)="menuChanged(menu.id, menu.route, menu.submenus?.length, first)"
            class="menu-options__menu menu-options__button menu-items">
      <span class="menu-label">{{menu.name}}</span>
      <mat-icon *ngIf="!first && menu.submenus"
                [svgIcon]="preActiveMenu == menu.id && openSubmenu ? 'expand' : 'collapse'"
                class="menu-options__menu-arrow"></mat-icon>
    </button>
    <div [class.is-open]="preActiveMenu == menu.id && openSubmenu" class="menu-options__submenus">
      <ng-container *ngFor="let submenu of menu.submenus, let last = last">
        <button (click)="submenuChanged(menu.id, submenu.id, submenu.route)"
                [class.is-active]="activeSubmenu == submenu.id"
                class="menu-options__button menu-options__submenu">
          <mat-icon [svgIcon]="submenu.icon" class="submenu-icon"></mat-icon>
          <span class="submenu-label"[ngClass]="{'text-wrapping' : submenu.name == 'Ampliar plazo del total adeudado'}">
            {{ submenu.name}}</span>
        </button>
        <hr *ngIf="!last" class="menu-options__line">
      </ng-container>
    </div>
  </div>
</ngx-simplebar>
