<div class="cards" fxLayout="column" fxLayoutGap="24px">

  <h2>Tarjetas</h2>

  <mat-card class="cards__credix-card" credixCard>
    <mat-card-header>
      <div class="img-avatar" mat-card-avatar></div>
      <mat-card-title>John Doe</mat-card-title>
      <mat-card-subtitle>jdoe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget
        malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis
        porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </p>
    </mat-card-content>
    <div fxLayout="row" fxLayoutGap="16px">
      <credix-button text="Atras" type="secondary"></credix-button>
      <credix-button text="compartir"></credix-button>
    </div>
  </mat-card>

</div>

