<div class="updatedRule-popupo">

  <div style="margin-top: 38px;" fxLayout="row" fxLayoutAlign="center">
    <mat-icon [svgIcon]="'information-outline'" class="icon-info icon-color"></mat-icon>
  </div>

  <div style="margin-top: 24px;" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    <p class="title">{{ title || 'Actualizamos su regla' }}</p>
    <p class="text-content">{{ info || 'Le informamos que se cambiaron las comisiones y/o intereses de sus reglas actuales en “Programar cuotas” según lo comunicado por el Banco Central.' }}</p>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
      <credix-button style="width: 114px;" class="customer-button" (buttonClick)="redirectToScheduleQuotas()" type="secondary">{{ button1 ||  'Ver regla'}}</credix-button>
      <credix-button style="width: 181px;" class="customer-button" (buttonClick)="submit()">{{ button2 || 'Listo'}}</credix-button>
    </div>
  </div>
</div>
