.schedule-quotas-first-step{
  box-sizing: border-box;
  height: 431px;
  padding: 0 218px 0 219px;

  .content{
    width: 408px;
    height: 64px;
    box-sizing: border-box;

    &__info{
      width: 264px;
      height: 48px;
      box-sizing: border-box;

      .text{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .schedule-quotas-first-step{
    height: 655px;
    padding: 0 148px;
    box-sizing: border-box;
  }
}
