<div class="four-step-marchamo">

  <div class="four-step-marchamo__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="210px"><strong>{{step4Subt1 || 'Contacto'}}</strong></span>

    <div fxFlex="380px" fxLayout="column">
      <span>{{contactInfo?.name}} </span>
      <span>{{contactInfo?.email}} </span>
      <span>{{contactInfo?.phone | mask: '0000-0000'}}</span>
    </div>
  </div>

  <mat-divider credixDivider></mat-divider>

  <div class="four-step-marchamo__content" fxLayout="row" fxLayoutAlign="space-between">
    <span fxFlex="210px"><strong>{{step4Sub2 || 'Lugar de retiro'}}</strong></span>
    <p fxFlex="380px">{{deliveryPlace}}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="four-step-marchamo__content" fxLayout="row" fxLayoutAlign="space-between">
    <span class="tl"><strong>{{step4Subt3 || 'Resumen de pago'}}</strong></span>

    <div fxFlex="380px" fxLayout="column" fxLayoutGap="8px">

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{step4TagMarch || 'Marchamo'}}</span>
        <credix-numeric-block
          [value]="totalMarchamo"
          fontWeight="bold"
          prefix="₡">
        </credix-numeric-block>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{step4TagSeg || 'Seguros'}}</span>
        <credix-numeric-block
          [value]="totalOfItemProduct"
          fontWeight="bold"
          prefix="₡">
        </credix-numeric-block>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{step4TagCom + ' (' + commissionPorcentageDIlute  + '%)'|| 'Comisión'}}</span>
        <credix-numeric-block
          [value]="commissionAmountDIlute"
          fontWeight="bold"
          prefix="₡"></credix-numeric-block>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{step4TagDom || 'Envío a domicilio'}}</span>
        <credix-numeric-block
          [value]="deliveryAmount"
          fontWeight="bold"
          prefix="₡">
        </credix-numeric-block>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>{{step4TagIva || 'IVA'}}</span>
        <credix-numeric-block
          [value]="iva"
          fontWeight="bold"
          prefix="₡">
        </credix-numeric-block>
      </div>
      <mat-divider class="mb-16px" credixDivider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span class="tl"><strong>{{step4TagT || 'Total'}}</strong></span>
        <credix-numeric-block
          [value]="total"
          fontWeight="bold"
          prefix="₡"></credix-numeric-block>
      </div>
      <span class="four-step-marchamo__legend">{{step4Disclaimer || '*Se cargará en el próximo estado de cuenta. '}}</span>
    </div>
  </div>


  <div class="four-step-marchamo__container" fxLayout="row" fxLayoutAlign="space-between">
    <credix-code-link></credix-code-link>

    <form [formGroup]="confirmForm" fxFlex="380px">
      <credix-code-input class="w-50" formControlName="credixCode">
        <span *ngIf="confirmForm.controls.credixCode.hasError('invalid')"
              error>Código MiCredix inválido.</span>
      </credix-code-input>
    </form>
  </div>
</div>
