<div class="new-delivery">
  <form [formGroup]="newDeliveryForm" fxLayout="column" fxLayoutGap="16px">
    <mat-form-field appearance="standard">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="province">
        <mat-option *ngFor="let province of provinces" [value]="province.id">
          {{province.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Cantón</mat-label>
      <mat-select formControlName="canton">
        <mat-option *ngFor="let canton of cantons" [value]="canton.id">
          {{canton.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Distrito</mat-label>
      <mat-select formControlName="distric">
        <mat-option *ngFor="let distric of districs" [value]="distric.id">
          {{distric.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>
        Dirección exacta
      </mat-label>
      <input formControlName="exactlyDirection" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>
        Persona que recibe
      </mat-label>
      <input formControlName="personReceive" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>
        Teléfono de quién recibe
      </mat-label>
      <input formControlName="phoneNumber" mask="0000-0000" matInput type="text">
    </mat-form-field>

    <credix-button (click)="submit()" class="w-100" fxLayoutAlign="flex-start" text="Agregar"></credix-button>
  </form>
</div>
