<mat-card class="payment-details-card" credixCard fxLayout="column" fxLayoutAlign="start center">
  <h2 class="w-100">Detalle de pago</h2>

  <credix-payment-bar [endDate]="endDateOne"
                      [startDate]="startDateOne" class="payment-details-card__bar"></credix-payment-bar>

  <mat-divider class="payment-details-card__divider"></mat-divider>

  <table class="w-100">
    <tbody>
    <tr class="payment-details-card__table-header-row">
      <td></td>
      <td class="tr">Mínimo</td>
      <td class="tr">Contado</td>
    </tr>
    <tr class="payment-details-card__table-row">
      <td>Colones</td>
      <td class="tr">
        <credix-numeric-block [prefix]="prefixColones" [value]="value" fontSize="20" fontWeight></credix-numeric-block>
      </td>
      <td class="tr">
        <credix-numeric-block [prefix]="prefixColones" [value]="value" fontSize="20" fontWeight></credix-numeric-block>
      </td>
    </tr>
    <tr class="payment-details-card__table-row">
      <td>Dólares</td>
      <td class="tr">
        <credix-numeric-block [prefix]="prefixDollars" [value]="value" fontSize="20" fontWeight></credix-numeric-block>
      </td>
      <td class="tr">
        <credix-numeric-block [prefix]="prefixDollars" [value]="value" fontSize="20" fontWeight></credix-numeric-block>
      </td>
    </tr>
    </tbody>
  </table>

</mat-card>
