<mat-card *ngIf="!done else doneNewServiceTemplate" [class.second-step-height]="stepperIndex === 1" class="new-service"
          credixCard fxLayout="column" fxLayoutGap="4px">

  <h1 class="mb-16px">{{title}}</h1>

  <credix-stepper #newServiceStepper>

    <cdk-step [label]="'Consultar'" [stepControl]="contractFormGroup">
      <app-new-service-first-step [contractFormGroup]="contractFormGroup"
                                  [hasReceipts]="hasReceipts"
                                  [keys]="keys"
                                  [quantityOfKeys]="quantityOfKeys"></app-new-service-first-step>
    </cdk-step>

    <cdk-step [label]="'Confirmación'" [stepControl]="confirmFormGroup">
      <app-new-service-second-step (saveFavoriteEvent)="saveAsFavorite = $event"
                                   [confirmFormGroup]="confirmFormGroup"
                                   [currencySymbol]="currencySymbol"
                                   [amount]="pendingReceipts?.receipts.totalAmount"
                                   [expirationDate]="expirationDate"
                                   [month]="month"
                                   [name]="pendingReceipts?.clientName"
                                   [receipts]="pendingReceipts?.numberPendingReceipts"
                                   [isActive]="stepperIndex === 1"
                                   [paymentType]="paymentType"
                                   [reference]="contractFormGroup.controls.contractControl.value"></app-new-service-second-step>
    </cdk-step>

  </credix-stepper>

  <div class="new-service__footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="back()" type="secondary">Atrás</credix-button>
    <credix-button (buttonClick)="stepperIndex === 0 ? checkPendingReceipts() : openModal()"
                   [disabled]="stepperIndex === 0 ? contractFormGroup.invalid : confirmFormGroup.invalid">
      {{stepperIndex === 0 ? 'Continuar' : 'Pagar'}}
    </credix-button>
  </div>
</mat-card>

<ng-template #doneNewServiceTemplate>
  <app-credix-result-view [resultMessage]="message"
                          [resultTile]="status === 'success' ? '¡Éxito!' : 'Opps..'"
                          [status]="status"
                          [title]="title"
                          buttonText="Realizar otro pago"
                          routeTo="/home/public-services">

    <div *ngIf="status === 'success'" class="w-100" fxLayout="column">
      <mat-divider class="mb-24px" credixDivider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <p fxFlex="120px"><strong>Datos del pago</strong></p>

        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>Monto</span>
            <credix-numeric-block [prefix]="currencySymbol" [value]="confirmFormGroup.controls.amount.value"
                                  class="tr" fontWeight="bold"></credix-numeric-block>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <span fxFlex>Contrato</span>
            <span class="tr truncate"><strong>{{contractFormGroup.controls.contractControl.value}}</strong></span>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <span fxFlex>Fecha</span>
            <span class="tr truncate"><strong>{{today | dateFormatter: 'alphanumeric'}}</strong></span>
          </div>

          <credix-link-button (click)="openBillingModal()">Ver comprobante</credix-link-button>
        </div>

      </div>

      <credix-share-button class="mt-16px" fxFlexAlign="center"></credix-share-button>
    </div>
  </app-credix-result-view>
</ng-template>
