<mat-card class="new-service" credixCard fxLayout="column" fxLayoutGap="4px">

  <h1 class="mb-16px">{{publicServiceName}}</h1>

  <credix-stepper #newServiceStepper fxFlex>

    <cdk-step [label]="'Consultar'" [stepControl]="contractFormGroup">
      <app-new-service-first-step [contractFormGroup]="contractFormGroup"
                                  [hasReceipts]="hasReceipts"
                                  [message]="message"
                                  [keys]="keys"
                                  [quantityOfKeys]="quantityOfKeys"></app-new-service-first-step>
    </cdk-step>

    <cdk-step [label]="'Confirmación'" [stepControl]="confirmFormGroup">
      <app-new-service-second-step (saveFavoriteEvent)="saveAsFavorite = $event"
                                   [confirmFormGroup]="confirmFormGroup"
                                   [currencySymbol]="currencySymbol"
                                   [amount]="receiptValues?.totalAmount"
                                   [expirationDate]="expirationDate"
                                   [month]="month"
                                   [name]="pendingReceipts?.clientName"
                                   [receipts]="pendingReceipts?.numberPendingReceipts"
                                   [isActive]="stepperIndex === 1"
                                   [paymentType]="paymentType"
                                   [reference]="contractFormGroup.controls.contractControl.value"></app-new-service-second-step>
    </cdk-step>
  </credix-stepper>

  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button (buttonClick)="back()" type="secondary">Atrás</credix-button>
    <credix-button (buttonClick)="stepperIndex === 0 ? checkPendingReceipts() : openModal()"
                   [disabled]="stepperIndex === 0 ? contractFormGroup.invalid : confirmFormGroup.invalid">
      {{stepperIndex === 0 ? 'Continuar' : 'Pagar'}}
    </credix-button>
  </div>
</mat-card>
