.add-favorites-payment {
  width: 877px;
  min-height: 662px;
  position: relative;
  padding: 40px 77px;

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px 8px;
  }

  &__credix-code {
    padding: 16px 0px;

    credix-code-input {
      width: 380px;
    }
  }

  &__form {
    width: 380px;
    padding: 16px 8px;
  }

  .result {
    padding: 156px 220px;
  }
}
