<mat-card *ngIf="!done else doneNewFavoriteTemplate" class="add-favorites-payment" credixCard fxLayout="column">

  <h1 class="mb-32px">Añadir pago favorito</h1>

  <div class="add-favorites-payment__container mt-8px" fxFlex fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlex="210px"><strong>Nuevo pago favorito</strong></span>

      <form [formGroup]="newFavoritesPaymentForm" class="add-favorites-payment__form" fxLayout="column"
            fxLayoutGap="16px">
        <credix-select class="add-favorites-payment__form__input" formControlName="publicServicesCategory"
                       label="Categoría">
          <mat-option *ngFor="let category of publicServicesCategory" [value]="category.publicServiceCategoryId">
            {{category.publicServiceCategory}}
          </mat-option>
        </credix-select>

        <credix-select class="add-favorites-payment__form__input" formControlName="publicServiceCompany"
                       label="Compañía">
          <mat-option *ngFor="let company of publicCompanies"
                      [value]="company.publicServiceEnterpriseId">
            {{company.publicServiceEnterpriseDescription}}
          </mat-option>
        </credix-select>

        <credix-select class="add-favorites-payment__form__input" formControlName="publicService" label="Servicio">
          <mat-option *ngFor="let service of publicServices"
                      [value]="service.publicServiceId">
            {{service.publicServiceName}}
          </mat-option>
        </credix-select>

        <credix-select class="add-favorites-payment__form__input" formControlName="keyType" label="Tipo de referencia">
          <mat-option *ngFor="let key of keys" [value]="key.keyType">
            {{key.description}}
          </mat-option>
        </credix-select>

        <credix-input-field [label]="'Número de ' + label" class="add-favorites-payment__form__input"
                            formControlName="contractControl"></credix-input-field>

        <credix-input-field class="add-favorites-payment__form__input mb-8px" formControlName="favoriteName"
                            label="Nombre del favorito"></credix-input-field>
      </form>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="210px" fxLayout="column">
        <span><strong>Código MiCredix</strong></span>
        <p style="font-size: 14px;">Ingrese el código generado en la aplicación
          <credix-link-button>
            Código MiCredix
            <mat-icon style="width: 6px; height: 10px; fill:#239DF7" svgIcon="chevron_right"></mat-icon>
          </credix-link-button>
        </p>
      </div>

      <credix-code-input [formControl]="codeCredix" class="add-favorites-payment__form">
        <span *ngIf="codeCredix.hasError('invalid')"
              error>Código MiCredix inválido.</span>
      </credix-code-input>
    </div>
  </div>

  <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
    <credix-button [routerLink]="['/home/favorites-management/favorites-payments']" type="secondary">
      Atrás
    </credix-button>
    <credix-button (buttonClick)="addFavoritePayment()"
                   [disabled]="!newFavoritesPaymentForm.valid || !codeCredix.valid">
      Añadir
    </credix-button>
  </div>
</mat-card>

<ng-template #doneNewFavoriteTemplate>
  <app-credix-result-view
    [resultMessage]="result.message"
    [resultTile]="result.status === 'success' ? '¡Éxito!' : 'Opps..'"
    [status]="result.status"
    moduleTitle="Añadir pago favorito"
    buttonText="Listo"
    routeTo="/home/favorites-management/favorites-payments">

    <div *ngIf="result.status === 'success'" class="w-100" fxLayout="column" fxLayoutAlign="center center">
      <credix-link-button (click)="addToAutomatics()"
                          *ngIf="result.status === 'success'"
                          fxLayoutAlign="center center"
                          style="margin-top: -8px;">Agregar a pagos automáticos
      </credix-link-button>
    </div>
  </app-credix-result-view>

</ng-template>
