<mat-card *ngIf="!done else doneNewFavoriteTemplate" class="add-favorites-payment" credixCard fxLayout="column">

  <h1 class="mb-32px">Añadir pago favorito</h1>

  <div class="add-favorites-payment__container mt-8px" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlex="210px"><strong>Nuevo pago favorito</strong></span>

      <form [formGroup]="newFavoritesPaymentForm" class="add-favorites-payment__form" fxLayout="column"
            fxLayoutGap="16px">
        <credix-select class="add-favorites-payment__form__input" formControlName="publicServicesCategory"
                       label="Categoría">
          <mat-option *ngFor="let category of publicServicesCategory" [value]="category.publicServiceCategoryId">
            {{category.publicServiceCategory}}
          </mat-option>
        </credix-select>

        <credix-select class="add-favorites-payment__form__input" formControlName="publicServiceCompany"
                       label="Compañía">
          <mat-option *ngFor="let company of publicCompany"
                      [value]="company.publicServiceEnterpriseId">
            {{company.publicServiceEnterpriseDescription}}
          </mat-option>
        </credix-select>

        <credix-select class="add-favorites-payment__form__input" formControlName="publicService" label="Servicio">
          <mat-option *ngFor="let service of publicServices"
                      [value]="service.publicServiceId">
            {{service.publicServiceName}}
          </mat-option>
        </credix-select>

        <credix-input-field class="add-favorites-payment__form__input"
                            formControlName="phoneNumber" label="Número de teléfono"
                            mask="0000-0000"></credix-input-field>

        <credix-input-field class="add-favorites-payment__form__input mb-8px" formControlName="favoriteName"
                            label="Nombre del favorito"></credix-input-field>
      </form>
    </div>

    <mat-divider credixDivider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="210px" fxLayout="column">
        <span><strong>Código MiCredix</strong></span>
        <p style="font-size: 14px;">Ingrese el código generado en la aplicación
          <credix-link-button>
            Código MiCredix
            <mat-icon style="width: 6px; height: 10px; fill:#239DF7" svgIcon="chevron_right"></mat-icon>
          </credix-link-button>
        </p>
      </div>

      <credix-code-input [formControl]="codeCredix" class="add-favorites-payment__form">
        <span error>Introduzca el código credix.</span>
      </credix-code-input>
    </div>

  </div>

  <div class="add-favorites-payment__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayoutGap="16px">
      <credix-button (buttonClick)="back()" text="Atrás" type="secondary"></credix-button>
      <credix-button (buttonClick)="addFavoritePayment()"
                     [disabled]="!newFavoritesPaymentForm.valid || !codeCredix.valid"
                     text="Añadir"></credix-button>
    </div>
  </div>
</mat-card>

<ng-template #doneNewFavoriteTemplate>

  <mat-card class="add-favorites-payment" credixCard fxLayout="column">

    <h1>Añadir pago favorito</h1>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <credix-result-notification [message]="result.message" [status]="result.status" [title]="result.title">
      </credix-result-notification>
      <credix-link-button (click)="addToAutomatics()"
                          *ngIf="result.status === 'success'"
                          fxLayoutAlign="center center"
                          style="width: 212px; height: 24px; margin-top: 16px;">Agregar a pagos automáticos
      </credix-link-button>
    </div>


    <div class="add-favorites-payment__footer" fxLayout="row" fxLayoutAlign="flex-end">
      <div fxLayoutGap="16px">
        <credix-button (buttonClick)="back()" text="Listo"></credix-button>
      </div>
    </div>
  </mat-card>

</ng-template>
