.add-favorites-payment {
  height: 662px;
  position: relative;

  &__container {
    padding: 0 84px;
  }

  &__form {
    width: 379px;

    &__input {
      height: 44px;
    }
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px;
  }
}

@media screen and (max-width: 1199px) {

  .add-iban-account {
    height: 886px;
    position: relative;

    &__container {
      padding: 0 78px;
    }

    &__form {

      width: 266px;
    }
  }
}


