<div class="first-step" fxLayout="column" fxLayoutAlign="flex-start center">
  <div class="first-step__content" fxLayout="row">
    <span class="tl" fxFlex="40"><strong>Tipo de transferencia</strong></span>

    <div fxFlex="60" fxLayout="column" fxLayoutGap="16px">
      <credix-radio-button (emitRadioButton)="currencyRadioButtonChange($event)" *ngFor="let currency of currencies"
                           [label]="currency.description" [value]="currency" name="currency"></credix-radio-button>
    </div>
  </div>

  <mat-divider *ngIf="showSecondContent" class="mt-16px mb-16px" credixDivider></mat-divider>

  <div *ngIf="showSecondContent" class="first-step__content" fxLayout="row">
    <span class="tl" fxFlex="40"><strong>Cuenta a transferir</strong></span>

    <div fxFlex="60" fxLayout="column" fxLayoutGap="16px">
      <div class="first-step__favorites" fxLayout="column">
        <credix-radio-button (emitRadioButton)="accountRadioButtonChange($event)" label="Favoritos" name="accountType"
                             value="1"></credix-radio-button>

        <credix-select *ngIf="showFavoriteAccountsSelect" class="first-step__favorites__select ml-20px"
                       [formControl]="favoriteAccountControl" label="Cuentas favoritas">
          <mat-option *ngFor="let favoriteAccount of favoritesAccounts" [value]="favoriteAccount">
            {{ favoriteAccount.aliasName }} - {{ favoriteAccount.ibanAccount }}
          </mat-option>
        </credix-select>

        <div *ngIf="favoriteAccountControl.value && showFavoriteAccountsSelect" class="ml-20px" fxLayout="column"
             fxLayoutGap="8px">
          <span><strong>Información</strong></span>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>Nombre</span>
            <span><strong>{{
              favoriteAccountControl.value.aliasName
              }}</strong></span>
          </div>
        </div>

        <mat-divider *ngIf="favoriteAccountControl.value && showFavoriteAccountsSelect" class="ml-20px mt-16px"
                     credixDivider></mat-divider>
      </div>

      <div>
        <credix-radio-button (emitRadioButton)="accountRadioButtonChange($event)" label="Otra cuenta" name="accountType"
                             value="2"></credix-radio-button>

        <div *ngIf="info && showDetails" class="ml-20px mt-16px" fxLayout="column" fxLayoutGap="8px">

          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>Nombre</span>
            <span><strong>{{info.aliasName}}</strong></span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>Identificación</span>
            <span><strong>{{info.identification}}</strong></span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>Entidad</span>
            <span><strong>Banco Nacional</strong></span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>IBAN</span>
            <span><strong>{{info.ibanAccount}}</strong></span>
          </div>
          <credix-link-button (click)="openModal(info)" class="first-step__edit-button">Editar</credix-link-button>
        </div>
      </div>
    </div>
  </div>
</div>
