<div class="buttons-and-links" fxLayout="column" fxLayoutGap="24px">

  <h2>Botones principales</h2>
  <div fxLayout="row" fxLayoutGap="16px">
    <div>
      <span class="mr-16px">Habilitado:</span>
      <credix-button route="/home" text="Call to action"></credix-button>
    </div>

    <div>
      <span class="mr-16px">Deshabilitado:</span>
      <credix-button [disabled]="true" text="Call to action"></credix-button>
    </div>
  </div>

  <h2>Botones secundarios</h2>
  <div fxLayout="row" fxLayoutGap="16px">
    <div>
      <span class="mr-16px">Habilitado:</span>
      <credix-button text="Call to action" type="secondary"></credix-button>
    </div>
    <div>
      <span class="mr-16px">Deshabilitado:</span>
      <credix-button [disabled]="true" text="Call to action" type="secondary"></credix-button>
    </div>
  </div>

  <h2>Enlaces</h2>
  <div fxLayout="row" fxLayoutGap="16px">
    <div>
      <span class="mr-16px">Habilitado:</span>
      <credix-link-button route="https://www.credix.com/" text="Call to action"></credix-link-button>
    </div>
    <div>
      <span class="mr-16px">Deshabilitado:</span>
      <credix-link-button [disabled]="true" text="Call to action"></credix-link-button>
    </div>

  </div>
</div>
