.credix-mas {
  min-height: calc(100vh - 170px);

  position: relative;
  .notif__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mb-16px {
  margin-bottom: 16px !important;
}

@media screen and (max-width: 1199px) {
  .credix-mas {
    max-height: 886px;
  }

}
