<div [class.is-tablet]="isTablet" class="home" fxLayout="column">
  <credix-home-toolbar (signOutClick)="signOut()" (toggleClick)="sidenav.toggle()"></credix-home-toolbar>

  <mat-sidenav-container class="home__sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="isTablet" [mode]="isTablet ? 'over' : 'side'" class="home__sidebar"
                 fixedTopGap="66" opened>
      <credix-home-navigation-menu [avatar]="avatar" [menus]="menus"
                                   [username]="username"></credix-home-navigation-menu>
    </mat-sidenav>

    <mat-sidenav-content class="home__content" fxLayout="column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <credix-home-footer></credix-home-footer>
</div>
