.home {
  width: 100vw;
  min-height: 100vh;

  &__sidenav-container {
    flex: 1;
    height: calc(100vh - 40px - 66px);
  }

  &__sidebar {
    width: 291px;
    background: #fafafa;
    box-shadow: none !important;
    border: 0 !important;
  }

  &__content {
    padding: 16px;
    background: #f4f4f4;
  }

  &.is-tablet {
    .home__sidenav-container {
      flex: 1 0 auto;
    }
  }
}
