<div class="cancellation__banner-tab" fxLayout="row" fxLayoutGap="16px">
  <mat-card credixCard fxFlex="100">
    <h1>Cancelación anticipada</h1>
    <p *ngIf="!showResponse">Cancele antes sus compras y utilice nuevamente su disponible.</p>
    <credix-tab (selectionEvent)="tabSelected($event)" *ngIf="!showResponse" [tabs]="tabs"></credix-tab>
    <div *ngIf="!showResponse" fxLayout="colu" fxLayoutAlign="start center">
      <span>Saldo a favor</span>
      <credix-numeric-block [prefix]="currencyCode" [value]="balance" class="tr ml-16px" fontSize="24"
                            fontWeight="bold">
      </credix-numeric-block>
    </div>

    <div *ngIf="!showResponse" class="cancellation__table" fxLayout="column" fxLayoutGap="16px">

      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="change($event, row)"
                          (click)="$event.stopPropagation()"
                          [checked]="selection.isSelected(row)"
                          class="credix-checkbox"
                          disabled="{{changeFormat(row.amount) > balance && !this.selection.isSelected(row)}}"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ngx-simplebar [options]="options" class="cancellation__table__scroll">
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef credixHeaderCell> Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="(changeFormat(element.amount) > balance && !this.selection.isSelected(element))  && 'disabledRow'"
                      credixCell>
              {{element.date && convertStringDateToDate(element.date) | dateFormatter: 'alphanumeric'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="commerce">
            <mat-header-cell *matHeaderCellDef credixHeaderCell> Comercio</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="(changeFormat(element.amount) > balance && !this.selection.isSelected(element)) && 'disabledRow'"
                      credixCell>{{element.commerce && element.commerce}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef credixHeaderCell> Saldo pendiente</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="(changeFormat(element.amount) > balance && !this.selection.isSelected(element)) && 'disabledRow'"
                      credixCell>{{element.amount && element.amount}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quotas">
            <mat-header-cell *matHeaderCellDef credixHeaderCell> Cuotas pendientes</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="(changeFormat(element.amount) > balance && !this.selection.isSelected(element)) && 'disabledRow'"
                      credixCell> {{element.quotas && element.quotas}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="rate">
            <mat-header-cell *matHeaderCellDef credixHeaderCell> Tasa</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngClass]="(changeFormat(element.amount) > balance && !this.selection.isSelected(element)) && 'disabledRow'"
                      credixCell> {{element.rate && element.rate}}</mat-cell>
          </ng-container>

        </ngx-simplebar>

        <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true" credixHeaderRow></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" credixRow>
        </mat-row>

      </mat-table>

      <credix-result-notification *ngIf="empty" status="info"
                                  title="No tiene consumos para cancelar anticipadamente en este momento.">
      </credix-result-notification>
    </div>

    <div *ngIf="showResponse && showSuccess" class="cancellation__succResp">
      <credix-result-notification
        message="Su solicitud fue ingresada correctamente. Esto puede tardar hasta 3 días hábiles en reflejarse en su cuenta."
        status="success"
        title="¡Éxito!">
      </credix-result-notification>
      <mat-divider class="cancellation__divider full-width mt-16px mb-16px"></mat-divider>
      <div class="cancellation__data-info" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="42%">
          <p class="cancellation__data-info__text">Datos de la cancelación anticipada</p>
        </div>
        <div fxFlex="58%">
          <div class="cancellation__data-info__row" fxLayout="row">
            <div fxFlex="50%"><span>Monto cancelado</span></div>
            <div class="tr" fxFlex="50%">
              <credix-numeric-block [prefix]="currencyCode" [value]="cancelledTotal" class="tr" fontSize="16"
                                    fontWeight="bold">
              </credix-numeric-block>
            </div>
          </div>
          <div class="cancellation__data-info__row" fxLayout="row">
            <div fxFlex="60%"><span>Consumos cancelados</span></div>
            <div class="tr" fxFlex="40%">
              <span class="cancellation__data-info__text">{{paymentList.length}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-70px" fxLayout="column" fxLayoutAlign="space-between center">
        <credix-share-button class="send-money__shrare-btn"></credix-share-button>
      </div>
    </div>

    <div *ngIf="showResponse && !showSuccess" class="cancellation__errResp">
      <credix-result-notification [message]="errorDescrip" [title]="errorTitle" status="error">
      </credix-result-notification>
    </div>

    <div class="cancellation__footer mt-16px" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
      <credix-button (buttonClick)="cancel()" *ngIf="!showResponse"
                     [disabled]="empty || !this.selection.selected.length"
                     text="Aplicar">
      </credix-button>
      <credix-button (buttonClick)="done()" *ngIf="showResponse" text="Listo">
      </credix-button>
    </div>
  </mat-card>
</div>
