.new-recharge-second-step {

  &__container {
    padding: 0 84px;
  }

  &__content {
    width: 100%;

    &__input {
      height: 43px;
      width: 335px;

      &.favorite {
        margin-left: 20px;
      }
    }
  }

  .left-content {
    width: 380px;
  }
}
