<div class="account-statement" fxLayout="column" fxLayoutGap="16px">

  <mat-table [dataSource]="accountStatementDataSource | paginate: { itemsPerPage: 15, currentPage: p }"
             class="account-statement__table">

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef credixHeaderCell> Fecha</mat-header-cell>
      <mat-cell *matCellDef="let element"
                credixCell> {{element.movementDate | dateFormatter: 'alphanumeric'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commerce">
      <mat-header-cell *matHeaderCellDef credixHeaderCell> Comercio</mat-header-cell>
      <mat-cell *matCellDef="let element" credixCell><strong>{{element.referenceName}}</strong></mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef credixHeaderCell> Monto</mat-header-cell>
      <mat-cell *matCellDef="let element" credixCell> <credix-numeric-block [value]="element.amount" [prefix]="currencySymbol" fontWeight="bold"></credix-numeric-block></mat-cell>
    </ng-container>

    <ng-container matColumnDef="quotas">
      <mat-header-cell *matHeaderCellDef credixHeaderCell> Cuotas</mat-header-cell>
      <mat-cell *matCellDef="let element" credixCell>
          <span *ngIf="element.quota !== 0">
            Cuota {{element.quotaNumberLiquidated}} de {{element.quantityQuota}}
          </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef credixHeaderCell>Saldo pendiente</mat-header-cell>
      <mat-cell *matCellDef="let element" credixCell><strong>{{currencySymbol + element.pendingCapital}}</strong>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef credixHeaderCell>Tasa</mat-header-cell>
      <mat-cell *matCellDef="let element" credixCell><strong>{{element.RatePlanCharge}}%</strong></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns, sticky: true" credixHeaderRow></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;" credixRow></mat-row>
  </mat-table>

  <credix-paginator (pageChange)="p = $event" [autoHide]="true" [maxSize]="8"></credix-paginator>
</div>
