<div class="select-buttons" fxLayout="column" fxLayoutGap="24px">

  <h2>Checkbox</h2>

  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Deseleccionado:</span>
    <credix-checkbox-buttons [checked]="false" [value]="'deseleccionado'"></credix-checkbox-buttons>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Seleccionado:</span>
    <credix-checkbox-buttons [checked]="true" [value]="'seleccionado'"></credix-checkbox-buttons>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Inactivo:</span>
    <div fxLayout="column" fxLayoutGap="8px">
      <credix-checkbox-buttons [checked]="false" [disable]="true" [value]="'inactivo'"></credix-checkbox-buttons>
      <credix-checkbox-buttons [checked]="true" [disable]="true" [value]="'inactivo'"></credix-checkbox-buttons>
    </div>
  </div>

  <h2>Radio Buttons</h2>
  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Deseleccionado:</span>
    <credix-radio-buttons [checked]="false" [demo]="1"></credix-radio-buttons>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Seleccionado:</span>
    <credix-radio-buttons [checked]="true" [demo]="1"></credix-radio-buttons>
  </div>


  <div fxLayout="row" fxLayoutGap="16px">
    <span class="mr-16px">Inactivo:</span>
    <div fxLayout="column" fxLayoutGap="8px">
      <credix-radio-buttons [checked]="false" [demo]="2" [disabled]="true"></credix-radio-buttons>
      <credix-radio-buttons [checked]="true" [demo]="2" [disabled]="true"></credix-radio-buttons>

    </div>
  </div>

</div>

