.modal-response-sign-up {
  height: 100%;

  ::ng-deep {
    .credix-result-notification__icon {
      width: 70px !important;
      height: 70px !important;
      margin-bottom: 40px !important;
    }

  }

  &__button {
    width: 100%;
  }
}
