<div class="cards" fxLayout="column" fxLayoutGap="24px">

  <mat-card class="cards__credix-card" credixCard>
    <mat-card-header>
      <div class="img-avatar" mat-card-avatar></div>
      <mat-card-title>John Doe</mat-card-title>
      <mat-card-subtitle>jdoe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" class="w-90 form-container" fxLayout="column" fxLayoutAlign="center"
            fxLayoutGap="2%">
        <div fxLayout="column" fxLayoutGap="16px">
          <mat-form-field appearance="standard" credixTextField onFocusLabel="Identificación">
            <mat-label>Digite su identificación</mat-label>
            <input formControlName="username" matInput>
            <mat-error *ngIf="!formGroup.valid && (formGroup.dirty || formGroup.touched)">
              Mensaje de error aquí
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="standard" credixTextField="password" onFocusLabel="Clave" style="width: 343px">
          <mat-label>Digite su clave</mat-label>
          <input [formControl]="formGroup" formControlName="username"
                 [type]="hidePassword ? 'password' : 'text'"
                 matInput/>
          <mat-icon (click)="hidePassword = !hidePassword" [svgIcon]="hidePassword ? 'eye-outline' : 'eye-off-outline'" matSuffix></mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <div fxLayout="row" fxLayoutGap="16px">
      <credix-button text="Ingresar" align="center"></credix-button>
    </div>
  </mat-card>

</div>
