<div class="movement-container" (click)="toggleCheckbox()">
  <div class="allowed-movement" [ngClass]="{ disabled: disabled }">
    <credix-checkbox-button
      class="checkbox-dimension"
      [disable]="disabled"
      (emitCheckBox)="change($event.checked)"
      [value]="movement"
    >
    </credix-checkbox-button>
    <div class="allowed-movement__left-side">
      <p class="__title">{{ movement.establishmentName }}</p>
      <p>Monto a ampliar</p>
      <p class="__sub">
        a <span class="bold">{{ movement.totalPlanQuota }}</span>
        {{ movement.totalPlanQuota > 1 ? "cuotas" : "cuota" }}
      </p>
    </div>
    <div class="allowed-movement__right-side">
      <p class="__sub">{{ movement.originDate }}</p>
      <credix-numeric-block
        fontWeight="bold"
        [prefix]="movement.originCurrency.currency"
        [value]="movement.originAmount"
      >
      </credix-numeric-block>
      <span class="__promo" *ngIf="movement.promoApply">
        {{ movement.promoMessage }}
      </span>
    </div>
  </div>
  <div class="mask"></div>
</div>

<ng-container *ngIf="!lastItem; else lastContainer">
  <div class="allowed-movement__border"></div>
</ng-container>

<ng-template #lastContainer>
  <div class="allowed-movement__last"></div>
</ng-template>
