<div class="buy-without-card-first-step" fxLayout="row" fxLayoutAlign="space-between">

  <div fxFlex="205px" fxLayout="column">
    <span><strong> Código MiCredix</strong></span>
    <p style="font-size: 14px">Ingrese el código generado en la aplicación
      <credix-link-button>
        Código MiCredix
        <mat-icon [svgIcon]="'chevron_right'" style="height:10px; width:6px; fill: #239DF7;"></mat-icon>
      </credix-link-button>
    </p>
  </div>

  <credix-code-input [(codeFormControl)]="credixCode" [length]="6" class="buy-without-card-first-step__input"
                     errorMessage="Introduzca el codigo de confirmación">
  </credix-code-input>

</div>
