.automatics {
  width: 296px;
  height: 350px;
  padding: 0px 8px;


  &__input {
    height: 42px;

    .calendar-icon {
      width: 13px;
      height: 15px;
    }

    .disabled {
      color: #7b7b7b;
    }
  }
}

.mb-20px {
  margin-bottom: 20px !important;
}

.enabled {
  color: #3e3e3e !important;
}
