.automatics {
  width: 296px;
  height: 296px;
  padding: 0px 20px;

  &__form {
    &.disabled {
      color: #7b7b7b;
    }
  }

  &__input {
    height: 42px;

    .calendar-icon {
      width: 13px;
      height: 15px;
    }
  }
}


.enabled {
  color: #3e3e3e !important;
}
