<div fxLayout="row" fxLayoutGap="16px" class="payment-places__banner-tab">
  <mat-card fxFlex="100" credixCard>
    <h1>Lugares de pago</h1>
    <credix-tab (selectionEvent)="tabSelected($event)" [tabs]="tabs"></credix-tab>
    <credix-navigation-table *ngIf="tab_show" [headers]="['Comercios', 'Información del comercio']" [options]="options"
      [details]="details"></credix-navigation-table>

    <div *ngIf="!tab_show" class="digital-payments__content">
      <div fxLayout="row" class="digital-payments__content__option" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">SINPE Móvil</p>
        </div>
        <div fxFlex="60%">
          <p class="digital-payments__content__text">Realice un pase de dinero para pagar su tarjeta al número de SINPE
            Móvil de Credix: <credix-link-button route="" text="8927-3349"></credix-link-button>.</p>
        </div>
      </div>
      <div fxLayout="row" class="digital-payments__content__option" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">Transferencia a sus cuentas IBAN</p>
        </div>
        <div fxFlex="60%">
          <p>Pague mediante transferencia SINPE a las cuentas IBAN de su tarjeta.</p>
          <div fxLayout="row" class="digital-payments__content__option__inner-option-first">
            <div fxFlex="25%" class="digital-payments__content__option__inner-option__title">
              <p>Colones</p>
            </div>
            <div fxFlex="75%" class="digital-payments__content__option__inner-option__content">
              <span>CR91010200009093845399</span>
                <button (click)="copyIbanAccount('Cuenta copiada')"
                  cdkCopyToClipboard="CR91010200009093845399" mat-icon-button>
                  <mat-icon svgIcon="content-copy"></mat-icon>
                </button>
            </div>
          </div>
          <div fxLayout="row" class="digital-payments__content__option__inner-option">
            <div fxFlex="25%" class="digital-payments__content__option__inner-option__title">
              <p>Dólares</p>
            </div>
            <div fxFlex="75%" class="digital-payments__content__option__inner-option__content">
              <span>CR31010200009093845703</span>

                <button (click)="copyIbanAccount('Cuenta copiada')"
                  cdkCopyToClipboard="CR31010200009093845703" mat-icon-button>
                  <mat-icon svgIcon="content-copy"></mat-icon>
                </button>

            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="digital-payments__content__option" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">Transferencia a cuentas IBAN de Credix</p>
        </div>
        <div fxFlex="60%">
          <p>También puede realizar el pago de su tarjeta mediante transferencia SINPE a las cuentas IBAN de Credix.</p>

          <div fxLayout="row" class="digital-payments__content__option__inner-option-first">
            <div fxFlex="45%" class="digital-payments__content__option__inner-option__title">
              <p>Cuenta a nombre de</p>
            </div>
            <div fxFlex="55%" class="digital-payments__content__option__inner-option__content">
              <p>Credix World S.A.</p>
            </div>
          </div>
          <div fxLayout="row" class="digital-payments__content__option__inner-option">
            <div fxFlex="45%" class="digital-payments__content__option__inner-option__title">
              <p>Cédula jurídica</p>
            </div>
            <div fxFlex="55%" class="digital-payments__content__option__inner-option__content">
              <p>3-101-575885</p>
            </div>
          </div>
          <div fxLayout="row" class="digital-payments__content__option__inner-option">
            <div fxFlex="25%" class="digital-payments__content__option__inner-option__title">
              <p>Colones</p>
            </div>
            <div fxFlex="75%" class="digital-payments__content__option__inner-option__content">
              <span>CR91010200009093845399</span>
                <button (click)="copyIbanAccount('Cuenta copiada')"
                  cdkCopyToClipboard="CR91010200009093845399" mat-icon-button>
                  <mat-icon svgIcon="content-copy"></mat-icon>
                </button>

            </div>
          </div>
          <div fxLayout="row" class="digital-payments__content__option__inner-option">
            <div fxFlex="25%" class="digital-payments__content__option__inner-option__title">
              <p>Dólares</p>
            </div>
            <div fxFlex="75%" class="digital-payments__content__option__inner-option__content">
              <span>CR31010200009093845703</span>
              <button (click)="copyIbanAccount('Cuenta copiada')"
                cdkCopyToClipboard="CR31010200009093845703" mat-icon-button>
                <mat-icon svgIcon="content-copy"></mat-icon>
              </button>

            </div>
          </div>
          <p class="digital-payments__content__option__inner-content-first">Al realizar el pago de su tarjeta por esta
            via, debe:</p>
          <p class="digital-payments__content__option__inner-content">• Indicar en el detalle de la transferencia, su
            número de cuenta ubicado en el reverso de la tarjeta.</p>
          <p class="digital-payments__content__option__inner-content">• Hacer el reporte de pago <credix-link-button
              route="" text="aquí."></credix-link-button>
          </p>

        </div>
      </div>
    </div>
  </mat-card>
</div>
