.payment-places {
  &__banner-tab {
    h1 {
      margin-bottom: 16px;
    }

    ::ng-deep .credix-tab {
      margin-bottom: 16px !important;
    }
  }
}

.digital-payments {
  &__content {
      margin: 40px 0 0 106px;
      padding-right: 93px;

    ::ng-deep .credix-link-button {
      vertical-align: middle !important;
      font-weight: bold !important;
    }

    &__copy-icon {
      color: #e42313;
      width: 17px;
      height: 20px;
      padding-left: 16px;
      vertical-align: middle;
    }

    &__option {
      padding: 16px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
      }

      &__inner-option-first {
        padding: 16px 0;
        width: 380px;
      }

      &__inner-option {
        padding-bottom: 16px;
        width: 380px;

        &__title {
          text-align: start;
        }

        &__content {
          text-align: end;

          span {
            padding-right: 16px;
          }

          button {
            width: auto;
            height: 20px;
            line-height: 1 !important;
            background: none;
            border: none;
            padding: 0;

            mat-icon {
              color: #E42313;
              width: 17px;
              height: 20px;
              vertical-align: baseline;
            }
          }

          button:focus {
            outline: none;
          }
        }
      }

      &__inner-content-first {
        padding: 8px 0;
      }

      &__inner-content {
        padding-bottom: 8px;
      }
    }

    &__title {
      font-weight: bold;
    }
  }
}

::ng-deep .navigation-table__header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-left: -16px;
  margin-right: -16px;
}

@media screen and (max-width: 1199px) {

  .digital-payments {
    &__content {
      margin: 40px 0 0 64px;
      padding-right: 64px;

      &__text {
        padding-right: 16px;
      }

      &__option {
        &:first-child {
          padding: 16px 0 45px 0;
        }

        &__inner-option-first,
        &__inner-option {
          width: 350px;
        }

      }
    }
  }
}
