<div class="payment-places__banner-tab" fxLayout="row" fxLayoutGap="16px">
  <mat-card credixCard fxFlex="100">
    <h1>Lugares de pago</h1>
    <credix-tab (selectionEvent)="tabSelected($event)" [tabs]="tabs"></credix-tab>
    <credix-navigation-table *ngIf="tabShow" [details]="details" [headers]="['Comercios', 'Información del comercio']"
                             [options]="options"></credix-navigation-table>

    <div *ngIf="!tabShow" class="digital-payments__content">
      <div class="digital-payments__content__option" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">SINPE Móvil</p>
        </div>
        <div fxFlex="60%">
          <p>Realice un pase de dinero para pagar su tarjeta al número de SINPE Móvil de Credix:
            <credix-link-button
              route="" text="8927-3349"></credix-link-button>
            .
          </p>
        </div>
      </div>
      <div class="digital-payments__content__option" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">Transferencia a sus cuentas IBAN</p>
        </div>
        <div fxFlex="60%">
          <p>Pague mediante transferencia SINPE a las cuentas IBAN de su tarjeta.</p>
          <div class="digital-payments__content__option__inner-option-first" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Colones</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>CR00000000000000000001
                <mat-icon #tooltip="matTooltip" cdkCopyToClipboard="CR00000000000000000001"
                          class="digital-payments__content__copy-icon" matTooltip="Copiar" matTooltipPosition="after"
                          svgIcon="content-copy">
                </mat-icon>
              </p>
            </div>
          </div>
          <div class="digital-payments__content__option__inner-option" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Dólares</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>CR00000000000000000002
                <mat-icon #tooltip="matTooltip" cdkCopyToClipboard="CR00000000000000000002"
                          class="digital-payments__content__copy-icon" matTooltip="Copiar" matTooltipPosition="after"
                          svgIcon="content-copy">
                </mat-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="digital-payments__content__option" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="30%">
          <p class="digital-payments__content__title">Transferencia a cuentas IBAN de Credix</p>
        </div>
        <div fxFlex="60%">
          <p>También puede realizar el pago de su tarjeta mediante transferencia SINPE a las cuentas IBAN de Credix.</p>

          <div class="digital-payments__content__option__inner-option-first" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Cuenta a nombre de</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>Credix World S.A.</p>
            </div>
          </div>
          <div class="digital-payments__content__option__inner-option" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Cédula jurídica</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>3-101-575885</p>
            </div>
          </div>
          <div class="digital-payments__content__option__inner-option" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Colones</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>CR00000000000000000001
                <mat-icon #tooltip="matTooltip" cdkCopyToClipboard="CR00000000000000000001"
                          class="digital-payments__content__copy-icon" matTooltip="Copiar" matTooltipPosition="after"
                          svgIcon="content-copy"></mat-icon>
              </p>
            </div>
          </div>
          <div class="digital-payments__content__option__inner-option" fxLayout="row">
            <div class="digital-payments__content__option__inner-option__title" fxFlex="30%">
              <p>Dólares</p>
            </div>
            <div class="digital-payments__content__option__inner-option__content" fxFlex="70%">
              <p>CR00000000000000000002
                <mat-icon #tooltip="matTooltip" cdkCopyToClipboard="CR00000000000000000002"
                          class="digital-payments__content__copy-icon"
                          matTooltip="Copiar" matTooltipPosition="after" svgIcon="content-copy">
                </mat-icon>
              </p>
            </div>
          </div>
          <p class="digital-payments__content__option__inner-content-first">Al realizar el pago de su tarjeta por esta
            via, debe:</p>
          <p class="digital-payments__content__option__inner-content">• Indicar en el detalle de la transferencia, su
            número de cuenta ubicado en el reverso de la tarjeta.</p>
          <p class="digital-payments__content__option__inner-content">• Hacer el reporte de pago
            <credix-link-button
              route="" text="aquí."></credix-link-button>
          </p>

        </div>
      </div>
    </div>
  </mat-card>
</div>

