.payment-places {
  &__banner-tab {
    h1 {
      margin-bottom: 16px;
    }
    ::ng-deep .credix-tab {
      margin-bottom: 16px !important;
    }
  }

}

.digital-payments{
  &__content{
    margin: 35px 0 0 106px;
    padding-right: 93px;


    ::ng-deep .credix-link-button{
      vertical-align: middle !important;
      font-weight: bold !important;
    }

    &__copy-icon{
      color: #E42313;
      width: 17px;
      height: 20px;
      padding-left: 16px;
      vertical-align: middle;
    }

    &__option{
      padding: 16px;
      &:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
      }

      &__inner-option-first{
        padding: 16px 0;
      }
      &__inner-option{
        padding-bottom: 16px;
      }

      &__inner-content-first{
        padding: 8px 0;
      }
      &__inner-content{
        padding-bottom: 8px;
      }
    }
    &__title{
      font-weight: bold;
    }
  }



}

::ng-deep .navigation-table__header{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-left: -16px;
  margin-right: -16px;
}
