<mat-card class="credix-password-field-tooltip">
  <div class="credix-password-field-tooltip__validation-wrapper" *ngIf="tooltipType==='password'">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.minLength)"
              class="credix-password-field-tooltip__validation-wrapper__icon"
              svgIcon="check-circle-outline"></mat-icon>
    <span class="credix-password-field-tooltip__validation-wrapper__text">Mínimo 8 caracteres</span>
  </div>

  <div class="credix-password-field-tooltip__validation-wrapper" *ngIf="tooltipType==='password'">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.upperCaseLetter)"
              class="credix-password-field-tooltip__validation-wrapper__icon"
              svgIcon="check-circle-outline"></mat-icon>
    <span class="credix-password-field-tooltip__validation-wrapper__text">Debe contener al menos una mayúscula</span>
  </div>

  <div class="credix-password-field-tooltip__validation-wrapper" *ngIf="tooltipType==='password'">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.lowerCaseLetter)"
              class="credix-password-field-tooltip__validation-wrapper__icon"
              svgIcon="check-circle-outline"></mat-icon>
    <span class="credix-password-field-tooltip__validation-wrapper__text">Debe contener al menos una minúscula</span>
  </div>

  <div class="credix-password-field-tooltip__validation-wrapper" *ngIf="tooltipType==='password'">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.numericDigit)"
              class="credix-password-field-tooltip__validation-wrapper__icon"
              svgIcon="check-circle-outline"></mat-icon>
    <span class="credix-password-field-tooltip__validation-wrapper__text">
      Debe contener al menos un carácter númerico</span>
  </div>
  <div class="credix-password-field-tooltip__validation-wrapper" *ngIf="tooltipType==='pin'">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.minLength && !errors.upperCaseLetter && !errors.lowerCaseLetter) "
              class="credix-password-field-tooltip__validation-wrapper__icon"
              svgIcon="check-circle-outline"></mat-icon>
    <span class="credix-password-field-tooltip__validation-wrapper__text">
      Debe contener 4 caracteres numéricos</span>
  </div>
</mat-card>
