:host {
  width: 100%;
}

.credix-password-field-tooltip {
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  box-shadow: none;
  border-bottom: 4px solid #ffffff;
  background: #EFF1F3;

  :not(:last-child) {
    margin-bottom: 8px;
  }

  &__validation-wrapper {
    display: flex;
    flex-direction: row;

    :first-child {
      margin-right: 4px;
    }

    &__icon {
      color: #FFDC49;

      &.is-valid {
        color: #04D081;
      }
    }

    &__text {
      font-size: 12px;
      color: #3E3E3E;
    }
  }
}
