<mat-card class="previous-extend" credixCard fxLayout="column" fxLayoutGap="16px">
    <h1>Ampliar plazo de compra</h1>
    <p>Haga su cuota más pequeña, ampliando el plazo de su total adeudado o compras individuales.</p>
    
    <mat-divider credixDivider></mat-divider>

    <div class="previous-extend__content" fxLayout="column" fxLayoutGap="10px" fxFlex>
        <div class="previous-extend__content__pending" fxLayout="row" fxLayoutAlign="space-between" fxFlex="64px">
            <span><strong>Saldo pendiente</strong></span>
            <credix-numeric-block [value]="'2000'" class="tr"
                fontSize="24"
                fontWeight="bold"
                fxFlex="25"
                prefix="₡">
            </credix-numeric-block>
        </div>
        <mat-divider></mat-divider>
        <div class="previous-extend__content__option" fxLayout="row" fxLayoutAlign="space-between">
            <span><strong>Modifique su plazo</strong></span>
            <credix-slider fxFlex="420px" (inputChange)="getQuota($event)"
                   (valueChange)="getQuota($event)"
                   [displayMax]="termSliderDisplayMax"
                   [displayMin]="termSliderDisplayMin"
                   [displayValue]="termSliderDisplayValue"
                   [max]="termSliderMax"
                   [min]="termSliderMin"
                   [step]="termSliderStep"
                   instructions="Deseo ampliar este plazo a"
                   [units]="'Meses'"></credix-slider>
            <div fxLayout="column" fxLayoutAlign="flex-start flex-end" fxLayoutGap="4px">
                <span>Cuotas de:</span>
                <credix-numeric-block [value]="'2000'" class="tr"
                    fontSize="24"
                    fontWeight="bold"
                    fxFlex="25"
                    prefix="₡">
                </credix-numeric-block>
                <credix-link-button (click)="openSummary()">Ver detalle</credix-link-button>
            </div>
        </div>
        
    </div>

    <div class="actions-footer" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
        <credix-button (buttonClick)="extendTerm()">Ampliar plazo</credix-button>
    </div>
</mat-card>

<ng-template #summaryTemplate>
    <div class="h-100 summary-custom" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutGap="8px">
    
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ termTag || 'Plazo nuevo' }}</span>
            <span><strong>{{ paymentQuotaSummary?.quotaTo }} {{ paymentQuotaSummary?.quotaTo > 1 ? 'meses': 'mes' }} </strong></span>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ quoteTag || 'Cuota nueva' }}</span>
            <credix-numeric-block
              [value]="paymentQuotaSummary?.amountPerQuota"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ popupCommissionTag || 'Comisión' }} {{ '(' + paymentQuotaSummary?.commissionPercentage + '%)' }}*
            </span>
            <credix-numeric-block
              [value]="paymentQuotaSummary?.commissionAmount"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ popupInterestTag || 'Interés' }} {{ '(' + paymentQuotaSummary?.feePercentage + '% mensual)' }} 
            </span>
            
            <credix-numeric-block
              [value]="paymentQuotaSummary?.feeAmount"
              fontWeight="bold"
              prefix="₡"></credix-numeric-block>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex>{{ popupIvaTag || 'IVA*'}}</span>
            <credix-numeric-block
            [value]="paymentQuotaSummary?.IVA"
            fontWeight="bold"
            prefix="₡"></credix-numeric-block>
          </div>
        </div>
    
        <p fxFlex style="color: #707070; font-size: 14px !important; margin-bottom: 26px !important">
          * IVA y comisión se cargarán en el próximo estado de cuenta.
        </p>
    
        <div fxFlex fxFlexLayout="row" style="padding-top: 10px;" fxLayoutAlign="space-between">
          <span fxFlex style="font-size: 20px !important;">{{ paymentQuotaSummary.quotaTo }} Cuotas de</span>
            <credix-numeric-block
            [value]="paymentQuotaSummary?.amountPerQuota"
            fontSize="24"
            fontWeight="bold"
            prefix="₡"></credix-numeric-block>
        </div>
    </div>
</ng-template>