.income-step-container{
  .documents-uploaded-list{

    span{
      display: inline-flex;
      align-items: center;
      padding: 4px;
      gap: 4px;
      button{
        background-color: #E9E9E9;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: normal;
      }
      mat-icon{
        line-height: normal;
        width: auto;
        height: auto;
        font-size: 12px;
      }
    }

  }
}
