<mat-card fxLayout="column" fxLayoutGap="16px" class="card-details" credixCard>
    <div fxLayout="row">
        <div>
            <mat-icon class="logo-icon" [svgIcon]="icon"></mat-icon>
        </div>
        <div fxLayout="column">
            <div class="customer-name">
                Leonardo
            </div>
            <div class="account-number">
                VISA **** 0001
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="16px" class="current-pin">
        <div class="current-pin__info">
            <span>PIN actual:</span>
        </div>
        <div>
            <h2 class="current-pin__code">1234</h2>
        </div>
    </div>
</mat-card>