<div class="marchamo-second-step" fxLayout="column">

  <div class="mb-16px" fxLayout="row">
    <span class="first-column"><strong>Marchamo</strong></span>

    <span class="second-column">Monto al cobro</span>

    <div class="third-column" fxLayout="column" fxLayoutGap="4px">
      <credix-numeric-block [value]="totalAmount" fontSize="20" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
      <credix-link-button (click)="showMarchamoDetail()">Ver detalles</credix-link-button>
    </div>
  </div>

  <mat-divider class="mb-16px" credixDivider></mat-divider>

  <div fxLayout="row">
    <span class="first-column"><strong>Seguros opcionales</strong></span>

    <div class="second-column" fxLayout="column" fxLayoutGap="8px">
      <credix-checkbox-button
        (emitCheckBox)="getValueCheckBoxes($event)"
        *ngFor="let item of itemProduct"
        [checked]="isChecked"
        [label]="item.responseDescription"
        [value]="item.productCode"></credix-checkbox-button>
      <credix-checkbox-button (emitCheckBox)="getValueOfCheckBoxAll($event)" [value]="10"
                              label="Todos"></credix-checkbox-button>
    </div>

    <div class="third-column" fxLayout="column" fxLayoutGap="8px">
      <credix-numeric-block [value]="amountItemsProducts.responsabilityCivilAmount" fontSize="16"
                            fontWeight="bold" prefix="₡"></credix-numeric-block>
      <credix-numeric-block [value]="amountItemsProducts.roadAsistanceAmount" fontSize="16" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
      <credix-numeric-block [value]="amountItemsProducts.moreProtectionAmount" fontSize="16" fontWeight="bold"
                            prefix="₡"></credix-numeric-block>
    </div>
  </div>

  <mat-divider class="mt-16px mb-16px" credixDivider></mat-divider>

  <div fxLayout="column">

    <div class="mb-32px" fxLayout="row">
      <span class="first-column"><strong>Coutas</strong></span>

      <credix-slider (inputChange)="getQuota($event)"
                     (valueChange)="getQuota($event)"
                     [displayMax]="quotaSliderDisplayMax"
                     [displayMin]="quotaSliderDisplayMin"
                     [displayValue]="quotaSliderDisplayValue"
                     [instructions]="'Deseo dividir este pago en'"
                     [max]="quotaSliderMax"
                     [min]="quotaSliderMin"
                     [step]="quotaSliderStep"
                     [units]="'cuotas'"
                     [value]="this.secureAndQuotesForm.controls.quota.value"
                     class="second-column"></credix-slider>

      <div class="third-column" fxLayout="column" fxLayoutGap="4px">
        <credix-numeric-block [value]="amountPerQuota" fontSize="24" fontWeight="bold"
                              prefix="₡"></credix-numeric-block>
        <credix-link-button (click)="showQuotaDetail()">Ver detalles</credix-link-button>
      </div>
    </div>

    <div *ngIf="showQuotaPaymentSelect" class="mb-24px" fxLayout="row">
      <span class="first-column"></span>
      <span class="second-column tl">Comisión</span>
      <span fxFlex></span>
      <credix-numeric-block [value]="commission" fontWeight="bold" prefix="₡"></credix-numeric-block>
    </div>

    <div *ngIf="showQuotaPaymentSelect" fxLayout="row" fxLayoutAlign="center">
      <credix-select [formControl]="secureAndQuotesForm.controls.firstQuotaDate"
                     class="second-column"
                     label="Deseo pagar la primera cuota en">
        <mat-option *ngFor="let firstPaymentDate of firstPaymentDates" [value]="firstPaymentDate.value">
          {{ firstPaymentDate.description}}
        </mat-option>
      </credix-select>
    </div>

  </div>

</div>
