.marchamos-payment-summary {

  &__legend {
    color: #707070;
    font-size: 14px;
    margin-bottom: 52px;
  }

  ::ng-deep .credix-numeric-block {
    color: #3e3e3e !important;
  }
}

::ng-deep .marchamo-summary-panel {

  .mat-dialog-container {
    padding: 40px 32px 26px 32px;

    .credix-popup__title {
      margin-bottom: 16px;
    }
  }
}
