<ng-container [ngSwitch]="type">
  <button
    (click)="buttonClick.emit()"
    *ngSwitchCase="'primary'"
    [disabled]="disabled"
    class="credix-button"
    color="primary"
    mat-flat-button
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
  <button
    (click)="buttonClick.emit()"
    onclick="this.blur()"
    *ngSwitchCase="'secondary'"
    [disabled]="disabled"
    class="credix-button"
    color="primary"
    mat-stroked-button
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
  <button
    (click)="buttonClick.emit()"
    *ngSwitchDefault
    [disabled]="disabled"
    [routerLink]="route ? [route] : []"
    class="credix-button"
    color="primary"
    mat-flat-button
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</ng-container>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
