.credix-button {
  width: inherit;
  border-radius: 4px;
  font-family: Hebbo, sans-serif;
  font-size: 16px;
  font-weight: bold;

  &.mat-flat-button {
    ::ng-deep.mat-button-wrapper {
      color: #ffffff;
    }
  }

  &.mat-stroked-button {
    border: 1px solid #e42313;

    ::ng-deep.mat-button-wrapper {
      color: #dd2218;
    }

    &[disabled] {
      border: 1px solid #d2d2d2;

      ::ng-deep.mat-button-wrapper {
        color: #d2d2d2;
      }
    }
  }

  &:hover:enabled {
    background-color: #e42313;

    &.mat-stroked-button {
      ::ng-deep.mat-button-wrapper {
        color: #ffffff;
      }
    }
  }
}
