<div class="alerts-and-messages" fxLayout="row wrap" fxLayoutGap="24px">

  <credix-button (buttonClick)="showToast('success', 'Mensaje de éxito')"
                 text="Mostrar mensaje de exito"></credix-button>

  <credix-button (buttonClick)="showToast('warning', 'Mensaje de advertencia')"
                 text="Mostrar mensaje de advertencia"></credix-button>

  <credix-button (buttonClick)="showToast('error', 'Mensaje de error')"
                 text="Mostrar mensaje de error"></credix-button>

  <credix-button (buttonClick)="showToast('info', 'Este es un mensaje informativo')"
                 text="Mostrar mensaje informativo"></credix-button>
</div>
