.credix-numeric-block-specific {
  color: inherit;

  &__integer {
    font-size: 1em;
    color: #3e3e3e;
  }

  &__decimal {
    font-size: 0.8em;
    color: #3e3e3e;
  }
}

.isDisabled{
  color: rgba(0, 0, 0, 0.38);
}
