.container-response {
  width: 100%;
  padding: 0 184px;
  height: 412px;

  &__shared-button {
    margin-top: 44px;
  }

  &__buttons {
    margin: 16px 0;
  }

 
}

.response{
  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px;
  }
}