.date-range-popup {
  position: relative;
  box-sizing: border-box;
  height: auto;

  &__input {
    height: 42px;
    margin-bottom: 16px;
  }

    &__button {
      width: 100%;
      margin: 24px auto;
    }
}

::ng-deep .schedule-quotas-dates-panel {
  .mat-dialog-container {
    padding: 50px 16px 0;
    box-sizing: border-box;

    .credix-date-picker{

      .mat-form-field-appearance-standard .mat-form-field-flex{
        padding-top: 18px;
      }

      &__calendar-icon{
        width: 24px;
        height: 26px;
        margin: 8px;
      }
    }
    .credix-popup__title {
      margin: 0 0 16px;
    }
  }
}
