<form [formGroup]="newDateRangeForm" class="date-range-popup " fxLayout="column">
  <p>{{tag1 || 'Seleccione el período de tiempo en que desea que aplique la regla:'}}</p>

  <div class="date-range-popup__input">
    <credix-date-picker [startDate]="today" formControlName="initDate" [label]="tag2 || 'Fecha inicial'"></credix-date-picker>
  </div>

  <div class="date-range-popup__input">
    <credix-date-picker [startDate]="today" formControlName="endDate" [label]="tag3 || 'Fecha final'">
    </credix-date-picker>
    <mat-error  *ngIf="this.validarDate(this.newDateRangeForm.get('initDate').value, this.newDateRangeForm.get('endDate').value);" error>
      {{'La fecha final debe ser mayor a la fecha inicial.'}}
    </mat-error>
  </div>

  <ng-container *ngIf=" !this.validarDate(this.newDateRangeForm.get('initDate').value, this.newDateRangeForm.get('endDate').value)">
    <div class="date-range-popup__button" ngStyle="" fxLayout="row" fxLayoutAlign="center center">
      <credix-button (click)="submit()"
        [disabled]="newDateRangeForm.invalid">{{tag4 || 'Definir fecha'}}
      </credix-button>
    </div>
  </ng-container>
</form>
