<div fxLayout="column" fxLayoutGap="16px" class="card_additionals" >
    <mat-card class="card_aditionals_title" credixCard fxLayout="column">
        <h2 class="w-100">Tarjetas adicionales</h2>
    </mat-card>
    <!--<div class="title" style="width: 877px; height: 100px; background-color: white">
        Tarjetas adicionales
    </div>-->
    <div fxLayout="row" fxLayoutGap="16px" class="card_additionals_details w-100">
        <mat-card fxFlex="50" credixCard class="card-details">
            <!--<img alt="credix-logo" src="../../../../assets/images/avatar-icon.svg">-->
            <div class="account_info" fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="row" class="account_info_number">
                    <div class="image-logo">
                        image
                    </div>
                    <div fxLayout="column">
                        <div class="customer_name">
                            Leonardo
                        </div>
                        <div class="account_number">
                            VISA **** 0001
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="16px" class="current_pin">
                    <div><span>PIN actual</span></div>
                    <div>
                        <h2>1234</h2>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card fxFlex="50" credixCard class="card-details">
            Card 2
        </mat-card>
    </div>
</div>
