.sign__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background: #F0F0F0;
  padding-left: 16px;
  padding-right: 16px;

  span {
    font-size: 10px;
    color: #696D6F;
  }
}
