<div class="container-response" fxLayout="column">
  <credix-result-notification
    [message]="resultPay.messageToPay"
    [status]="resultPay.responseToPay"></credix-result-notification>

  <mat-divider *ngIf="resultPay.responseToPay !== 'error'" class="mb-24px"></mat-divider>
  <div *ngIf="resultPay.responseToPay !== 'error'" fxLayout="row" fxLayoutAlign="space-between">

    <span><strong>{{resumeTitle || 'Datos del Pago'}}</strong></span>
    <div fxLayout="column" fxLayoutGap="8px">

      <div fxLayout="row" fxLayoutGap="41px">
        <label>{{amountResult || 'Monto'}}</label>
        <credix-numeric-block [value]="resultPay.totalMount" fontSize="16" fontWeight="bold"
                              prefix="₡"></credix-numeric-block>
      </div>
      <div fxLayout="row" fxLayoutGap="107px">
        <label>Cuotas</label>
        <span style="font-weight: bold; font-size: 16px;">{{resultPay.quotas}}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="65px">
        <label>{{placaResult || 'Placa'}}</label>
        <span style="font-weight: bold; font-size: 16px;">{{resultPay.plateNumber}}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="47px">
        <label>{{dateResult || 'Fecha'}}</label>
        <span
          style="font-weight: bold; font-size: 16px;"> {{resultPay.firstCouteToPayIn}} </span>
      </div>

    </div>
  </div>

  <credix-share-button
    *ngIf="resultPay.responseToPay !== 'error'"
    class="container-response__shared-button mb-32px"
    description="Con tu donación estarás ayudando a alimentar a 100.000 familias afectadas por el COVID-19"
    fxLayoutAlign="center"
    url="https://www.credix.com/somos-uno/">
  </credix-share-button>
  <mat-divider class="mb-16px"></mat-divider>

  <div class="response__footer" fxLayout="row" fxLayoutAlign="flex-end">
    <credix-button
      (click)="doAnotherPay()"
      [text]="resultPay.responseToPay === 'success' ? 'Realizar otro pago': 'Aceptar'">
    </credix-button>
  </div>
</div>
