    <form [formGroup]="consultForm"
        class="first-step"
        fxLayout="row"
        fxLayoutGap="150px">
    <h3 class="marchamos__sub-title">Vehículo a consultar</h3>

        <div class="first-step__inputs" fxLayout="column">
            

            <credix-select
                class="first-step__select"
                label="Tipo de vehículo"
                [formControl]="consultControls.vehicleType">
                <mat-option *ngFor="let vehicleTypes of vehicleType" [value]="vehicleTypes.type">
                    {{ vehicleTypes.description}}
                </mat-option>
            </credix-select>


            <credix-input-field 
                class="first-step__input"
                credixTextField 
                onFocusLabel="Placa" 
                label="Número de placa" 
                formControlName="plateNumber" 
                mask="AAAAAAAA">
            </credix-input-field>

        </div>

    </form>