<div class="first-step">

    <div class="first-step__credix-code" fxLayout="row">
        <div fxLayout="column" class="first-step__credix-code information">
            <span>Código MiCredix</span>
            <p>Ingrese el código generado en la aplicación <credix-link-button text="Código MiCredix"></credix-link-button><mat-icon [svgIcon]="'chevron_right'" style="height:10px; width:6px; fill: #239DF7;"></mat-icon> </p>
        </div>

        <credix-code-input 
        class="first-step__credix-code-input"
        [(codeFormControl)]="credixCode" 
        [length]="6"
        errorMessage="Introduzca el codigo de confirmación">
        </credix-code-input>
    </div>
</div>