.first-step{
    padding: 0 84px;
    &__credix-code{
       
        &.information{
            p{
                width: 234px;
                height: 42px;
            }
        }
        &-input{
            width: 380px;
        }
    }
}

