.first-step{
    height: 432px;
    margin-left: 101px;
    margin-right: 99px;
    &__credix-code{
       
        &.information{
            margin-right: 92px;
            span{
                font-weight: bold;
                font-size: 16px;
            }
            p{
                
                width: 234px;
                height: 42px;
            }
        }
        &-input{
            width: 380px;
        }
    }
}

