<div class="marchamo-first-step" fxLayout="column" fxLayoutGap="32px">

  <form [formGroup]="consultForm" class="mt-8px" fxLayout="row" fxLayoutAlign="space-between">

    <span fxFlex="185px"><strong>Vehículo a consultar</strong></span>

    <div class="left-content" fxLayout="column" fxLayoutGap="18px">
      <credix-select class="marchamo-first-step__input" formControlName="vehicleType"
                     label="Tipo de vehículo">
        <mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.type">
          {{ vehicleType.description}}
        </mat-option>
      </credix-select>

      <credix-input-field class="marchamo-first-step__input" focusLabel="Placa" formControlName="plateNumber"
                          label="Número de placa"
                          mask="AAAAAAAA">
      </credix-input-field>
    </div>

  </form>

  <mat-divider *ngIf="consultVehicle" credixDivider></mat-divider>

  <div *ngIf="consultVehicle" fxLayout="row" fxLayoutAlign="space-between">

    <span fxFlex="220px"><strong>{{step1Subt || 'Información del vehículo'}}</strong></span>

    <div class="left-content" fxLayout="column" fxLayoutGap="8px">

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <span fxFlex="160px">{{step1Tag1 || 'Propietario'}}</span>
        <span class="tr truncate" fxFlex><strong>{{consultVehicle.ownerName}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span fxFlex="160px">{{step1Tag2 || 'Marca'}}</span>
        <span class="tr"><strong>{{consultVehicle.brandDescription}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span fxFlex="160px">{{step1Tag3 || 'Año'}}</span>
        <span class="tr"><strong>{{consultVehicle.yearModel}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span fxFlex="160px">{{step1Tag4 || 'Períodos adeudados'}}</span>
        <span class="tr"><strong>{{consultVehicle.owedYears}}</strong></span>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <span fxFlex="160px">{{step1Tag5 || 'Período (s) a pagar'}}</span>
        <span class="tr"><strong>{{consultVehicle.period}}</strong></span>
      </div>
    </div>

  </div>

</div>
