.personal-info-editor {
  position: relative;
  height: 860px;

  &__container {
    padding: 0 84px;
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px;
  }
}

@media screen and (max-width: 1199px) {

  .personal-info-editor {
    height: 886px;

    &__container {
      padding: 0 76px;
    }
  }
}
