.iban-accounts {
  margin: 0 -16px;

  &__list {
    position: relative;
  }

  &__right-content {
    position: relative;
  }

  &__footers {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E9E9E9;
    padding: 16px;
  }
}
