<div class="personal-credit-second-step" fxLayout="column" fxLayoutAlign="flex-start center">

  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between">

    <div class="left-content" fxFlexAlign="flex-start flex-start" fxLayout="column" fxLayoutGap="16px">

      <div fxLayout="column">
        <span class="ml-20px left-content">Transferencia</span>

        <credix-input-field class="personal-credit-second-step__input ml-20px"
                            [formControl]="accountControl" label="Digite la cuenta IBAN">
             <span *ngIf="accountControl.hasError('invalid')"
                   error>Cuenta IBAN inválida.</span>
        </credix-input-field>

        <span class="ml-20px left-content">
          {{ secondStepOption1Tag || 'El dinero será transferido en un plazo máximo de 48 horas hábiles.'}}</span>

      </div>

    </div>

  </div>

</div>
