.personal-credit-second-step {
  padding: 0 84px;
  margin-top: 32px;

  &__input {
    width: 360px;
    height: 43px;
    margin-bottom: 24px;
    margin-top: 16px;
  }

  &__divider {
    width: 100%;
    border: 1px solid #E9E9E9;
    margin-top: 8px;
  }

  .ml-20px {
    margin-left: 20px;
  }

  .left-content {
    width: 360px;
  }
}

@media screen and (max-width: 1199px) {

  .personal-credit-second-step {
    padding: 0 78px;

    .left-content {
      width: 250px;
    }

    &__input {
      width: 250px;
    }
  }
}
