.second-step {
  margin-top: 32px;
  padding: 0 100px;

  &__content {
    width: 100%;
  }

  &__input {
    height: 43px;

    &:first-of-type {
      margin-bottom: 21px;
    }
  }

  &__slider, &__input {
    width: 280px;
  }

  ::ng-deep {
    .credix-slider__header__instructions {
      font-size: 14px;
    }
  }

}

::ng-deep.details-panel {

  mat-dialog-container {
    padding-bottom: 32px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .credix-popup__title {
    margin-bottom: 16px !important;
  }
}

@media screen and (max-width: 1199px) {
  .second-step {
    padding: 0;
  }
}

:host { 
  credix-input-field ::ng-deep mat-form-field {
    .mat-form-field-wrapper {
      .mat-form-field-flex  {
        padding-top: 7.2px !important;
      }
    }
  } 
}




