.balances-card {
  width: 382px;
  height: 595px;

  &__cards-select {
    width: 174px;
    height: 24px;
    margin-top: 16px;
    margin-bottom: 50px;

    &__trigger {

      span.is-additional {
        width: 106px;
        margin-right: 0 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
    }
  }

  &__options {
    border-bottom: 1px solid #E9E9E9;
  }

  &__card-icon {
    width: 27px;
    height: 20px;
    vertical-align: baseline;
  }

  &__arrow-icon {
    display: flex;
    width: 13px;
    height: 8px;
    color: #E42313;
  }

  &__tag {
    font-size: 14px;
    color: #696D6F;
    line-height: 21px;
  }

  &__legend {
    font-size: 12px;
    line-height: 21px;
  }

  &__divider {
    width: 100%;
    border: 1px solid #E9E9E9;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__iban-account-wrapper {
    height: 24px;

    span:first-of-type {
      font-weight: bold;
    }

    a {
      width: auto;
      height: 20px;
      line-height: 1 !important;

      &:hover {
        cursor: pointer;
      }

      mat-icon {
        color: #E42313;
        width: 17px;
        height: 20px;
        vertical-align: baseline;

        &.is-green {
          color: #19D27E;
        }
      }
    }
  }
}

:host ::ng-deep.mat-select-value {
  display: contents;

  .mat-select-value-text {
    display: inline-block;
    height: 24px;

    mat-select-trigger {
      display: flex;
      align-items: center;

    }
  }
}

:host ::ng-deep.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep.select-cards-panel {
  width: 218px !important;
  min-width: 100% !important;

  .mat-option-text {
    width: 100%;
  }

  mat-option {
    background: #ffffff !important;

    &:hover {
      background: #FAFAFA !important;
    }
  }
}

@media screen and (max-width: 1199px) {
  .balances-card {
    width: 360px;
  }
}
