<mat-card class="balances-card" credixCard fxLayout="column" fxLayoutAlign="start center">
  <h2 class="w-100">Saldos</h2>

  <mat-select [formControl]="cardFormControl" class="balances-card__cards-select" disableOptionCentering
              disableRipple panelClass="select-cards-panel">
    <mat-select-trigger>
      <mat-icon class="balances-card__card-icon mr-8px" svgIcon="redCard"></mat-icon>
      <span class="mr-8px">{{getSelectedCard().typeCard}}</span>
      <span>{{getSelectedCardNumber(cardFormControl.value)}}</span>
    </mat-select-trigger>
    <mat-option *ngFor="let card of cards; let last = last" [value]="card.cardId">
      <mat-icon [svgIcon]="card.category === 'Principal' ? 'redCard' : 'additionalCards'" class="mr-8px"></mat-icon>
      <span>{{card.typeCard}} {{card.name}}</span>
      <mat-divider *ngIf="!last" class="w-100"></mat-divider>
    </mat-option>
  </mat-select>

  <credix-gauge [max]="limit" [min]="0" [prefix]="prefix" [value]="available" label="Disponible">
    <credix-numeric-block [prefix]="prefix" [value]="available" fontSize="20" fontWeight="bold"></credix-numeric-block>
  </credix-gauge>


  <div class="w-100" fxLayout="row">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="flex-start flex-start">
      <span class="balances-card__tag">Consumidos</span>
      <credix-numeric-block [prefix]="prefix" [value]="consumed" fontSize="24" fontWeight></credix-numeric-block>
    </div>

    <div fxFlex="50" fxLayout="column" fxLayoutAlign="flex-start flex-end">
      <span class="balances-card__tag">Límite de crédito</span>
      <credix-numeric-block [prefix]="prefix" [value]="limit" fontSize="24" fontWeight></credix-numeric-block>
      <credix-link-button text="Aumentar límite"></credix-link-button>
    </div>
  </div>

  <mat-divider class="balances-card__divider"></mat-divider>

  <span class="balances-card__tag w-100 mb-8px">Cuentas IBAN</span>

  <div class="w-100" fxLayout="column" fxLayoutGap="4px">
    <div class="balances-card__iban-account-wrapper" fxLayout="row" fxLayoutAlign="space-between">
      <span>Colones</span>
      <span>CR00000000000000000001</span>
      <button cdkCopyToClipboard="CR00000000000000000001" mat-icon-button>
        <mat-icon svgIcon="content-copy"></mat-icon>
      </button>
    </div>
    <div class="balances-card__iban-account-wrapper" fxLayout="row" fxLayoutAlign="space-between">
      <span><strong>Dólares</strong></span>
      <span>CR00000000000000000002</span>
      <button cdkCopyToClipboard="CR00000000000000000002" mat-icon-button>
        <mat-icon svgIcon="content-copy"></mat-icon>
      </button>
    </div>
  </div>

</mat-card>
