.popup-detail {
  div {
    margin-bottom: 8px;

    p {
      width: 156px;
      height: 46px;
      font-weight: normal;
      font-size: 16px;
    }
    .billing-amount{
      width: 85px;
      height: 24px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__total-mount {
    margin-top: 8.24px;

    span {
      width: 45px;
      height: 29px;
      font-weight: bold;
      font-size: 16px;
    }
    .total-number{
      width: 143px;
      height: 35px;
    }
  }
}
