<div class="popup-detail" fxLayout="column">
  <div *ngFor="let billing of billingHistorys" fxLayout="row">
    <p class="mb-16px">{{billing.itemDescription}}</p>
    <credix-numeric-block 
    class="billing-amount"    
    [value]="billing.itemAmount" 
    fontSize="16" 
    fontWeight="bold"
    prefix="₡"></credix-numeric-block>
  </div>
  <mat-divider class=""></mat-divider>
  <div class="popup-detail__total-mount" fxLayout="row" fxLayoutGap="120px">
    <span>Total</span>
    <credix-numeric-block class="total-number" [value]="totalAmount" fontSize="24" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
</div>
