<div class="popup-detail" fxLayout="column">
  <div *ngFor="let billing of billingHistorys" fxLayout="row" fxLayoutGap="64px">
    <p>{{billing.itemDescription}}</p>
    <credix-numeric-block [value]="billing.itemAmount" fontSize="16" fontWeight="bold"
                          prefix="₡"></credix-numeric-block>
  </div>
  <mat-divider></mat-divider>
  <div class="popup-detail__total-mount" fxLayout="row" fxLayoutGap="176px">
    <span>Total</span>
    <credix-numeric-block [value]="totalAmount" fontSize="16" fontWeight="bold" prefix="₡"></credix-numeric-block>
  </div>
</div>
