.quotes {
  padding-left: 17px;
  padding-right: 32px;
  padding-top: 16.5px;

  &__label {
    margin-right: 179px;
    font-size: 16px;
    font-weight: bold;
  }

  &__slider {
    width: 266px;
    margin-bottom: 32px;
  }

  &__select {
    width: 265px;
  }

  &__prices {

  }
}
