.quotes {
  padding-left: 101px;
  padding-right: 99px;
  padding-top: 16.5px;

  &__slider {
    margin-right: 67px;
    width: 280px;
    margin-bottom: 32px;
  }

  &__select {
    width: 280px;
  }

  &__prices {

  }
}
