<div class="credix-tab">
  <ng-container *ngFor="let tab of tabs, let index = index">
    <label #element [class.is-checked]="index === activeIndex" class="credix-tab__label">
      <input (click)="isTabSelected(tab, index, element.offsetLeft)"
             (keydown.enter)="isTabSelected(tab, index, element.offsetLeft)" class="credix-tab__input"
             name="view"
             type="radio">
      {{tab.name}}
    </label>
  </ng-container>
  <span [style.left.px]="displacement" class="credix-tab__selection">{{activeTab}}</span>
</div>

